<script type="text/html" id="nodeBoxTemplate">
  <div class="media pull-left nodeBox" style="border: 1px solid black; width: 350px; background-color: whiteSmoke; margin: 0px 20px 20px 0px;">
    <a class="pull-left" href="#" data-bind="hrefFirst: ['node', $data._id()]">
      <img style="width: 80px; height: 80px;" class="media-object" data-bind="srcNodeProfilePicture: [ $data._id(), 80, 80, 1 ]">
    </a>
    <div class="media-body" style="margin-top: 5px; padding: 5px;">
      <span class="pull-left">
        <i style="vertical-align: center;" class="icon-book" data-bind="visible: $data.type() === 'album'"></i>
        <i style="vertical-align: center;" class="icon-user" data-bind="visible: $data.type() === 'person'"></i>
        <i style="vertical-align: center;" class="icon-camera" data-bind="visible: $data.type() === 'camera'"></i>
        <i style="vertical-align: center;" class="icon-plane" data-bind="visible: $data.type() === 'vehicle'"></i>
        <i style="vertical-align: center;" class="icon-flag" data-bind="visible: $data.type() === 'location'"></i>
      </span>
      <h6 class="media-heading"><a href="#" style="cursor: pointer;" data-bind="hrefFirst: ['node', $data._id()], text: $data.name()"></a></h6>
      <div class="muted" style="font-size: 10px;">
        -
        <span data-bind="visible: $data.added.timestamp() === $data.modified.timestamp()">
          added
        </span>
        <span data-bind="visible: $data.added.timestamp() !== $data.modified.timestamp()">
          last modified
        </span>
        <span data-bind="htmlTimeAgo: $data.modified.timestamp()"></span> by <span data-bind="textUserAttribute: [ $data.modified._by(), 'name' ]"></span></div>
<!--                       <i data-bind="visible: $data.hasAdminAccess()" title="Administration access" class="icon-edit pull-right"></i>-->
<!--               <i data-bind="visible: !$data.hasAdminAccess()" title="Read access" class="icon-eye-open pull-right"></i>-->
    </div>
  </div>
</script>

<script type="text/html" id="nodePersonItemTemplate">
  <div data-bind="if: $data.id() !== false">
    <div class="media" style="background-color: whiteSmoke; border: 1px solid #E5E5E5; padding: 5px; margin-right: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;">
      <img class="pull-left media-object" draggable="false" src="" alt="" style="width: 44px; height: 44px;" data-bind="srcNodeProfilePicture: [ $data.id(), 80, 80, 1 ]"/>
      <div class="media-body">
        <a class="pull-right" href="#" data-bind="click: $data.remove"><i class="icon-trash"></i></a>
        <h4 class="media-heading" data-bind="textNodeAttribute: [ $data.id(), 'name' ]"></h4>
      </div>
    </div>
  </div>
</script>

<div class="sidebar-nav" data-bind="visible: nodeModel.show() && nodeModel.node() !== false">
  <!-- ko if: nodeModel.node() !== false -->
    <div style="position: relative; width: 250px; height: 250px; z-index: 100" data-bind="event: { drop: nodeModel.dragDrop, dragover: nodeModel.dragOver }">
      <div draggable="false" style="width: 250px; height: 250px; position: absolute; top: 0px; left: 0px; text-align: center; font-size: 30px; color: whiteSmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black" data-bind="visible: (nodeModel.showDrop() || !nodeModel.node()._profilePicture || !nodeModel.node()._profilePicture()) && nodeModel.node().hasAdminAccess()">
        <br/>
        <br/>
        <br/>
        Drop here
      </div>

      <img draggable="false" class="" src="img/profile_picture_overlay.png" style="width: 250px; height: 250px; position: absolute; top: 0px; left: 0px;">

      <img draggable="false" src="" alt="" style="width: 250px; height: 250px;" data-bind="srcNodeProfilePicture: [ nodeModel.node()._id(), 250, 250, 1 ]"/>
    </div>
  <!-- /ko -->

  <div class="sidebar-nav-content">
    <ul class="nav nav-list">

      <li data-bind="fadeVisible: nodeModel.aboutModel.enabled, css: { 'active': nodeModel.aboutModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'about'">
          <i class="icon-list-alt"></i> About
        </a>
      </li>

      <li data-bind="fadeVisible: nodeModel.filesModel.enabled, css: { 'active': nodeModel.filesModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'files'">
          <i class="icon-th"></i> Files <span data-bind="fadeVisible: nodeModel.files().length > 0, text: nodeModel.files().length" class="badge pull-right"></span>
        </a>
      </li>

      <li data-bind="fadeVisible: nodeModel.timelineModel.enabled, css: { 'active': nodeModel.timelineModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'timeline'">
          <i class="icon-time"></i> Timeline <span data-bind="fadeVisible: nodeModel.items().length > 0, text: nodeModel.items().length" class="badge pull-right"></span>
        </a>
      </li>

    <li data-bind="fadeVisible: nodeModel.relationsModel.enabled, css: { 'active': nodeModel.relationsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'relations'">
          <i class="icon-retweet"></i> Relations
        </a>
      </li>

      <li data-bind="fadeVisible: nodeModel.issuesModel.enabled, css: { 'active': nodeModel.issuesModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'issues'">
          <i class="icon-warning-sign"></i> Issues <span data-bind="fadeVisible: nodeModel.issuesModel.issues().length > 0, text: nodeModel.issuesModel.issues().length" class="badge badge-important pull-right"></span>
        </a>
      </li>

      <li data-bind="fadeVisible: nodeModel.commentsModel.enabled, css: { 'active': nodeModel.commentsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'comments', if: nodeModel.node() !== false">
          <i class="icon-comment"></i> Comments <span data-bind="fadeVisible: nodeModel.node().comments().length > 0, text: nodeModel.node().comments().length" class="badge pull-right"></span>
        </a>
      </li>
      <li data-bind="if: nodeModel.node() !== false && nodeModel.node().hasAdminAccess()">

        <form data-bind="submit: nodeModel.tagSubmit" style="margin: 0px; margin-top: 10px;">
          <input class="input-large" placeholder="Write tag name" type="text" data-bind="disable: nodeModel.tagLoading, value: nodeModel.tagName, typeahead: { source: nodeModel.tagTypeaheadSource, updater: nodeModel.tagTypeaheadUpdater }" data-provide="typeahead"/>
        </form>

      </li>
      <li data-bind="if: nodeModel.node() !== false">
        <!-- ko foreach: nodeModel.node().tags -->
          <span class="label label-success">
            <a href="#" data-bind="text: $data, attr: { href: '#search:tag=' + $data }" style="color: white; cursor: pointer; text-decoration: none;"></a>
            &nbsp;
            <a href="#" style="color: white;" data-bind="click: $parent.nodeModel.tagRemove">×</a>
          </span>
        <!-- /ko -->

      </li>
    </ul>

    <div style="position: absolute; left: 0px; right: 0px; bottom: 0px; text-align: center;" data-bind="if: nodeModel.node() !== false">
      <div class="modal-footer" style="text-align: center;" data-bind="visible: nodeModel.node().hasAdminAccess()">
        <button rel="tooltip" title="Edit accesses" class="btn btn-link btn-mini" href="#editAccessModal" data-toggle="modal">Accesses</button>
        <button data-bind="ifnotset: nodeModel.node().public, disable: nodeModel.publicLoading, click: nodeModel.changePublic.bind($data, true)" rel="tooltip" title="Make public" class="btn btn-link btn-mini">Make public</button>
        <button data-bind="ifset: nodeModel.node().public, disable: nodeModel.publicLoading, click: nodeModel.changePublic.bind($data, false)" rel="tooltip" title="Make private" class="btn btn-link btn-mini" style="margin: 0px;">Make private</button>
        <button rel="tooltip" title="Edit" class="btn btn-link btn-mini" href="#" data-bind="click: nodeModel.editNode">Edit</button>
      </div>
    </div>
  </div>

  <div class="sidebar-nav-background"></div>
</div>

<div class="well" data-bind="fadeVisible: nodeModel.show() && !nodeModel.node() && !nodeModel.loadingNode()"  style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 60px; text-align: center; position: relative; z-index: 5;">
  <h3>Could not access the requested node</h3>
  <p class="text-error">The node might not exist or there are insufficient rights to access it.</p>
  <p><a href="#">Back to the start page</a></p>
</div>

<div class="modal" id="editAccessModal" tabindex="-1" role="dialog" aria-labelledby="editAccessModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.groupAccessLoading" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editAccessModalLabel">Edit accesses</h3>
  </div>
  <div class="modal-body">
    <form data-bind="submit: dummySubmit" style="margin: 0px">
      <input placeholder="Group name" type="text" style="width: 515px;" data-bind="disable: nodeModel.groupAccessLoading, value: nodeModel.groupAccessName, typeahead: { items: 20, source: nodeModel.groupAccessTypeaheadSource, sorter: nodeModel.nodeTypeaheadSorter, matcher: nodeModel.nodeTypeaheadMatcher, highlighter: nodeModel.groupAccessTypeaheadHighlighter, updater: nodeModel.groupAccessTypeaheadUpdater }" data-provide="typeahead"/>
    </form>

    <h4>Groups with accesses</h4>
    <table class="table table-condensed table-hover">
      <tbody>

      <!-- ko foreach: nodeModel.node()._admins -->
        <tr class="info">
          <td><i title="Administration access" class="icon-edit"></i>&nbsp;&nbsp;<span data-bind="textGroupAttribute: [ $data, 'name' ]"></span></td>
          <td>
            <button data-bind="disable: $parent.nodeModel.groupAccessLoading, click: $parent.nodeModel.groupAccessRemove" class="btn btn-mini btn-link pull-right">Remove</button>
            <button data-bind="disable: $parent.nodeModel.groupAccessLoading, click: $parent.nodeModel.groupAccessMakeReader" class="btn btn-mini btn-link pull-right">Revoke admin access</button>
          </td>
        </tr>
      <!-- /ko -->

      <!-- ko foreach: nodeModel.node()._readers -->
        <tr>
          <td><i title="Read access" class="icon-eye-open"></i>&nbsp;&nbsp;<span data-bind="textGroupAttribute: [ $data, 'name' ]"></span></td>
          <td>
            <button data-bind="disable: $parent.nodeModel.groupAccessLoading, click: $parent.nodeModel.groupAccessRemove" class="btn btn-mini btn-link pull-right">Remove</button>
            <button data-bind="disable: $parent.nodeModel.groupAccessLoading, click: $parent.nodeModel.groupAccessMakeAdmin" class="btn btn-mini btn-link pull-right">Grant admin access</button>
          </td>
        </tr>
      <!-- /ko -->

      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.groupAccessErrorText() != '', text: nodeModel.groupAccessErrorText"></p>
    <button data-bind="disable: nodeModel.groupAccessLoading" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="modal" id="createNodeDoneModal" tabindex="-1" role="dialog" aria-labelledby="createNodeDoneModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createNodeDoneModalLabel">Created node successfully</h3>
  </div>
  <div class="modal-body">
    <p>
      Before continuing the following things should be considered:
      <ul>
        <li>Make sure to check the Access rights for the node so you give access to the groups you want.</li>
        <li>Add tags relevant to this node.</li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>



<form class="modal" id="editAlbumModal" tabindex="-1" role="dialog" aria-labelledby="editAlbumModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.editAlbumSubmit">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.editAlbumLoading" type="editAlbumModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 data-bind="visible: nodeModel.editAlbumNode() === false">Create a album</h3>
    <h3 data-bind="visible: nodeModel.editAlbumNode() !== false">Edit album</h3>
  </div>
  <div class="modal-body">
    <input placeholder="Name" type="text" style="width: 515px;" data-bind="disable: nodeModel.editAlbumLoading, value: nodeModel.editAlbumName"/>
    <textarea placeholder="Description" style="width: 515px; height: 100px;" data-bind="disable: nodeModel.editAlbumLoading, value: nodeModel.editAlbumDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.editAlbumErrorText() != '', text: nodeModel.editAlbumErrorText"></p>
    <button data-bind="disable: nodeModel.editAlbumLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.editAlbumLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<form class="modal" id="editPersonModal" tabindex="-1" role="dialog" aria-labelledby="editPersonModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.editPersonSubmit">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.editPersonLoading" type="editPersonModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 data-bind="visible: nodeModel.editPersonNode() === false">Create a person</h3>
    <h3 data-bind="visible: nodeModel.editPersonNode() !== false">Edit person</h3>
  </div>
  <div class="modal-body">
    <input placeholder="Name" type="text" style="width: 515px;" data-bind="disable: nodeModel.editPersonLoading, value: nodeModel.editPersonName"/>
    <input placeholder="Birthname" type="text" style="width: 515px;" data-bind="disable: nodeModel.editPersonLoading, value: nodeModel.editPersonBirthname"/>
    <textarea placeholder="Description" style="width: 515px; height: 100px;" data-bind="disable: nodeModel.editPersonLoading, value: nodeModel.editPersonDescription"></textarea>

    <div class="btn-group">
      <button type="button" class="btn" data-bind="click: nodeModel.editPersonMaleClicked, css: { active: nodeModel.editPersonGender() === 'male' }, disable: nodeModel.editPersonLoading">Male</button>
      <button type="button" class="btn" data-bind="click: nodeModel.editPersonFemaleClicked, css: { active: nodeModel.editPersonGender() === 'female' }, disable: nodeModel.editPersonLoading">Female</button>
    </div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.editPersonErrorText() != '', text: nodeModel.editPersonErrorText"></p>
    <button data-bind="disable: nodeModel.editPersonLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.editPersonLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>


<form class="modal" id="createLocationModal" tabindex="-1" role="dialog" aria-labelledby="createLocationModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.createSubmit">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.createLoading" type="createLocationModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createAlbumModalLabel">Create a location</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="name" style="width: 515px;" data-bind="disable: nodeModel.createLoading"/>
      <textarea placeholder="Description" name="description" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: nodeModel.createLoading"></textarea>
      <input type="hidden" name="type" value="location" style="width: 515px;" data-bind="disable: nodeModel.createLoading"/>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button data-bind="disable: nodeModel.createLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.createLoading" class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<form class="modal" id="editCameraModal" tabindex="-1" role="dialog" aria-labelledby="editCameraModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.editCameraSubmit">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.editCameraLoading" type="editCameraModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 data-bind="visible: nodeModel.editCameraNode() === false">Create a camera</h3>
    <h3 data-bind="visible: nodeModel.editCameraNode() !== false">Edit camera</h3>
  </div>
  <div class="modal-body">
    <input placeholder="Name" type="text" style="width: 515px;" data-bind="disable: nodeModel.editCameraLoading, value: nodeModel.editCameraName"/>
    <textarea placeholder="Description" style="width: 515px; height: 100px;" data-bind="disable: nodeModel.editCameraLoading, value: nodeModel.editCameraDescription"></textarea>

    <input placeholder="Search for owner" type="text" style="width: 515px;" data-bind="disable: nodeModel.editCameraLoading, typeahead: { items: 20, source: nodeModel.nodeTypeaheadSource, sorter: nodeModel.nodeTypeaheadSorter, matcher: nodeModel.nodeTypeaheadMatcher, highlighter: nodeModel.nodeTypeaheadHighlighter, updater: nodeModel.editCameraTypeaheadUpdater, nodeTypes: [ 'person' ], nodeFilter: nodeModel.editCameraTypeaheadNodeFilter }" data-provide="typesearch"/>

    <div data-bind="template: { name: 'nodePersonItemTemplate', data: { id: nodeModel.editCameraOwner, remove: nodeModel.editCameraClearOwner } }"></div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.editCameraErrorText() != '', text: nodeModel.editCameraErrorText"></p>
    <button data-bind="disable: nodeModel.editCameraLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.editCameraLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<form class="modal" id="editVehicleModal" tabindex="-1" role="dialog" aria-labelledby="editVehicleModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.editVehicleSubmit">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.editVehicleLoading" type="editVehicleModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 data-bind="visible: nodeModel.editVehicleNode() === false">Create a vehicle</h3>
    <h3 data-bind="visible: nodeModel.editVehicleNode() !== false">Edit vehicle</h3>
  </div>
  <div class="modal-body">
    <input placeholder="Name" type="text" style="width: 515px;" data-bind="disable: nodeModel.editVehicleLoading, value: nodeModel.editVehicleName"/>
    <textarea placeholder="Description" style="width: 515px; height: 100px;" data-bind="disable: nodeModel.editVehicleLoading, value: nodeModel.editVehicleDescription"></textarea>

    <input placeholder="Search for owner" type="text" style="width: 515px;" data-bind="disable: nodeModel.editVehicleLoading, typeahead: { items: 20, source: nodeModel.nodeTypeaheadSource, sorter: nodeModel.nodeTypeaheadSorter, matcher: nodeModel.nodeTypeaheadMatcher, highlighter: nodeModel.nodeTypeaheadHighlighter, updater: nodeModel.editVehicleTypeaheadUpdater, nodeTypes: [ 'person' ], nodeFilter: nodeModel.editVehicleTypeaheadNodeFilter }" data-provide="typesearch"/>

    <div data-bind="template: { name: 'nodePersonItemTemplate', data: { id: nodeModel.editVehicleOwner, remove: nodeModel.editVehicleClearOwner } }"></div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.editVehicleErrorText() != '', text: nodeModel.editVehicleErrorText"></p>
    <button data-bind="disable: nodeModel.editVehicleLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.editVehicleLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

