<div class="sidebar-nav" data-bind="fadeVisible: nodeModel.show, if: nodeModel.node">

  <div style="position: relative; width: 250px; height: 250px; z-index: 100" data-bind="event: { drop: nodeModel.dragDrop, dragover: nodeModel.dragOver }">
    <div draggable="false" style="width: 250px; height: 250px; position: absolute; top: 0px; left: 0px; text-align: center; font-size: 30px; color: whiteSmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black" data-bind="visible: (nodeModel.showDrop() || !nodeModel.node()._profilePicture || !nodeModel.node()._profilePicture()) && nodeModel.node().hasAdminAccess()">
      <br/>
      <br/>
      <br/>
      Drop here
    </div>

    <img draggable="false" class="" src="img/profile_picture_overlay.png" style="width: 250px; height: 250px; position: absolute; top: 0px; left: 0px;">

    <img draggable="false" src="" alt="" style="width: 250px; height: 250px;" data-bind="if: nodeModel.node(), srcNodeProfilePicture: [ nodeModel.node()._id(), 250, 250, 1 ]"/>
  </div>
          
  <div class="sidebar-nav-content">
    <ul class="nav nav-list">

      <li data-bind="fadeVisible: nodeModel.aboutModel.enabled, css: { 'active': nodeModel.aboutModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'about'">
          <i class="icon-list-alt"></i> About
        </a>
      </li>

      <li data-bind="fadeVisible: nodeModel.contentModel.enabled, css: { 'active': nodeModel.contentModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'content'">
          <i class="icon-th"></i> Content <span data-bind="fadeVisible: nodeModel.items().length > 0, text: nodeModel.items().length" class="badge pull-right"></span>
        </a>
      </li>

     <li data-bind="fadeVisible: nodeModel.relationsModel.enabled, css: { 'active': nodeModel.relationsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'relations'">
          <i class="icon-retweet"></i> Relations
        </a>
      </li>

      <li data-bind="fadeVisible: nodeModel.commentsModel.enabled, css: { 'active': nodeModel.commentsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefSecondPrimary: 'comments'">
          <i class="icon-comment"></i> Comments <span data-bind="fadeVisible: nodeModel.node().comments().length > 0, text: nodeModel.node().comments().length" class="badge pull-right"></span>
        </a>
      </li>

      <li>
        <br/>
        <!-- ko foreach: nodeModel.node().tags -->
          <span class="label label-inverse"><a href="#" data-bind="text: $data, attr: { href: '#search:tag=' + $data }" style="color: white; cursor: pointer; text-decoration: none;"></a></span>
        <!-- /ko -->

       
      </li>

    </ul>

    <div style="position: absolute; left: 0px; right: 0px; bottom: 0px; text-align: center;">
      <button style="margin-bottom: 10px;" data-bind="visible: nodeModel.timelineModel.showButton, text: nodeModel.timelineModel.visible() ? 'Hide timeline' : 'Show timeline', click: nodeModel.timelineModel.toggleTimeline" rel="tooltip" title="Timeline switch" class="btn btn-link btn-mini" href="#">Timeline</button>
      <div class="modal-footer" style="text-align: center;" data-bind="visible: nodeModel.node().hasAdminAccess()">
        <button rel="tooltip" title="Edit accesses" class="btn btn-link btn-mini" href="#editAccessModal" data-toggle="modal">Accesses</button>
        <button data-bind="ifnotset: nodeModel.node().public, disable: nodeModel.publicLoading, click: nodeModel.changePublic.bind($data, true)" rel="tooltip" title="Make public" class="btn btn-link btn-mini">Make public</button>
        <button data-bind="ifset: nodeModel.node().public, disable: nodeModel.publicLoading, click: nodeModel.changePublic.bind($data, false)" rel="tooltip" title="Make private" class="btn btn-link btn-mini" style="margin: 0px;">Make private</button>
        <button rel="tooltip" title="Edit tags" class="btn btn-link btn-mini" href="#editTagsModal" data-toggle="modal">Tags</button>
      </div>
    </div>
  </div>
  
  <div class="sidebar-nav-background"></div>
</div>

<div class="modal" id="editTagsModal" tabindex="-1" role="dialog" aria-labelledby="editTagsModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editTagsModalLabel">Edit tags</h3>
  </div>
  <div class="modal-body">
    <form data-bind="submit: nodeModel.tagSubmit" style="margin: 0px">
      <input placeholder="Tag name" type="text" name="newTag" style="width: 515px;" data-bind="hasfocus: true, disable: nodeModel.tagLoading, value: nodeModel.tagName" data-provide="typeahead"/>
    </form>

    <div data-bind="foreach: nodeModel.node().tags">
      <span class="label label-inverse" style="display: inline-block;">
        <span data-bind="text: $data"></span>&nbsp;&nbsp;
        <a href="#" style="color: red;" data-bind="click: $parent.nodeModel.tagRemove">×</a>
      </span> 
    </div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.tagErrorText() != '', text: nodeModel.tagErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="modal" id="editAccessModal" tabindex="-1" role="dialog" aria-labelledby="editAccessModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editAccessModalLabel">Edit accesses</h3>
  </div>
  <div class="modal-body">
    <form data-bind="submit: nodeModel.groupAccessSubmit" style="margin: 0px">
      <input placeholder="Group name" type="text" id="groupAccessInput" name="groupAccessInput" style="width: 515px;" data-bind="hasfocus: true, disable: nodeModel.groupAccessLoading, value: nodeModel.groupAccessName" data-provide="typesearch"/>
    </form>

    <h4>Groups with accesses</h4>
    <table class="table table-condensed table-hover">
      <tbody>

      <!-- ko foreach: nodeModel.node()._admins -->
        <tr class="info">
          <td><i title="Administration access" class="icon-eye-open"></i>&nbsp;&nbsp;<span data-bind="textGroupAttribute: [ $data, 'name' ]"></span></td>
          <td>
            <button class="btn btn-mini btn-link pull-right" data-bind="click: $parent.nodeModel.groupAccessRemove">Remove</button>
            <button class="btn btn-mini btn-link pull-right" data-bind="click: $parent.nodeModel.groupAccessMakeReader">Revoke admin access</button>
          </td>
        </tr>
      <!-- /ko -->
      
      <!-- ko foreach: nodeModel.node()._readers -->
        <tr>
          <td><i title="Read access" class="icon-edit"></i>&nbsp;&nbsp;<span data-bind="textGroupAttribute: [ $data, 'name' ]"></span></td>
          <td>
            <button class="btn btn-mini btn-link pull-right" data-bind="click: $parent.nodeModel.groupAccessRemove">Remove</button>
            <button class="btn btn-mini btn-link pull-right" data-bind="click: $parent.nodeModel.groupAccessMakeAdmin">Grant admin access</button>
          </td>
        </tr>
      <!-- /ko -->

      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.groupAccessErrorText() != '', text: nodeModel.groupAccessErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<form class="modal" id="createAlbumModal" tabindex="-1" role="dialog" aria-labelledby="createAlbumModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.createSubmit" data-murrix-node-type="album">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createAlbumModalLabel">Create an album</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="createNodeName" style="width: 515px;" data-bind="disable: nodeModel.createLoading, value: nodeModel.createName"/>
      <textarea placeholder="Description" name="createNodeDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: nodeModel.createLoading, value: nodeModel.createDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<form class="modal" id="createPersonModal" tabindex="-1" role="dialog" aria-labelledby="createPersonModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.createSubmit" data-murrix-node-type="person">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createPersonModalLabel">Create a person</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="createNodeName" style="width: 515px;" data-bind="disable: nodeModel.createLoading, value: nodeModel.createName"/>
      <textarea placeholder="Description" name="createNodeDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: nodeModel.createLoading, value: nodeModel.createDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<form class="modal" id="createLocationModal" tabindex="-1" role="dialog" aria-labelledby="createLocationModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.createSubmit" data-murrix-node-type="location">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createLocationModalLabel">Create a location</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="createNodeName" style="width: 515px;" data-bind=" disable: nodeModel.createLoading, value: nodeModel.createName"/>
      <textarea placeholder="Description" name="createNodeDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: nodeModel.createLoading, value: nodeModel.createDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<form class="modal" id="createCameraModal" tabindex="-1" role="dialog" aria-labelledby="createCameraModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.createSubmit" data-murrix-node-type="camera">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createCameraModalLabel">Create a camera</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="createNodeName" style="width: 515px;" data-bind="hasfocus: true, disable: nodeModel.createLoading, value: nodeModel.createName"/>
      <textarea placeholder="Description" name="createNodeDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: nodeModel.createLoading, value: nodeModel.createDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<form class="modal" id="createVehicleModal" tabindex="-1" role="dialog" aria-labelledby="createVehicleModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.createSubmit" data-murrix-node-type="camera">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createVehicleModalLabel">Create a vehicle</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="createNodeName" style="width: 515px;" data-bind="hasfocus: true, disable: nodeModel.createLoading, value: nodeModel.createName"/>
      <textarea placeholder="Description" name="createNodeDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: nodeModel.createLoading, value: nodeModel.createDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>