<div>
    <div>
        <form class="form-horizontal clearfix" role="form" data-bind="submit: save">
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Name</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" data-bind="value: name, disable: loading">
                </div>
            </div>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-3 control-label">Username</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" data-bind="value: username, disable: loading">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-3 control-label">E-Mail</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" data-bind="value: email, disable: loading">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPerson" class="col-lg-3 control-label">Person</label>
                <div class="col-lg-9">
                    <node_select params="{ id: personId, disable: loading, types: [ 'person' ], placeholder: 'Person' }"></node_select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 clearfix">
                    <a href="#" class="btn btn-primary" data-bind="disable: loading, click: save">Save</a>
                    <a href="#" class="btn btn-default" data-bind="disable: loading, click: reset">Reset</a>
                </div>
            </div>
        </form>
    </div>

    <div class="top-border" style="padding-top: 15px;">
        <form class="form-horizontal clearfix" role="form" data-bind="submit: changePassword">
            <div class="form-group">
                <label for="inputPassword1" class="col-lg-3 control-label">Password</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" data-bind="value: password1, disable: loading">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-lg-3 control-label">&nbsp;</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm password" data-bind="value: password2, disable: loading">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 clearfix">
                    <a href="#" class="btn btn-primary" data-bind="disable: loading, click: changePassword">Change password</a>
                </div>
            </div>
        </form>
    </div>

    <div data-bind="if: user() !== false">
        <div class="pull-right">
            <group_select params="{ id: groupId, disable: loading, placeholder: 'Add group' }"></group_select>
        </div>
        <h3>Groups</h3>
        <group_list params="{ idList: user()._groups }"></group_list>
    </div>
</div>
