<a class="node-item-panel" style="width: 305px;" data-bind="location: { page: 'node', path: nodepath().path, section: null }">
    <div style="position: relative; height: 303px;">
        <file-widget-profile-picture params="{ size: 303, path: nodepath().path }"></file-widget-profile-picture>

        <div class="title-text">
            <i class="material-icons md-18" data-bind="visible: nodepath().node().properties.type === 'a'">photo_album</i>
            <i class="material-icons md-18" data-bind="visible: nodepath().node().properties.type === 'p'">person</i>
            <i class="material-icons md-18" data-bind="visible: nodepath().node().properties.type === 'l'">location_on</i>
            <i class="material-icons md-18" data-bind="visible: nodepath().node().properties.type === 'c'">photo_camera</i>

            <span data-bind="text: nodepath().node().attributes.fullname ? nodepath().node().attributes.fullname :  nodepath().node().attributes.name"></span>
        </div>
    </div>
    <div style="padding: 15px;">
        <widget-node-description params="{ nodepath: nodepath }"></widget-node-description>
        <widget-node-labels params="{ nodepath: nodepath }"></widget-node-labels>
    </div>
</a>
