<div class="media" style="padding-top: 45px;">
    <div class="media-body clearfix" style="padding-bottom: 15px;">
        <file-profile-picture class="pull-right" params="{ size: 80, path: nodepath.path }"></file-profile-picture>

        <h4 class="media-heading" style="margin-bottom: 10px; font-size: 14px;">
            <a href="#" data-bind="location: { page: 'node', path: nodepath.path, section: null }">
                <span class=text-muted">
                    <i data-bind="visible: nodepath.node.properties.type === 'a'" class="fa fa-book"></i>
                    <i data-bind="visible: nodepath.node.properties.type === 'p'" class="fa fa-user"></i>
                    <i data-bind="visible: nodepath.node.properties.type === 'l'" class="fa fa-map-marker"></i>
                    <i data-bind="visible: nodepath.node.properties.type === 'c'" class="fa fa-camera"></i>
                    <i data-bind="visible: nodepath.node.properties.type === 'v'" class="fa fa-truck"></i>
                </span>
                <span data-bind="text: nodepath.node.attributes.fullname ? nodepath.node.attributes.fullname : nodepath.node.attributes.name"></span>
            </a>
        </h4>

        <node-description params="{ nodepath: nodepath }"></node-description>
        <node-labels params="{ nodepath: nodepath }"></node-labels>
    </div>
</div>
