<div class="main-overlay" data-bind="fadeVisible: nodeModel.aboutModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">

<!--    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-list-alt icon-white"></i> About</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>-->

    <div class="container-fluid box box-content">
      <div class="row-fluid">
        <div class="span6">

          <div style="margin-bottom: 20px;" data-bind="visible: nodeModel.node().description() !== ''">
            <h4>Description</h4>
            <p data-bind="text: nodeModel.node().description"></p>
          </div>

          <div data-bind="if: nodeModel.node().type() === 'person'">
            <h4>Lives at</h4>
            <div class="alert alert-error" data-bind="visible: nodeModel.aboutModel.homesErrorText() !== '', text: nodeModel.aboutModel.homesErrorText"></div>
            <div class="alert alert-info" data-bind="visible: nodeModel.aboutModel.homesLoading">Loading homes...</div>
            <div class="clearfix" data-bind="template: { name: 'nodeBoxTemplate', foreach: nodeModel.aboutModel.homes }"></div>

            <h4>Owner of</h4>
            <div class="alert alert-error" data-bind="visible: nodeModel.aboutModel.ownerOfErrorText() !== '', text: nodeModel.aboutModel.ownerOfErrorText"></div>
            <div class="alert alert-info" data-bind="visible: nodeModel.aboutModel.ownerOfLoading">Loading ownerOf...</div>
            <div class="clearfix" data-bind="template: { name: 'nodeBoxTemplate', foreach: nodeModel.aboutModel.ownerOf }"></div>

          </div>

        </div>

        <div class="span6">
          <div style="margin-bottom: 20px;">
            <h4>Details</h4>
            <table class="table table-striped">
              <tr>
                <td>Name</td>
                <td data-bind="text: nodeModel.node().name()"></td>
              </tr>
              <tr>
                <td>Added&nbsp;by</td>
                <td data-bind="textUserAttribute: [ nodeModel.node().added._by(), 'name' ]"></td>
              </tr>
              <tr>
                <td>Added&nbsp;on</td>
                <td data-bind="htmlTimestamp: nodeModel.node().added.timestamp"></td>
              </tr>
              <tr>
                <td>Modified&nbsp;by</td>
                <td data-bind="textUserAttribute: [ nodeModel.node().modified._by(), 'name' ]"></td>
              </tr>
              <tr>
                <td>Modified&nbsp;on</td>
                <td data-bind="htmlTimestamp: nodeModel.node().modified.timestamp"></td>
              </tr>

              <!-- ko if: nodeModel.node().type() === 'person' -->
                <tr data-bind="visible: nodeModel.aboutModel.ageNow() !== false">
                  <td>Age now</td>
                  <td data-bind="text: nodeModel.aboutModel.ageNow()"></td>
                </tr>
                <tr data-bind="visible: nodeModel.aboutModel.ageAtDeath() !== false">
                  <td>Age at death</td>
                  <td data-bind="text: nodeModel.aboutModel.ageAtDeath()"></td>
                </tr>
                <tr>
                  <td>Birthname</td>
                  <td data-bind="text: nodeModel.node().birthname"></td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td data-bind="text: nodeModel.node().gender"></td>
                </tr>
              <!-- /ko -->
            </table>
          </div>


        </div>

      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>
