<div data-bind="fadeVisible: nodeModel.aboutModel.show">
  <div class="abs-max content" data-bind="if: nodeModel.node() !== false">
    <div class="page-header">
      <h1>Overview <small>Summary of content</small></h1>
    </div>

    <form data-bind="submit: nodeModel.tagSubmit" class="clearfix" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px;">
      <input class="form-control pull-left input-small" placeholder="Write tag..." type="text" data-bind="visible: nodeModel.node().hasAdminAccess(), hasfocus: nodeModel.tagHasFocus, disable: nodeModel.tagLoading, value: nodeModel.tagName" data-provide="typeahead" style="width: 150px; margin-right: 10px; margin-bottom: 10px;"/>

      <!-- ko foreach: nodeModel.node().tags -->
        <span class="label label-success pull-left" style="margin-right: 10px; margin-bottom: 10px; font-size: 22px;">
          <a href="#" data-bind="text: $data, attr: { href: '#search:tag=' + $data }" style="color: white; cursor: pointer; text-decoration: none;"></a>
          <span data-bind="visible: $parent.nodeModel.node().hasAdminAccess()">
            &nbsp;
            <a href="#" style="color: white;" data-bind="click: $parent.nodeModel.tagRemove">
              <i class="icon-remove-sign"></i>
            </a>
          </span>
        </span>
      <!-- /ko -->

    </form>


    <div class="clearfix">
      <!-- ko if: nodeModel.node().type() === 'person' -->
        <div class="list-group pull-right" style="width: 300px; margin-left: 50px;">
          <div class="list-group-item" data-bind="visible: nodeModel.node().birthname() !== ''">
            <h4 class="list-group-item-heading">Full birth name</h4>
            <p class="list-group-item-text list-group-item-text-data" data-bind="text: nodeModel.node().birthname"></p>
          </div>

          <div class="list-group-item" data-bind="visible: nodeModel.aboutModel.ageNow() !== false">
            <h4 class="list-group-item-heading">Age</h4>
            <p class="list-group-item-text list-group-item-text-data">
              <span data-bind="text: nodeModel.aboutModel.ageNow()"></span>
              <span class="pull-right">(Born <span data-bind="htmlTimestampToNiceDate: nodeModel.aboutModel.birthTimestamp()"></span>)</span>
            </p>
          </div>

          <div class="list-group-item" data-bind="visible: nodeModel.aboutModel.ageAtDeath() !== false">
            <h4 class="list-group-item-heading">Died at age</h4>
            <p class="list-group-item-text list-group-item-text-data">
              <span data-bind="text: nodeModel.aboutModel.ageAtDeath()"></span>
              <span class="pull-right">(Died <span data-bind="htmlTimestampToNiceDate: nodeModel.aboutModel.deathTimestamp()"></span>)</span>
            </p>
          </div>

          <div class="list-group-item" data-bind="visible: nodeModel.node().gender() === 'm' || nodeModel.node().gender() === 'f'">
            <h4 class="list-group-item-heading">Gender</h4>
            <p class="list-group-item-text list-group-item-text-data" data-bind="text: nodeModel.node().gender() === 'm' ? 'Male' : 'Female'"></p>
          </div>

          <div class="list-group-item" data-bind="visible: nodeModel.aboutModel.homes().length > 0">
            <h4 class="list-group-item-heading">Lives at</h4>
            <div class="list-group-item-text list-group-item-text-data" data-bind="foreach: nodeModel.aboutModel.homes">
              <a href="#" data-bind="hrefFirst: [ 'node', $data._id ], popoverNode: $data._id, text: $data.name"></a>
            </div>
          </div>

          <div class="list-group-item" data-bind="visible: nodeModel.aboutModel.ownerOf().length > 0">
            <h4 class="list-group-item-heading">Owner of</h4>
            <div class="list-group-item-text list-group-item-text-data" data-bind="foreach: nodeModel.aboutModel.ownerOf">
              <a href="#" data-bind="hrefFirst: [ 'node', $data._id ], popoverNode: $data._id, text: $data.name"></a>
            </div>
          </div>
        </div>
      <!-- /ko -->

      <p style="" data-bind="text: nodeModel.node().description"></p>
    </div>

    <div data-bind="visible: nodeModel.node().type() === 'album' && nodeModel.aboutModel.showing().length > 0">
      <h2>Shown in this album</h2>
      <div class="clearfix" data-bind="template: { name: 'nodeSmallTemplate', foreach: nodeModel.aboutModel.showing }"></div>
    </div>

    <div data-bind="visible: nodeModel.node().type() === 'album' && nodeModel.aboutModel.whos().length > 0">
      <h2>Creators of content in this album</h2>
      <div class="clearfix" data-bind="template: { name: 'nodeSmallTemplate', foreach: nodeModel.aboutModel.whos }"></div>
    </div>

    <div style="margin-bottom: 50px; margin-top: 20px;">
      <div class="text-muted" style="font-size: 12px;">
        Last modified by <span data-bind="textUserAttribute: [ nodeModel.node().modified._by(), 'name' ]"></span> on <span data-bind="htmlTimestamp: nodeModel.node().modified.timestamp"></span>
        <br>
        Added by <span data-bind="textUserAttribute: [ nodeModel.node().added._by(), 'name' ]"></span> on <span data-bind="htmlTimestamp: nodeModel.node().added.timestamp"></span>
      </div>
    </div>

  </div>
  <div class="abs-max background"></div>
</div>
