<div class="main-overlay" data-bind="slideVisible: nodeModel.aboutModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand" style="padding-left: 35px;">About</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid" data-bind="if: nodeModel.node().type() === 'person'">
      <div class="row-fluid">
        <div class="span6">
          <table class="table table-bordered" style="background-color: whiteSmoke;">
            <tr>
              <td>Name</td>
              <td data-bind="text: nodeModel.node().name"></td>
            </tr>
            <tr>
              <td>Birthname</td>
              <td data-bind="text: nodeModel.node().specific.birthname"></td>
            </tr>
            <tr>
              <td>Gender</td>
              <td data-bind="text: nodeModel.node().specific.gender"></td>
            </tr>
          </table>
        </div>

        <div class="well span6">
          <h3>Events</h3>
        </div>

      </div>
    </div>
    
  </div>
  <div class="main-overlay-background"></div>
</div>
