<div data-bind="fadeVisible: browseModel.show">
  <div class="abs-max content">
    <div class="page-header">
      <h1>Browse material <small>Show nodes based on the date of the content</small></h1>
    </div>

    <div style="margin-bottom: 25px;">
      <div style="text-align: center;">
        <span data-bind="visible: !browseModel.loading()">
          Showing <span data-bind="text: browseModel.year"></span>
        </span>

        <span data-bind="visible: browseModel.loading">
          Loading <span data-bind="text: browseModel.year"></span>...
        </span>
      </div>

      <a class="pull-right btn btn-primary" data-bind="click: browseModel.yearIncClicked, clickKey: 'right'"><i class="icon-plus"></i></a>
      <a class="pull-left btn btn-primary" data-bind="click: browseModel.yearDecClicked, clickKey: 'left'"><i class="icon-minus"></i></a>
      <div style="margin-left: 50px; margin-right: 50px; padding-top: 15px;">
        <div data-bind="yearSlider: { year: browseModel.year, sliding: browseModel.sliding }"></div>
      </div>
    </div>

    <div class="alert alert-error" data-bind="visible: browseModel.error() !== '', text: browseModel.error"></div>
    <div class="clearfix" data-bind="template: { name: 'nodeSearchTemplate', foreach: browseModel.data }" style="margin-top: 50px;"></div>
  </div>
  <div class="abs-max background"></div>
</div>
