<div class="main-overlay" data-bind="fadeVisible: nodeModel.connectionsModel.show, if: nodeModel.node">
  <div class="main-overlay-content">
    <div class="page-header">
      <a class="btn btn-primary pull-right" href="#" data-bind="attr: { 'href' : '#node:' + nodeModel.primaryNodeId() }">Close</a>

      <h1>Connections</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Remote Node</th>
          <th>Role</th>
          <th>Direction</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: nodeModel.connectionsModel.connections">
        <tr>
          <td><a href="#" data-bind="attr: { href: '#node:' + $data.id }, text: $data.name"></a></td>
          <td data-bind="text: $data.role"></td>
          <td data-bind="text: $data.direction"></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="well sidebar-nav-background"></div>
</div>
