<div class="main-overlay-big" data-bind="fadeVisible: adminModel.show, if: adminModel.accessable">
  <div class="main-overlay-content">
    <div class="page-header">
      <a class="btn btn-primary pull-right" href="#">Close</a>

      <h1>Administration</h1>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <h2>Users</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: adminModel.userNodeList">
            <tr>
              <td><a href="#" data-bind="attr: { href: '#node:' + $data.id }, text: $data.name"></a></td>
              <td data-bind="text: $data.attr('Username')"></td>
              <td data-bind="htmlDate: $data.created"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <h2>Groups</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Members</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: adminModel.groupNodeList">
            <tr>
              <td><a href="#" data-bind="attr: { href: '#node:' + $data.id }, text: $data.name"></a></td>
              <td></td>
              <td data-bind="htmlDate: $data.created"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="well sidebar-nav-background"></div>
</div>

