<div class="main-overlay" data-bind="fadeVisible: nodeModel.metricsModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">

<!--    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-list-alt icon-white"></i> Metrics</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>-->

    <div class="container-fluid box box-content">
      <div class="row-fluid">

        <div class="span12" data-bind="visible: nodeModel.node().type() === 'person'" style="margin: 0px;">
          <h4>Weight</h4>
          <div id="weight-container"></div>
        </div>

      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>
