<div class="fadeInRight animated">
    <div class="box box-content">
        <h1>Search by year</h1>

        <div style="margin-bottom: 25px;">
            <div style="text-align: center;">
                <span data-bind="visible: !loading()">
                Showing <span data-bind="text: year"></span>
                </span>

                <span data-bind="visible: loading" style="display: none;">
                Loading <span data-bind="text: year"></span>...
                </span>
            </div>

            <a class="pull-right btn btn-primary" data-bind="click: yearIncClicked, clickKey: 'right'"><i class="material-icons">add</i></a>
            <a class="pull-left btn btn-primary" data-bind="click: yearDecClicked, clickKey: 'left'"><i class="material-icons">remove</i></a>

            <div class="year-slider">
                <div data-bind="yearSlider: { year: year }"></div>
            </div>
        </div>
    </div>

    <widget-list-nodes params="{ list: list }"></widget-list-nodes>
</div>
