

.murrix-menu-container
{
  font-size: 12px;
  
  position: absolute;
  top: -195px;
  left: 0px;
  right: 0px;
  height: 200px;
  color: white;
  border-bottom: 1px solid white;
  
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  
  -moz-box-shadow: 2px 2px 5px black;
  -webkit-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
}

.murrix-menu-handle
{
  position: absolute;
  height: 16px;
  width: 40px;
  bottom: -23px;
  border: 1px solid white;
  padding: 1px 30px 5px 30px;
  
  background-color: #0E0E0E;
  cursor: pointer;
  
  border-top-width: 0px;
  border-radius: 0px 0px 6px 6px;
  
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  
  -moz-box-shadow: 2px 2px 5px black;
  -webkit-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
}

.murrix-menu-color-red
{
  color: #FF6565;
}

.murrix-menu-color-blue
{
  color: #6687FF;
}

.murrix-menu-color-green
{
  color: #8EF160;
}

.murrix-menu-handle:hover
{
  color: white;
}


.murrix-menu-container-content
{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.murrix-menu-container-title
{
  margin-top: 48px;
  font-size: 40px;
  font-weight: bold;
  /*color: #CCCDCC;*/
  text-shadow: black 0px 1px 0, black 0 -1px 0;
  text-align: center;
  text-transform: uppercase;
}

.murrix-menu-subtitle
{
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.murrix-menu-account-user-text
{
  font-size: 16px;
  margin-bottom: 100px;
  color: white;
}

.murrix-menu-highlight
{
  font-weight: bold;
  color: white;
}

.murrix-menu-input
{
  margin-bottom: 5px;
  width: 260px;
}

.murrix-menu-account-form
{
  /*width: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;*/
}

.murrix-menu-column
{
  display: inline-block;
  width: 320px;
  margin-top: 20px;
  height: 160px;
  float: left;
  border-right: 1px solid #717271;
  position: relative;
}

.murrix-menu-column-content
{
  position: absolute;
  padding: 0px 20px 0px 20px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

