<div>
    <div data-bind="component: 'auth-widget-sidebar-user'"></div>

    <ul class="nav nav-pills nav-stacked" data-bind="visible: loggedIn, if: loggedIn">
        <li class="header">Explore</li>
        <li data-bind="css: { active: page() === 'news' || page() === 'default' }">
            <a data-bind="location: { page: null }">
                <i class="material-icons md-18">home</i>
                <span> News</span>
            </a>
        </li>
        <li data-bind="css: { active: page() === 'search' }">
            <a data-bind="location: { page: 'search' }">
                <i class="material-icons md-18">search</i>
                <span> Search by name</span>
            </a>
        </li>
        <li data-bind="css: { active: page() === 'year' }">
            <a data-bind="location: { page: 'year' }">
                <i class="material-icons md-18">date_range</i>
                <span> Search by year</span>
            </a>
        </li>
        <li data-bind="css: { active: page() === 'labels' }">
            <a data-bind="location: { page: 'labels' }">
                <i class="material-icons md-18">label</i>
                <span> Browse by label</span>
            </a>
        </li>

        <li class="header">Numbers</li>
        <li data-bind="css: { active: page() === 'charts' }">
            <a data-bind="location: { page: 'charts' }">
                <i class="material-icons md-18">show_chart</i>
                <span> Charts</span>
            </a>
        </li>
    </ul>
</div>
