<!--<div class="background-timeline" data-bind="fadeVisible: nodeModel.timelineModel.show() && nodeModel.node()">
  <div class="background-timeline-background"></div>
  <div class="background-timeline-content">

    <div style="position: absolute; top: 0px: left: 0px; width: 250px; height: 100px; bborder: 1px solid gray; border-width-left: 0px; background-color: white;">
      <div style="position: absolute; top: 0px; left: 0px; right: 0px; height: 20px; padding: 5px; border-bottom: 1px solid gray; background-color: #EEE">
        1th of January 20:34:34 UTC
      </div>
      <div style="position: absolute; top: 31px; left: 0px; right: 0px; bottom: 0px; padding: 5px;">
        hej hejh jeh jejdsölkfdsf
        dsf
        dsf
        dsf
        dsf
        dsf

        sdfsdfdsfds
      </div>
      </div>
    </div>

  </div>
</div>-->
