<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="#">www.runge.se</a>
      
      <div class="pull-right"><!-- Other nav bar content -->
        
        <!-- The drop down menu -->
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <span data-bind="ifnot: userModel.currentUserNode">Sign In</span>
              <span data-bind="if: userModel.currentUserNode, text: userModel.currentUserNode().name"></span>
              <strong class="caret"></strong>
            </a>
            <div class="dropdown-menu">
              
              <form class="" data-bind="submit: userModel.loginSubmit, visible: !userModel.currentUserNode()" style="padding: 15px; padding-bottom: 0px; margin-bottom: 0px;">
                <input placeholder="Username" id="inputUsername" style="margin-bottom: 15px;" type="text" name="user[inputUsername]" size="30" data-bind="hasfocus: userModel.usernameFocused, disable: userModel.loading, value: userModel.inputUsername"/>
                <input placeholder="Password" id="inputPassword" style="margin-bottom: 15px;" type="password" name="user[inputPassword]" size="30" data-bind="disable: userModel.loading, value: userModel.inputPassword"/>
                <input id="inputRemember" style="float: left; margin-right: 10px;" type="checkbox" name="user[inputRemember]" value="1" data-bind="disable: userModel.loading, checked: userModel.inputRemember"/>
                <label class="string optional" for="inputRemember"> Remember me</label>
                
                <input data-bind="disable: userModel.loading" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; margin-bottom: 15px;" type="submit" name="signin" value="Sign In" />
                <div data-bind="visible: userModel.errorText() != '', text: userModel.errorText" style="margin-bottom: 15px;"></div>
              </form>
              
              <div data-bind="visible: userModel.currentUserNode">
                <a href="#admin" data-bind="if: adminModel.accessable">Administration</a>
                <a href="#user">Profile</a>
                <a href="#userChangePasswordModal" data-toggle="modal">Change password</a>
                <a href="#" data-bind="click: userModel.signOutClicked">Sign out</a>
              </div>
              
            </div>
          </li>
        </ul>
        
        <div class="divider-vertical pull-right" data-bind="if: userModel.currentUserNode"></div>
            
        <!-- The drop down menu -->
        <ul class="nav pull-right" data-bind="if: userModel.currentUserNode">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Create new
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#createEventModal" data-toggle="modal">Create event</a></li>
              <li><a href="#createPersonModal" data-toggle="modal">Create person</a></li>
              <li><a href="#createLocationModal" data-toggle="modal">Create location</a></li>
              <li><a href="#createVehicleModal" data-toggle="modal">Create vehicle</a></li>
            </ul>
          </li>
        </ul>
        
        <div class="divider-vertical pull-right"></div>
        
        <form class="navbar-search pull-right" data-bind="submit: searchModel.searchSubmit">
          <input type="text" class="search-query" placeholder="Search" data-bind="value: searchModel.queryInput"/>
        </form>
      </div>
    </div>
  </div>
</div>
