<div class="sidebar-nav" data-bind="slideVisible: !nodeModel.show()">

  <div style="position: relative; width: 250px; height: 250px; z-index: 100">
    <img draggable="false" class="" src="img/profile_picture_overlay.png" style="width: 250px; height: 250px; position: absolute; top: 0px; left: 0px;">

    <img draggable="false" src="img/search-engine-optimization.jpg" alt="" style="width: 250px; height: 250px;"/>
  </div>

  <div class="sidebar-nav-content">
    <ul class="nav nav-list">

      <li data-bind="fadeVisible: currentUser(), css: { 'active': newsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: newsModel.show() ? ' ' : 'news'">
          <i class="icon-bullhorn icon-fixed"></i> News
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser(), css: { 'active': browseModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: browseModel.show() ? ' ' : 'browse'">
          <i class="icon-th-large icon-fixed"></i> Browse
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser(), css: { 'active': tagsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: tagsModel.show() ? ' ' : 'tags'">
          <i class="icon-tags icon-fixed"></i> Tags
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser(), css: { 'active': searchModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: searchModel.show() ? ' ' : 'search'">
          <i class="icon-search icon-fixed"></i> Search
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser(), css: { 'active': organizeModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: organizeModel.show() ? ' ' : 'organize'">
          <i class="icon-folder-open icon-fixed"></i> Organize
        </a>
      </li>

      <li data-bind="css: { 'active': helpModel.show }" class="nav-link">
        <a href="#" data-bind="click: helpModel.showClicked">
          <i class="icon-question-sign icon-fixed"></i> Help
        </a>
      </li>

      <li class="nav-link">
        <a href="https://github.com/mattiasrunge/MURRiX/issues?state=open">
          <i class="icon-check icon-fixed"></i> Todo
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser() &amp;&amp; currentUser().admin, css: { 'active': adminModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: adminModel.show() ? ' ' : 'admin'">
          <i class="icon-lock icon-fixed"></i> Administration
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser() &amp;&amp; currentUser().admin, css: { 'active': configModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: configModel.show() ? ' ' : 'config'">
          <i class="icon-wrench icon-fixed"></i> Configuration
        </a>
      </li>

    </ul>

  </div>

  <div class="sidebar-nav-background"></div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div class="brand" style="margin-left: -5px; color: white;">
        <span data-bind="if: nodeModel.node() !== false">
          <i style="vertical-align: baseline;" class="icon-book icon-white" data-bind="visible: nodeModel.node().type() === 'album'"></i>
          <i style="vertical-align: baseline;" class="icon-user icon-white" data-bind="visible: nodeModel.node().type() === 'person'"></i>
          <i style="vertical-align: baseline;" class="icon-camera icon-white" data-bind="visible: nodeModel.node().type() === 'camera'"></i>
          <i style="vertical-align: baseline;" class="icon-truck icon-white" data-bind="visible: nodeModel.node().type() === 'vehicle'"></i>
          <i style="vertical-align: baseline;" class="icon-flag icon-white" data-bind="visible: nodeModel.node().type() === 'location'"></i>
        </span>
        <span data-bind="text: nodeModel.node() ? nodeModel.node().name : document.location.hostname"></span>
      </div>

      <div class="pull-right">

        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <span data-bind="ifnot: currentUser"><i class="icon-signin icon-fixed icon-white"></i> Sign In</span>
              <span data-bind="if: currentUser"><i class="icon-user icon-fixed icon-white"></i> <span data-bind="text: currentUser().name"></span></span>
              <strong class="caret"></strong>
            </a>
            <ul class="dropdown-menu">

              <form class="" data-bind="submit: adminModel.loginSubmit, visible: !currentUser()" style="padding: 15px; padding-bottom: 0px; margin-bottom: 0px;">
                <input tabindex="1" placeholder="Username" style="margin-bottom: 15px;" type="text" size="30" data-bind="hasfocus: adminModel.usernameFocused, disable: adminModel.loading, value: adminModel.inputUsername"/>
                <input tabindex="2" placeholder="Password" style="margin-bottom: 15px;" type="password" size="30" data-bind="disable: adminModel.loading, value: adminModel.inputPassword"/>
                <input tabindex="3" style="float: left; margin-right: 10px;" type="checkbox" value="1" data-bind="disable: adminModel.loading, checked: adminModel.inputRemember"/>
                <label class="string optional" for="inputRemember"> Remember me</label>

                <input tabindex="4" data-bind="disable: adminModel.loading" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; margin-bottom: 15px;" type="submit" name="signin" value="Sign In" />
                <div data-bind="visible: adminModel.errorText() != '', text: adminModel.errorText" style="margin-bottom: 15px;"></div>
              </form>

              <div data-bind="visible: currentUser">
                <li><a href="#admin" data-bind="visible: currentUser().admin"><i class="icon-lock icon-fixed"></i> Administration</a></li>
                <li><a href="#" data-bind="visible: currentUser._person, hrefFirst: [ 'node', currentUser._person ]"><i class="icon-user icon-fixed"></i> Me</a></li>
                <li><a href="#adminChangePasswordModal" data-toggle="modal" data-bind="click: adminModel.changePasswordClicked.bind($data, false)"><i class="icon-key icon-fixed"></i> Change password</a></li>
                <li><a href="#" data-bind="click: adminModel.signOutClicked"><i class="icon-signout icon-fixed"></i> Sign out</a></li>
              </div>

            </ul>
          </li>
        </ul>

        <div class="divider-vertical pull-right"></div>

        <form class="navbar-search pull-right" data-bind="fadeVisible: currentUser, submit: searchModel.searchSubmit">
          <input type="text" class="search-query" placeholder="Enter search query..." data-provide="typeahead" data-bind="value: searchModel.queryInput, typeahead: { items: 10, source: nodeModel.nodeTypeaheadSource, matcher: nodeModel.nodeTypeaheadMatcher, highlighter: nodeModel.nodeTypeaheadHighlighter, updater: searchModel.searchTypeaheadUpdater }"/>
        </form>

        <a class="nav pull-right" rel="tooltip" title="Go to search page" style="padding: 10px 15px 10px; color: white; text-decoration: none;" href="#search" data-placement="bottom" data-bind="fadeVisible: currentUser">
          <i class="icon-search icon-white"></i>
        </a>

        <a class="nav pull-right" rel="tooltip" title="Go to start page" style="padding: 10px 15px 10px; color: white; text-decoration: none;" href="#" data-placement="bottom">
          <i class="icon-home icon-white"></i>
        </a>

        <a class="nav pull-right" rel="tooltip" data-bind="fadeVisible: currentUser, click: randomClicked" title="Go to random node" style="padding: 10px 15px 10px; color: white; text-decoration: none;" href="#"  data-placement="bottom">
          <i class="icon-random icon-white"></i>
        </a>

        <ul class="nav pull-right" data-bind="visible: currentUser">
          <li class="dropdown">
            <a class="dropdown-toggle" rel="tooltip" data-toggle="dropdown" href="#" data-placement="bottom" style="color: white;">
              <i class="icon-plus icon-white" title="Create new node"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" data-bind="click: nodeModel.editAlbumNewOpen"><i style="vertical-align: center;" class="icon-book icon-fixed"></i> Album</a></li>
              <li><a href="#" data-bind="click: nodeModel.editPersonNewOpen"><i style="vertical-align: center;" class="icon-user icon-fixed"></i> Person</a></li>
              <li><a href="#" data-bind="click: nodeModel.editLocationNewOpen"><i style="vertical-align: center;" class="icon-flag icon-fixed"></i> Location</a></li>
              <!--<li><a href="#" data-bind="click: nodeModel.editCameraNewOpen"><i style="vertical-align: center;" class="icon-camera icon-fixed"></i> Camera</a></li>-->
              <li><a href="#" data-bind="click: nodeModel.editVehicleNewOpen"><i style="vertical-align: center;" class="icon-truck icon-fixed"></i> Vehicle</a></li>
            </ul>
          </li>
        </ul>

        <a class="nav pull-right" rel="tooltip" data-bind="click: helpModel.showClicked" title="Help" style="padding: 10px 15px 10px; color: white; text-decoration: none;" href="#"  data-placement="bottom">
          <i class="icon-question-sign icon-white"></i>
        </a>

      </div>
    </div>
  </div>
</div>

