<div class="sidebar-nav" data-bind="slideVisible: !nodeModel.show()">

  <div style="position: relative; width: 250px; height: 250px; z-index: 100">
    <img draggable="false" class="" src="img/profile_picture_overlay.png" style="width: 250px; height: 250px; position: absolute; top: 0px; left: 0px;">

    <img draggable="false" src="img/search-engine-optimization.jpg" alt="" style="width: 250px; height: 250px;"/>
  </div>

  <div class="sidebar-nav-content">
    <ul class="nav nav-list">

      <li data-bind="css: { 'active': welcomeModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: welcomeModel.show() ? ' ' : 'welcome'">
          <i class="icon-home"></i> Welcome
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser(), css: { 'active': newsModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: newsModel.show() ? ' ' : 'news'">
          <i class="icon-bullhorn"></i> News
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser(), css: { 'active': searchModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: searchModel.show() ? ' ' : 'search'">
          <i class="icon-search"></i> Search
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser() &amp;&amp; currentUser().admin, css: { 'active': adminModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: adminModel.show() ? ' ' : 'admin'">
          <i class="icon-lock"></i> Administration
        </a>
      </li>

      <li data-bind="fadeVisible: currentUser() &amp;&amp; currentUser().admin, css: { 'active': configModel.show }" class="nav-link">
        <a href="#" data-bind="hrefFirstPrimary: configModel.show() ? ' ' : 'config'">
          <i class="icon-wrench"></i> Configuration
        </a>
      </li>

    </ul>

  </div>

  <div class="sidebar-nav-background"></div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" style="margin-left: -5px;" href="#" data-bind="attr: { 'href' : nodeModel.node() ? '#node:' + nodeModel.node()._id() : '#' }">
        <span data-bind="if: nodeModel.node() !== false">
          <i style="vertical-align: baseline;" class="icon-book icon-white" data-bind="visible: nodeModel.node().type() === 'album'"></i>
          <i style="vertical-align: baseline;" class="icon-user icon-white" data-bind="visible: nodeModel.node().type() === 'person'"></i>
          <i style="vertical-align: baseline;" class="icon-camera icon-white" data-bind="visible: nodeModel.node().type() === 'camera'"></i>
          <i style="vertical-align: baseline;" class="icon-road icon-white" data-bind="visible: nodeModel.node().type() === 'vehicle'"></i>
          <i style="vertical-align: baseline;" class="icon-flag icon-white" data-bind="visible: nodeModel.node().type() === 'location'"></i>
        </span>
        <span data-bind="text: nodeModel.node() ? nodeModel.node().name : 'www.runge.se'"></span>
      </a>

      <div class="pull-right">

        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <i class="icon-user icon-white"></i>
              <span data-bind="ifnot: currentUser">Sign In</span>
              <span data-bind="if: currentUser, text: currentUser().name"></span>
              <strong class="caret"></strong>
            </a>
            <ul class="dropdown-menu">

              <form class="" data-bind="submit: adminModel.loginSubmit, visible: !currentUser()" style="padding: 15px; padding-bottom: 0px; margin-bottom: 0px;">
                <input placeholder="Username" style="margin-bottom: 15px;" type="text" ize="30" data-bind="hasfocus: adminModel.usernameFocused, disable: adminModel.loading, value: adminModel.inputUsername"/>
                <input placeholder="Password" style="margin-bottom: 15px;" type="password" size="30" data-bind="disable: adminModel.loading, value: adminModel.inputPassword"/>
                <input style="float: left; margin-right: 10px;" type="checkbox" value="1" data-bind="disable: adminModel.loading, checked: adminModel.inputRemember"/>
                <label class="string optional" for="inputRemember"> Remember me</label>

                <input data-bind="disable: adminModel.loading" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; margin-bottom: 15px;" type="submit" name="signin" value="Sign In" />
                <div data-bind="visible: adminModel.errorText() != '', text: adminModel.errorText" style="margin-bottom: 15px;"></div>
              </form>

              <div data-bind="visible: currentUser">
                <li><a href="#admin" data-bind="visible: currentUser().admin">Administration</a></li>
                <li><a href="#" data-bind="visible: currentUser._person, hrefFirst: [ 'node', currentUser._person ]">Me</a></li>
                <li><a href="#adminChangePasswordModal" data-toggle="modal" data-bind="click: adminModel.changePasswordClicked.bind($data, false)">Change password</a></li>
                <li><a href="#" data-bind="click: adminModel.signOutClicked">Sign out</a></li>
              </div>

            </ul>
          </li>
        </ul>

        <div class="divider-vertical pull-right"></div>

        <form class="navbar-search pull-right" data-bind="fadeVisible: currentUser, submit: searchModel.searchSubmit">
          <input type="text" class="search-query navbar-search-input" placeholder="Search" data-provide="typesearch" data-bind="value: searchModel.queryInput"/>
        </form>

        <a class="nav pull-right" rel="tooltip" title="Go to search page" style="padding: 10px 15px 10px;" href="#search" data-placement="bottom" data-bind="fadeVisible: currentUser">
          <i class="icon-search icon-white"></i>
        </a>

        <a class="nav pull-right" rel="tooltip" title="Go to start page" style="padding: 10px 15px 10px;" href="#" data-placement="bottom">
          <i class="icon-home icon-white"></i>
        </a>

        <a class="nav pull-right" rel="tooltip" data-bind="fadeVisible: currentUser, click: randomClicked" title="Go to random node" style="padding: 10px 15px 10px;" href="#"  data-placement="bottom">
          <i class="icon-random icon-white"></i>
        </a>

        <ul class="nav pull-right" data-bind="visible: currentUser">
          <li class="dropdown">
            <a class="dropdown-toggle" rel="tooltip" data-toggle="dropdown" href="#" data-placement="bottom">
              <i class="icon-plus icon-white" title="Create new node"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#createAlbumModal" data-toggle="modal">Album</a></li>
              <li><a href="#createPersonModal" data-toggle="modal">Person</a></li>
              <li><a href="#createLocationModal" data-toggle="modal">Location</a></li>
              <li><a href="#createCameraModal" data-toggle="modal">Camera</a></li>
              <li><a href="#createVehicleModal" data-toggle="modal">Vehicle</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>



<form class="modal" id="selectDatetimeModal" tabindex="-1" role="dialog" aria-labelledby="selectDatetimeModalLabel" aria-hidden="true" style="display: none;" data-bind="">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.createLoading" type="selectDatetimeModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="selectDatetimeModalLabel">Select date and time</h3>
  </div>
  <div class="modal-body">

    <div class="input-append bootstrap-timepicker-component">
      <input type="text" class="timepicker input-small">
      <span class="add-on">
          <i class="icon-time"></i>
      </span>
    </div>

    <div class="input-append date" data-date="">
      <input class="datepicker" style="margin: 0px;" size="16" type="text">
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>



      <select data-bind="foreach: timezones, value: nodeModel.overlayModel.whenManualTimezone" class="input-medium">
        <option data-bind="attr: { value: $data.offset }, text: $data.name"></option>
      </select>
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: nodeModel.overlayModel.whenManualDaylightSavings">
        Daylight savings
      </label>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.createErrorText() != '', text: nodeModel.createErrorText"></p>
    <button data-bind="disable: nodeModel.createLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.createLoading" class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

