<div class="main-overlay" data-bind="fadeVisible: nodeModel.filesModel.show() && nodeModel.node() !== false">
  <div class="main-overlay-content" data-bind="if: nodeModel.node() !== false, event: { dragenter: murrix.dragNoopHandler, dragexit: murrix.dragNoopHandler, dragover: murrix.dragNoopHandler, drop: dialogModel.uploadModel.dropEventHandler }">

    <ul class="thumbnails" data-bind="foreach: nodeModel.filesModel.files">
      <li class="">
        <a href="#" class="thumbnail-picture" data-bind="hrefSecondSecondary: $data._id">
          <img data-bind="srcPicture: [ $data._id, 250, 250, 1, $data.cacheId ], attr: { title: $data.name }, draggable: { id: $data._id, type: $data.type }" src="" alt="">
        </a>
      </li>
    </ul>

  </div>
  <div class="main-overlay-background"></div>
</div>