<div class="fadeInDown animated node-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Public access</h3>
                <p>
                    Public access can be granted on <widget-node-type params="{ type: nodepath().node().properties.type }"></widget-node-type>s if needed. This will allow anyone with the link to access model <widget-node-type params="{ type: nodepath().node().properties.type }"></widget-node-type>. <em>Use with care!</em>
                </p>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-bind="checked: public"> Public
                        </label>
                    </div>
                </div>

                <h3>Primary group access</h3>
                <p>
                    A group can be given read and write access model <widget-node-type params="{ type: nodepath().node().properties.type }"></widget-node-type>. This will grant the group the selected rights on model <widget-node-type params="{ type: nodepath().node().properties.type }"></widget-node-type>.
                </p>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Access</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" placeholder="Select a group" data-bind="groupselect: { gid: gid }">
                            </td>
                            <td style="width: 30%;">
                                <select class="form-control" data-bind="value: groupAccess, disable: saving">
                                    <option value="none">None</option>
                                    <option value="read">Read</option>
                                    <option value="write">Read and write</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3>Extra group access</h3>
                <p>
                    It is possible to give more groups access by adding them here.
                </p>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Access</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: aclGroupList">
                        <tr>
                            <td style="font-weight: 700; color: #2d6ca2; padding: 12px;" data-bind="gnameNice: $data.gid"></td>
                            <td style="width: 30%;">
                                <select class="form-control" data-bind="value: $data.access, disable: $component.saving">
                                    <option value="none">None</option>
                                    <option value="read">Read</option>
                                    <option value="write">Read and write</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" placeholder="Add a group" data-bind="groupselect: { gid: aclGid }, disable: saving">
                            </td>
                            <td style="width: 30%;">
                                <select class="form-control" data-bind="value: aclGroupAccess, disable: saving">
                                    <option value="read">Read</option>
                                    <option value="write">Read and write</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h3>Who has access</h3>
                <p>
                    Here is a list of all the users that have access and what access level they have. This is based on what groups are selected to the left and what access level they are granted.
                </p>
                <div>
                    <table class="table table-condensed table-striped">
                        <tbody data-bind="foreach: whoHasAccess">
                            <tr>
                                <td>
                                    <span data-bind="if: $data.uid">
                                        <auth-widget-picture-user params="{ size: 20, uid: $data.uid, classes: 'img-circle' }" style="margin-right: 10px;" class="pull-left"></auth-widget-picture-user>
                                    </span>
                                    <span data-bind="text: $data.name"></span>
                                </td>
                                <td>
                                    <span data-bind="visible: $data.type == 'read'">Read access</span>
                                    <span data-bind="visible: $data.type == 'write'">Read and write access</span>
                                    <span data-bind="text: $data.reason"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
