
<div id="dialogGroup" class="modal hide fade" data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 data-bind="visible: dialogModel.groupModel.id() === false">Create a group</h3>
    <h3 data-bind="visible: dialogModel.groupModel.id() !== false">Edit group</h3>
  </div>
  <div class="modal-body">

    <div style="margin-right: 10px;">
      <input placeholder="Write a name..." type="text" style="width: 100%;" data-bind="disable: dialogModel.groupModel.disabled, value: dialogModel.groupModel.name"/>
    </div>

    <div data-bind="template: { name: dialogModel.groupModel.descriptionModel.template(), data: dialogModel.groupModel.descriptionModel }"></div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: dialogModel.groupModel.errorText() != '', text: dialogModel.groupModel.errorText"></p>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" data-bind="click: dialogModel.groupModel.saveHandler">Save</a>
  </div>
</div>
