<div class="main-overlay" data-bind="slideVisible: nodeModel.issuesModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-warning-sign icon-white"></i> Issues</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="well" style="padding-bottom: 0px;">
      <div data-bind="foreach: nodeModel.issuesModel.issues">
        <div class="alert alert-block alert-error">
          <h4 class="alert-heading" data-bind="text: $data.title"></h4>
          <p data-bind="html: $data.description"></p>
          <p>
            <a href="#" class="btn btn-danger" data-bind="click: $data.action, html: $data.actionTitle"></a>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="main-overlay-background"></div>
</div>
