
body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: white;
  background-color: black;
  z-index: 10000000000000;
}

.background-map {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}

.background-timeline {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 271px;
  width: 0px;
  z-index: 1;
}

.background-timeline-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.5;
}

.background-timeline-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.timeline-dot {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  position: absolute;
  width: 8px;
  height: 8px;
  left: 21px;
  background-color: white;
}

.btn-spacer-small {
  width: 5px;
}

.btn-spacer-big {
  width: 15px;
}

.navbar-inner {
  padding-right: 0px;
}

.typeahead {
  z-index: 4061;
}

.thumbnail-picture {
  display: block;
  border: 1px solid black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
/*  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
}

.thumbnail-picture img {
/*  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
}

.thumbnails {
  margin-left: -18px;
}

.thumbnails > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 18px;
}

.navbar-color .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #959595, #3F3F3F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#959595), to(#3F3F3F));
  background-image: -webkit-linear-gradient(top, #959595, #3F3F3F);
  background-image: -o-linear-gradient(top, #959595, #3F3F3F);
  background-image: linear-gradient(to bottom, #959595, #3F3F3F);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#959595', endColorstr='#3F3F3F', GradientType=0);
}

.navbar-color .brand,
.navbar-color .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.main-overlay {
  z-index: 2;
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 270px;
  right: 0px;
  margin-bottom: 0px;
}

.main-overlay-big
{
  z-index: 2;
  position: absolute;
  top: 100px;
  bottom: 60px;
  left: 60px;
  right: 60px;
  margin-bottom: 0px;
}

.main-overlay-background {
  z-index: -1;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: black;
/*   border-top: 1px solid #E3E3E3; */
/*   border-right: 1px solid #E3E3E3; */
/*   border-bottom: 1px solid #E3E3E3; */
}

.main-overlay-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.main-overlay-centered-form {
  background-color: whiteSmoke;
  border-top: 1px solid #E5E5E5;
  padding-top: 27px;
}

.background-map img {
  max-width: none;
}

.background-map label {
  width: auto; display:inline;
}


.navbar-search .search-query {
  margin-bottom: 0px;
}

.pagination ul {
  background-color: whiteSmoke;
}

.main-overlay-centered-form {

}

div.inlineEdit,
span.inlineEdit {

}

input.inlineEdit,
textarea.inlineEdit{
  margin-bottom: 0px;
}

.italicText {
  font-style: italic;
}

.btn-group {
  display: inline-block;
}

input, textarea {
  width: auto;
}

/*

#timeline{
  background:none;
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.slider .slider-container-mask .slider-container{
  background:none;
}

#timeline div.navigation{
    background: url('../img/timeline_bg.jpg') repeat;
    border-top:none;
}


#timeline div.navigation:before{
  position:absolute;
  content:'';
  height:40px;
  width:100%;
  left:0;
  top:-40px;
  background: url('../img/timeline_bg.jpg') repeat;
}

#timeline div.navigation:after{
  position:absolute;
  content:'';
  height:10px;
  width:100%;
  left:0;
  top:-40px;
  background:repeat-x;

  background-image: linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -o-linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -moz-linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -webkit-linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -ms-linear-gradient(bottom, #434446 0%, #363839 100%);
}



#timeline div.timenav-background{
  background-color:#222 !important;
  background-color:rgba(0,0,0,0.4) !important;

}

#timeline .navigation .timenav-background .timenav-interval-background{
  background:none;
}

#timeline .top-highlight{
  background-color:transparent !important;
}


#timeline .toolbar{
  border:none !important;
  background-color: #202222 !important;
}

#timeline .toolbar div{
  border:none !important;
}


#timeline .navigation .timenav .time .time-interval-minor .minor{
  margin-left:-1px;
}

#timeline .navigation .timenav .time .time-interval div{
  color: #CCCCCC;
}


#timeline .navigation .timenav .content .marker .line {
  background: #242828;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
}

#timeline .navigation .timenav .content .marker .dot {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}


.slider .nav-previous .icon {
  background: url("timeline.png") no-repeat scroll 0 -293px transparent;
}

.slider .nav-previous,.slider .nav-next{
  font-family:'Segoe UI',sans-serif;
}

.slider .nav-next .icon {
  background: url("timeline.png") no-repeat scroll 72px -221px transparent;
  width: 70px !important;
}

.slider .nav-next:hover .icon{
  position:relative;
  right:-5px;
}

.slider .nav-previous:hover, .slider .nav-next:hover {
    color: #666;
    cursor: pointer;
}

#timeline .thumbnail {
  border: medium none;
}


#timeline h1, #timeline h2, #timeline h3, #timeline h4, #timeline h5, #timeline h6{
  color:#ddd;
}


#timeline .feedback {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) inset;
  border:none;
}

#timeline .feedback div{
  color: #AAAAAA;
  font-size: 14px !important;
  font-weight: normal;
}*/


.imgareamark-border1 {
    border: 1px solid white;
}

.imgareamark-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.overlayWhereMap img {
  max-width: none;
}

.overlayWhereMap label {
  width: auto; display:inline;
}

.nodeBox {
  border: 1px solid black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.nodeBox img {
  -webkit-border-radius-top-left: 3px;
     -moz-border-radius-top-left: 3px;
          border-radius-top-left: 3px;
  -webkit-border-radius-top-right: 3px;
     -moz-border-radius-top-right: 3px;
          border-radius-top-right: 3px;
}

.itemLine {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.itemLine img, imgRounded {
  -webkit-border-radius-top-left: 3px;
     -moz-border-radius-top-left: 3px;
          border-radius-top-left: 3px;
  -webkit-border-radius-top-right: 3px;
     -moz-border-radius-top-right: 3px;
          border-radius-top-right: 3px;
}

.imgRounded {
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
        border-radius: 3px;
}

.modal-backdrop {
  z-index: 3040;
}

.modal {
  z-index: 3050;
}

.btn-link {
  text-align: left;
}

.tooltip {
  z-index: 4070;
}

i.icon-fixed[class*=" icon-"] {
  color: black;
  width: 16px;
  margin-right: 10px;
  display: inline-block;
}

i.icon-fixed[class*="icon-white"] {
  color: white;
}

.sidebar-nav {
  z-index: 5;
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 20px;
  width: 250px;
  margin-bottom: 0px;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
}

.sidebar-nav-background {
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: whiteSmoke;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
}

.sidebar-nav-content {
  position: absolute;
  top: 230px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  z-index: 100;
}

.sidebar-nav-profilepicture {
  float: left;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-color: white;
}

.modal-big {
  right: 50px;
  left: 50px;
  top: 50px !important;
  bottom: 50px;
  width: auto;
  margin: 0px;
}

.modal-big .modal-body {
  position: absolute;
  top: 49px;
  left: 0px;
  right: 0px;
  bottom: 60px;
  overflow: auto;
  max-height: none;
}

.modal-big .modal-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.modal-body-side {
  right: 331px !important;
}

.modal-sidebar {
  position: absolute;
  top: 49px;
  bottom: 60px;
  right: 0px;
  width: 300px;

  padding: 15px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  box-shadow: inset 1px 0 0 #ffffff;
}

.timeline-container {
  padding: 30px;
}

.timeline-day {
  position: relative;
  margin-bottom: 45px;
}

.timeline-day-date {
  width: 260px;
  color: #ddd;
  line-height: normal;
}

.timeline-day:nth-child(odd) .timeline-day-date {
  float: left;
  margin: 20px 20px 0px 0px;
  text-align: right;
}

.timeline-day:nth-child(even) .timeline-day-date {
  float: right;
  margin: 20px 0px 0px 20px;
  text-align: left;
}

.timeline-day-date-day {
  font-size: 20px;
}

.timeline-day-date-year {
  font-weight: bold;
  font-size: 60px;
}

.timeline-day-content {
  padding: 30px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  box-shadow: inset 1px 0 0 #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.timeline-day:nth-child(odd) .timeline-day-content {
  margin-left: 300px;
}

.timeline-day:nth-child(even) .timeline-day-content {
  margin-right: 300px;
}

.timeline-day-content-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.timeline-day-content-item:last-child {
 padding-bottom: 0px;
 border-bottom-width: 0px;
 margin-bottom: 0px;
}

.timeline-day-content-item-picture {
  display: block;
  margin: 0px 1px 1px 0px;
}

.timeline-day-content-item-information {
  color: #999;
  font-size: 10px;
  padding: 20px 10px 0px 0px;
}

.timeline-day-content-item-information-item {
  margin-right: 10px;
}

.timeline-day-content-item-text {
  color: #333333;
}

.timeline-day-content-item-text:hover {
  text-decoration: none;
}

.timeline-slideout {
  z-index: 2;
  position: fixed;
  top: 86px;
  left: 90px;
  width: 200px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
}

.timeline-slideout:hover {
  left: 272px;
}

.timeline-slideout-handle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 20px;
  background-color: #E3E3E3;
  -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
