
body {
  padding-top: 50px;
  background-color: #FFF;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: white;
  background-color: black;
  z-index: 10000000000000;
}

.background-map {

}



.fix-max {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}

.abs-max {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}

.content {
  z-index: 10;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  overflow-y: scroll;
}

/*.content h1 {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}*/



.background {
  z-index: 5;
  opacity: 0.9;
  background-color: white;
}

.navbar-shadow {
  position: fixed;
  top: 0px;
  left: 250px;
  right: 0px;
  height: 50px;
  z-index: 10;
  -webkit-box-shadow: 0 4px 8px -2px black;
     -moz-box-shadow: 0 4px 8px -2px black;
          box-shadow: 0 4px 8px -2px black;
}

.sidebar-shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  bottom: 0px;
  z-index: 10;
  -webkit-box-shadow: 4px 0 8px -2px black;
     -moz-box-shadow: 4px 0 8px -2px black;
          box-shadow: 4px 0 8px -2px black;
}

.sidebar-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 250px;
}

.sidebar-fade {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 250px;
  background: transparent;
  background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 50%, rgba( 255, 255, 255, 1 ) 100% );
  background: -moz-linear-gradient(top, rgba( 255, 255, 255, 0) 50%, rgba( 255, 255, 255, 1 ) 100% );
  background: -ms-linear-gradient(top, rgba( 255, 255, 255, 0 ) 50%, rgba( 255, 255, 255, 1 ) 100% );
  background: -o-linear-gradient( top, rgba( 255, 255, 255, 0 ) 50%, rgba( 255, 255, 255, 1 ) 100% );
  background: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0 ) 50%, rgba( 255, 255, 255, 1 ) 100% );
}

.sidebar {
  top: 50px;
  width: 250px;
  right: none;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .nav-pills > li > a {
  border-radius: 0;
}

.sidebar .nav-stacked > li + li > a {
  margin-top: 0;
}

.sidebar .nav-pills > li + li {
  margin-left: 0;
}

.content-header-fade {
  width: 100%;
  height: 250px;
  background: transparent;
  background: linear-gradient(top, rgba( 0, 0, 0, 0 ) 50%, rgba( 0, 0, 0, 0 ) 100% );
  background: -moz-linear-gradient(top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% );
  background: -ms-linear-gradient(top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% );
  background: -o-linear-gradient( top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% );
  background: -webkit-linear-gradient( top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% );
}

.content .page-header {
  border-bottom: 1px solid #bbb;
}



.background-timeline {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 271px;
  width: 0px;
  z-index: 1;
}

.background-timeline-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.5;
}

.background-timeline-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.timeline-dot {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  position: absolute;
  width: 8px;
  height: 8px;
  left: 21px;
  background-color: white;
}

.btn-spacer-small {
  width: 5px;
}

.btn-spacer-big {
  width: 15px;
}

.navbar-inner {
  padding-right: 0px;
}

.typeahead {
  z-index: 4061;
}

.thumbnail-picture {
  display: block;
  border: 1px solid black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
/*  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
}

.thumbnail-picture img {
/*  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/

  width: 250px;
  height: 250px;
}

.thumbnails {
  margin-left: -18px;
}

.thumbnails > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 18px;
}

.navbar-color .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #959595, #3F3F3F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#959595), to(#3F3F3F));
  background-image: -webkit-linear-gradient(top, #959595, #3F3F3F);
  background-image: -o-linear-gradient(top, #959595, #3F3F3F);
  background-image: linear-gradient(to bottom, #959595, #3F3F3F);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#959595', endColorstr='#3F3F3F', GradientType=0);
}

.navbar-color .brand,
.navbar-color .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.main-overlay {
  z-index: 2;
  position: absolute;
  top: 41px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.main-overlay-big
{
  z-index: 2;
  position: absolute;
  top: 100px;
  bottom: 60px;
  left: 60px;
  right: 60px;
  margin-bottom: 0px;
}

.main-background {
  z-index: -1;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: black;

}

.main-overlay-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 262px;
}

.main-overlay-centered-form {
  background-color: whiteSmoke;
  border-top: 1px solid #E5E5E5;
  padding-top: 27px;
}

.background-map img {
  max-width: none;
}

.background-map label {
  width: auto; display:inline;
}


.navbar-search .search-query {
  margin-bottom: 0px;
}

.pagination ul {
  background-color: whiteSmoke;
}

.main-overlay-centered-form {

}

div.inlineEdit,
span.inlineEdit {

}

input.inlineEdit,
textarea.inlineEdit{
  margin-bottom: 0px;
}

.italicText {
  font-style: italic;
}

.btn-group {
  display: inline-block;
}

input, textarea {
  width: auto;
}

/*

#timeline{
  background:none;
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.slider .slider-container-mask .slider-container{
  background:none;
}

#timeline div.navigation{
    background: url('../img/timeline_bg.jpg') repeat;
    border-top:none;
}


#timeline div.navigation:before{
  position:absolute;
  content:'';
  height:40px;
  width:100%;
  left:0;
  top:-40px;
  background: url('../img/timeline_bg.jpg') repeat;
}

#timeline div.navigation:after{
  position:absolute;
  content:'';
  height:10px;
  width:100%;
  left:0;
  top:-40px;
  background:repeat-x;

  background-image: linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -o-linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -moz-linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -webkit-linear-gradient(bottom, #434446 0%, #363839 100%);
  background-image: -ms-linear-gradient(bottom, #434446 0%, #363839 100%);
}



#timeline div.timenav-background{
  background-color:#222 !important;
  background-color:rgba(0,0,0,0.4) !important;

}

#timeline .navigation .timenav-background .timenav-interval-background{
  background:none;
}

#timeline .top-highlight{
  background-color:transparent !important;
}


#timeline .toolbar{
  border:none !important;
  background-color: #202222 !important;
}

#timeline .toolbar div{
  border:none !important;
}


#timeline .navigation .timenav .time .time-interval-minor .minor{
  margin-left:-1px;
}

#timeline .navigation .timenav .time .time-interval div{
  color: #CCCCCC;
}


#timeline .navigation .timenav .content .marker .line {
  background: #242828;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
}

#timeline .navigation .timenav .content .marker .dot {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}


.slider .nav-previous .icon {
  background: url("timeline.png") no-repeat scroll 0 -293px transparent;
}

.slider .nav-previous,.slider .nav-next{
  font-family:'Segoe UI',sans-serif;
}

.slider .nav-next .icon {
  background: url("timeline.png") no-repeat scroll 72px -221px transparent;
  width: 70px !important;
}

.slider .nav-next:hover .icon{
  position:relative;
  right:-5px;
}

.slider .nav-previous:hover, .slider .nav-next:hover {
    color: #666;
    cursor: pointer;
}

#timeline .thumbnail {
  border: medium none;
}


#timeline h1, #timeline h2, #timeline h3, #timeline h4, #timeline h5, #timeline h6{
  color:#ddd;
}


#timeline .feedback {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) inset;
  border:none;
}

#timeline .feedback div{
  color: #AAAAAA;
  font-size: 14px !important;
  font-weight: normal;
}*/


.imgareamark-border1 {
    border: 1px solid white;
}

.imgareamark-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.overlayWhereMap img {
  max-width: none;
}

.overlayWhereMap label {
  width: auto; display:inline;
}

.nodeBox {
  border: 1px solid black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.nodeBox img {
  -webkit-border-radius-top-left: 3px;
     -moz-border-radius-top-left: 3px;
          border-radius-top-left: 3px;
  -webkit-border-radius-top-right: 3px;
     -moz-border-radius-top-right: 3px;
          border-radius-top-right: 3px;
}

.itemLine {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.itemLine img, imgRounded {
  -webkit-border-radius-top-left: 3px;
     -moz-border-radius-top-left: 3px;
          border-radius-top-left: 3px;
  -webkit-border-radius-top-right: 3px;
     -moz-border-radius-top-right: 3px;
          border-radius-top-right: 3px;
}

.imgRounded {
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
        border-radius: 3px;
}

.modal-backdrop {
  z-index: 3040;
}

.modal {
  z-index: 3050;
}

.btn-link {
  text-align: left;
}

.tooltip {
  z-index: 4070;
}

i.icon-fixed[class*=" icon-"] {
  color: black;
  width: 16px;
  margin-right: 10px;
  display: inline-block;
}

i.icon-fixed[class*="icon-white"] {
  color: white;
}

.box {
  border: 1px solid black;
  border-bottom-width: 0px;
  -webkit-box-shadow: 3px 3px 15px 3px black;
    -moz-box-shadow: 3px 3px 15px 3px black;
          box-shadow: 3px 3px 15px 3px black;
  border-radius: 3px 3px 3px 3px;
  background-color: white;
}

.box-content {
  padding: 30px;
  margin-bottom: 30px;
}

.relation-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  padding: 0px 0px 0px 230px;
  overflow: hidden;
  cursor: move;
}

.relation-person-box {
  text-align: left;
}

.relation-horizontal-line-left {
  height: 2px;
  background-color: white;
  display: inline-block;
  width: 50%;
}

.relation-horizontal-line-right {
  height: 2px;
  background-color: white;
  display: inline-block;
  width: 50%;
}

.relation-horizontal-line-hide {
  background-color: transparent;
}

.relation-person-image {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -6px;
  left: -6px;
  border: 1px solid #555;
  -webkit-box-shadow: 3px 3px 15px 3px black;
    -moz-box-shadow: 3px 3px 15px 3px black;
          box-shadow: 3px 3px 15px 3px black;
  border-radius: 3px 3px 3px 3px;
  z-index: 3;
}

.relation-person-image img {
  width: 80px;
  height: 80px;
  border-radius: 3px 3px 3px 3px;
  background-color: #555;
}

.relation-person-image-small {
  width: 90px;
  height: 90px;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555;
  -webkit-box-shadow: 3px 3px 15px 3px black;
    -moz-box-shadow: 3px 3px 15px 3px black;
          box-shadow: 3px 3px 15px 3px black;
  border-radius: 3px 3px 3px 3px;
  z-index: 3;
}

.relation-person-image-small img {
  width: 90px;
  height: 90px;
  border-radius: 3px 3px 3px 3px;
  background-color: #555;
}

.relation-person-image-small-title {
  padding: 5px;
  text-align: center;
  margin: 0px 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  cursor: pointer;
  font-size: 20px;
}

.relation-person-image-small-title a {
  color: black;
  cursor: pointer;
}

.relation-person-title {
  padding: 5px 10px;
  z-index: 2;
  position: relative;
  margin-bottom: 10px;
  font-weight: bold;
}

.relation-person-title a {
  color: black;
  cursor: pointer;
  margin-left: 80px;
}

.relation-person-partner {
  cursor: pointer;
}

.relation-person-title-background {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.7;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}

.relation-person-title-male {
  background-color: #0088CC;
}

.relation-person-title-female {
  background-color: #FF9999;
}

.relation-expand {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0;
  margin-left: -9px;
  z-index: 1;
  position: relative;
  border-radius: 3px;
  border: 1px solid #555;
  color: #0088CC;
  background-color: white;
  font-size: 10px;
}

.relation-child-expand {
  margin-top: 30px;
}

.relation-parent-expand {
  margin-top: -19px;
}



.relation-cut {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0;
  margin-left: -7px;
  z-index: 1;
  position: relative;
  font-size: 8px;
  border-radius: 16px;
}

.relation-cut i {
  line-height: normal !important;
  display: block !important;
}

.relation-parent-cut {
  margin-top: 2px;
}

.relation-child-cut {
  margin-bottom: -42px;
}



.relation-add {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0;
  margin-left: -7px;
  z-index: 1;
  position: relative;
  font-size: 8px;
  border-radius: 16px;
}

.relation-add i {
  line-height: normal !important;
  display: block !important;
}

.relation-parent-add {
  margin-top: -28px;
  margin-left: -22px;
}

.relation-child-add {
  margin-bottom: -42px;
  margin-left: -22px;
}


.relation-zoom-control {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 20px;
  height: 208px;
  cursor: pointer;
  z-index: 10;
}

.relation-zoom-control .line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 8px;
  background-color: white;
  width: 2px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

.relation-zoom-control .mark-container {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  bottom: 20px;
  z-index: 2;
}

.relation-zoom-control .mark {
  position: absolute;
  left: 0px;
  width: 18px;
  height: 10px;
  z-index: 2;
  padding: 0px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #555;
  color: #555;
  background-color: white;
  font-size: 10px;
}

.relation-zoom-control .inc {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  z-index: 2;
  padding: 0px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #555;
  color: #555;
  background-color: white;
  font-size: 10px;
}

.relation-zoom-control .dec {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  z-index: 2;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #555;
  color: #555;
  background-color: white;
  font-size: 10px;
}




.sidebar-nav {
  z-index: 5;
  position: absolute;
  top: 71px;
  bottom: 30px;
  left: 30px;
  width: 200px;
  margin-bottom: 0px;
}

.sidebar-nav-background {
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}

.sidebar-nav-content {
  position: absolute;
  top: 240px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  z-index: 100;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-nav-content-main {
  top: 230px;
}

.sidebar-nav-profilepicture {
  position: relative;
  width: 238px;
  height: 238px;
  margin-top: -20px;
  margin-left: -20px;
  border: 1px solid #555;
  -webkit-box-shadow: 3px 3px 15px 3px black;
    -moz-box-shadow: 3px 3px 15px 3px black;
          box-shadow: 3px 3px 15px 3px black;
  border-radius: 3px 3px 3px 3px;
}

.sidebar-nav-profilepicture img {
  width: 238px;
  height: 238px;
  border-radius: 3px 3px 3px 3px;
}

.sidebar-nav-picture {
  position: relative;
  width: 240px;
  height: 240px;
  margin-top: -20px;
  margin-left: -20px;
}

.sidebar-nav-picture img {
  width: 240px;
  height: 240px;
}

.sidebar-nav-issues {
  width: 228px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding: 5px;
  border-radius: 3px 3px 0px 0px;
  background-color: #b94a48;
  color: #eed3d7;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
/*  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.3*/
}

/*@-webkit-keyframes pulsate {
    0% {-webkit-transform: opacity: 0.3;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: opacity: 0.3;}
}*/

.sidebar-nav-issues:hover {
 opacity: 1.0;
}

.sidebar-nav-droptarget {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  font-size: 30px;
  padding-top: 90px;
  color: whiteSmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: none;
}

.drop-target-active .sidebar-nav-droptarget, .drop-target-highlight .sidebar-nav-droptarget {
  display: block;
}

.modal-big {
  right: 50px;
  left: 50px;
  top: 50px !important;
  bottom: 50px;
  width: auto;
  margin: 0px;
}

.modal-big .modal-body {
  position: absolute;
  top: 49px;
  left: 0px;
  right: 0px;
  bottom: 60px;
  overflow: auto;
  max-height: none;
}

.modal-big .modal-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.modal-body-side {
  right: 331px !important;
}

.modal-sidebar {
  position: absolute;
  top: 49px;
  bottom: 60px;
  right: 0px;
  width: 300px;

  padding: 15px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  box-shadow: inset 1px 0 0 #ffffff;
}

.timeline-container {
  padding: 30px;
}

.timeline-day {
  position: relative;
  margin-bottom: 45px;
}

.timeline-day-date {
  width: 260px;
  color: #ddd;
  line-height: normal;
}

.timeline-day:nth-child(odd) .timeline-day-date {
  float: left;
  margin: 20px 20px 0px 0px;
  text-align: right;
}

.timeline-day:nth-child(even) .timeline-day-date {
  float: right;
  margin: 20px 0px 0px 20px;
  text-align: left;
}

.timeline-day-date-day {
  font-size: 20px;
}

.timeline-day-date-year {
  font-weight: bold;
  font-size: 60px;
}

.timeline-day-content {
}

.timeline-day:nth-child(odd) .timeline-day-content {
  margin-left: 300px;
}

.timeline-day:nth-child(even) .timeline-day-content {
  margin-right: 300px;
}

.timeline-day-content-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.timeline-day-content-item:last-child {
 padding-bottom: 0px;
 border-bottom-width: 0px;
 margin-bottom: 0px;
}

.timeline-day-content-item-picture {
  display: block;
  margin: 0px 1px 1px 0px;
}

.timeline-day-content-item-information {
  color: #999;
  font-size: 10px;
  padding: 20px 10px 0px 0px;
}

.timeline-day-content-item-information-item {
  margin-right: 10px;
}

.timeline-day-content-item-text {
  color: #333333;
}

.timeline-day-content-item-text:hover {
  text-decoration: none;
}

.dropdown-title {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.nodeGroupAccesItem {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}





.mm, .bar {
  fill: #0088CC;
  opacity: 0.6;
}

path, line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

path.axis {
  stroke: black;
  stroke-width: 1px;
}

.tick text {
  fill: black;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}






.trackBox {
  border: 1px solid black;
  border-top-width: 0px;
  -webkit-border-radius: 0px 0px 3px 3px;
     -moz-border-radius: 0px 0px 3px 3px;
          border-radius: 0px 0px 3px 3px;
  background-color: white;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  float: left;
}

.trackBoxStripe {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 5px;

  -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
         border-bottom-left-radius: 3px;
}
