
<div id="dialogUpload" class="modal hide fade modal-big" data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-bind="disable: dialogModel.uploadModel.status() === 'uploading', click: dialogModel.uploadModel.hide">&times;</button>
    <h3>Upload</h3>
  </div>
  <div class="modal-body modal-body-side" data-bind="event: { dragenter: murrix.dragNoopHandler, dragexit: murrix.dragNoopHandler, dragover: murrix.dragNoopHandler, drop: dialogModel.uploadModel.dropEventHandler }">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: dialogModel.uploadModel.files">
        <tr data-bind="css: { 'success': $data.status().indexOf('success') !== -1, 'failed': $data.status().indexOf('error') !== -1 }">
          <td data-bind="text: $data.name"></td>
          <td data-bind="htmlSize: $data.size"></td>
          <td data-bind="text: $data.type"></td>
          <td data-bind="css: { 'progress': $data.status() === 'uploading', 'progress-striped': $data.status() === 'uploading', 'active': $data.status() === 'uploading' }" style="width: 300px;">
            <span data-bind="visible: $data.status() === 'queued'">
              Queued
            </span>
            <span data-bind="visible: $data.status() === 'uploading'">
              <div class="bar" data-bind="style: { width: $data.progress() + '%' }, text: $data.progress() + '%'" style="width: 0%">0%</div>
            </span>
            <span data-bind="visible: $data.status() === 'importing'">
              <i class="icon-spinner icon-spin"></i> Importing...
            </span>
            <span data-bind="visible: $data.status() === 'hiding'">
              <i class="icon-spinner icon-spin"></i> Hiding...
            </span>
            <span data-bind="visible: $data.status() === 'import_success'">
              <i class="icon-ok"></i> Import successful!
            </span>
            <span data-bind="visible: $data.status() === 'hide_success'">
              <i class="icon-ok"></i> Successfully hidden!
            </span>
            <span data-bind="visible: $data.status() === 'upload_failed'">
              <i class="icon-warning-sign"></i> Failed to upload!
            </span>
            <span data-bind="visible: $data.status() === 'import_failed'">
              <i class="icon-warning-sign"></i> Failed to import!
            </span>
            <span data-bind="visible: $data.status() === 'hide_failed'">
              <i class="icon-warning-sign"></i> Failed to hide!
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-sidebar">
    <h6>Total progress</h6>
    <div class="progress" data-bind="css: { 'progress-success': dialogModel.uploadModel.status() === 'success', 'progress-danger': dialogModel.uploadModel.status() === 'failed', 'active': dialogModel.uploadModel.status() === 'uploading', 'progress-striped': dialogModel.uploadModel.status() === 'uploading' }">
      <div class="bar" data-bind="style: { 'width': dialogModel.uploadModel.progress() + '%' }, text: dialogModel.uploadModel.progress() + '%'" style="width: 0%;">0%</div>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Uploaded</td>
          <td><span data-bind="text: dialogModel.uploadModel.index"></span> of <span data-bind="text: dialogModel.uploadModel.files().length"></span></td>
        </tr>
        <tr>
          <td>Total size</td>
          <td data-bind="htmlSize: dialogModel.uploadModel.size"></td>
        </tr>
        <tr>
          <td>Speed</td>
          <td><span data-bind="htmlSize: dialogModel.uploadModel.speed"></span>&frasl;s</td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center" data-bind="visible: dialogModel.uploadModel.status() === 'queued'">
      <button class="btn btn-large btn-primary" data-bind="click: dialogModel.uploadModel.doUpload">Start upload</button>
    </div>
    <div style="text-align: center" data-bind="visible: dialogModel.uploadModel.status() === 'uploading'">
      <button class="btn btn-large btn-warning" data-bind="visible: !dialogModel.uploadModel.pause(), click: dialogModel.uploadModel.doPause">Pause</button>
      <button class="btn btn-large btn-warning" data-bind="visible: dialogModel.uploadModel.pause()" disabled>Pausing...</button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-bind="disable: dialogModel.uploadModel.status() === 'uploading', click: dialogModel.uploadModel.hide">Close</button>
  </div>
</div>
