<a class="pull-right" style="color: #aaa; margin-top: 5px;" href="#" title="Comments" data-toggle="modal" data-target="#nodeCommentsModal">
    <i class="material-icons">comment</i>
</a>

<file-widget-profile-picture class="pull-left" style="margin-right: 15px;" params="{ size: 128, path: nodepath().path }"></file-widget-profile-picture>

<h2>
    <widget-node-text-attribute params="{ nodepath: nodepath, name: 'name' }"></widget-node-text-attribute>
</h2>
<widget-node-description params="{ nodepath: nodepath }"></widget-node-description>
<widget-node-labels params="{ nodepath: nodepath }"></widget-node-labels>
