<div class="main-overlay" data-bind="slideVisible: configModel.show">
  <div class="main-overlay-content">

<!--    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-wrench icon-white"></i> Configuration</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefFirstPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>-->

  </div>
  <div class="main-overlay-background"></div>
</div>
