<div data-bind="if: item() !== false">
    <div class="item-container" data-bind="css: { fullscreen: fullscreen }">
        <div class="image-container">
            <!-- ko if: videoUrl() === false -->
                <div class="" data-bind="click: containerClick">
                    <a class="fullscreenButton" href="#" data-bind="click: toggleFullscreen, visible: !fullscreen(), tooltip: { placement: 'left', title: 'Switch to fullscreen' }">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="fullscreenButton" href="#" data-bind="click: toggleFullscreen, visible: fullscreen, tooltip: { placement: 'left', title: 'Exit fullscreen' }">
                        <i class="fa fa-compress"></i>
                    </a>

                    <div class="image" data-bind="media: { url: '/preview?id=' + item()._id + '&width=1280&height=960&square=0', speed: 300, fadeSwitch: true }"></div>
                    <div class="hide" data-bind="if: previousId">
                        <img src="" data-bind="attr: { src: '/preview?id=' + previousId() + '&width=1280&height=960&square=0' }">
                    </div>
                    <div class="hide" data-bind="if: nextId">
                        <img src="" data-bind="attr: { src: '/preview?id=' + nextId() + '&width=1280&height=960&square=0' }">
                    </div>

                    <!-- ko foreach: item().showing -->
                        <div class="showing-item" data-bind="style: { top: (($data.y - $data.height / 2) * 100) + '%', left: (($data.x - $data.width / 2) * 100) + '%', width: ($data.width * 100) + '%', height: ($data.height * 100) + '%' }">
                            <div class="frame"></div>
                            <div class="name-container">
                                <div class="name" data-bind="nodeName: $data._id"></div>
                            </div>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->

            <!-- ko if: videoUrl() !== false -->
                <video preload="metadata" controls="true" data-bind="attr: { src: videoUrl, poster: '/preview?id=' + item()._id + '&width=1280&height=960&square=0' }" src="" alt=""></video>
            <!-- /ko -->

            <div class="arrow-container left" data-bind="click: goPrevious">
                <div class="arrow"><i class="fa fa-chevron-left"></i></div>
            </div>
            <div class="arrow-container right" data-bind="click: goNext">
                <div class="arrow"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
        <div class="data-container">
            <table style="margin-right: auto; margin-left: auto;">
                <tbody>
                    <tr>
                        <td>
                            <span class="name">
                                <strong data-bind="text: itemIndex() + 1"></strong> of <strong data-bind="text: list().length"></strong>
                            </span>
                            &nbsp;
                            <a href="#" data-bind="click: togglePlaying, visible: !playing(), tooltip: { title: 'Start slideshow' }" style="color: white;">
                                <i class="fa fa-play"></i>
                            </a>
                            <a href="#" data-bind="click: togglePlaying, visible: playing, tooltip: { title: 'Stop slideshow' }" style="color: white;">
                                <i class="fa fa-pause"></i>
                            </a>
                        </td>
                        <!--<td class="who" data-bind="visible: item()._who, if: item()._who">
                            <i class="fa fa-user"></i> <span data-bind="nodeName: item()._who"></span>
                        </td>-->
                        <td class="where" data-bind="visible: item().where, if: item().where">
                            <i class="fa fa-map-marker"></i> <span data-bind="whereName: item().where"></span>
                        </td>
                        <td class="when" data-bind="visible: item().when, if: item().when">
                            <i class="fa fa-clock-o"></i> <span data-bind="datetimeLocal: item().when.timestamp"></span>
                        </td>
                        <td class="showing" data-bind="visible: item().showing && item().showing.length > 0, if: item().showing && item().showing.length > 0">
                            <i class="fa fa-user"></i> <span data-bind="text: item().showing.length"></span>
                        </td>
                        <td class="comments" data-bind="visible: item().comments && item().comments.length > 0, if: item().comments && item().comments.length > 0">
                            <i class="fa fa-comment"></i> <span data-bind="text: item().comments.length"></span>
                        </td>
                        <td>
                            <!-- TODO: item parent node should be shown here -->
                            <i data-bind="visible: node().type === 'album'" class="fa fa-book"></i>
                            <i data-bind="visible: node().type === 'person'" class="fa fa-user"></i>
                            <i data-bind="visible: node().type === 'location'" class="fa fa-map-marker"></i>
                            <i data-bind="visible: node().type === 'camera'" class="fa fa-camera-retro"></i>
                            <i data-bind="visible: node().type === 'vehicle'" class="fa fa-truck"></i>
                            <span data-bind="text: node().name"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info-container">
            <div class="info-container-data">
                <div class="top-buttons pull-right">

                </div>
                <div>
                    <h3 class="info-container-title">
                        Information
                        <button class="btn-link pull-right" data-bind="click: close">&times;</button>
                    </h3>

                    <table style="width: 100%;">
                        <tbody>
                            <tr class="info-container-data-row">
                                <td colspan="2">
                                    <p data-bind="visible: item().description !== '', html: item().description"></p>
                                    <textarea class="form-control" style="width: 100%;" rows="1" placeholder="Write a description..." data-bind="textInput: item().description, autosize: {}, disabled: loading"></textarea>
                                </td>
                            <tr>
                                <td class="info-container-icon">
                                    <i class="fa fa-photo fa-fw fa-2x"></i>
                                </td>
                                <td class="info-container-title">
                                    <a data-bind="text: item().name, location: '/file?id=' +  item()._id"></a>
                                </td>
                            </tr>
                            <tr class="info-container-data-row">
                                <td>&nbsp;</td>
                                <td>
                                    <small class="text-muted" data-bind="htmlSize: item().exif.FileSize"></small>
                                    <small class="text-muted" data-bind="text: item().exif.ImageSize"></small>
                                    <small class="text-muted" data-bind="text: item().exif.MIMEType"></small>
                                </td>
                            </tr>
                            <!-- ko foreach: item().versions -->
                                <tr>
                                    <td class="info-container-icon">
                                        <i class="fa fa-photo fa-fw fa-2x"></i>
                                    </td>
                                    <td class="info-container-title">
                                        <a data-bind="text: $data.name, location: '/file?id=' +  $parent.item()._id + '&version=' + $data.id"></a>
                                    </td>
                                </tr>
                                <tr class="info-container-data-row">
                                    <td>&nbsp;</td>
                                    <td>
                                        <small class="text-muted" data-bind="htmlSize: $data.size"></small>
                                    </td>
                                </tr>
                            <!-- /ko -->
                            <tr>
                                <td class="info-container-icon">
                                    <i class="fa fa-camera fa-fw fa-2x"></i>
                                </td>
                                <td class="info-container-title">
                                    <div data-bind="if: item()._with">
                                        <a href="#" data-bind="nodeLink: 'n:' + item()._with"></a>
                                    </div>
                                    <div data-bind="if: !item()._with">
                                        <span data-bind="text: item().exif.Model"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="info-container-data-row">
                                <td>&nbsp;</td>
                                <td>
                                    <small data-bind="if: item()._with" class="text-muted">Owned by <a href="#" data-bind="nodeLink: 'n:' + item()._with + ':_owners.0|n:$'"></a></small>
                                </td>
                            </tr>
                            <tr class="info-container-data-row">
                                <td class="info-container-icon">
                                    <span class="picture" style="width: 36px; height: 36px;" data-bind="picture: { userId: user()._id, width: 80, height: 80, square: 1 }"></span>
                                </td>
                                <td class="clearfix">
                                    <textarea class="form-control" style="width: 100%; font-size: 12px;" rows="1" placeholder="Write a comment..." data-bind="textInput: commentText, hasFocus: commentFocus, autosize: {}, disabled: loading"></textarea>
                                    <button class="btn btn-primary btn-xs pull-right info-container-comment-button" data-bind="css: { 'info-container-comment-button-showing' : commentText() !== '' && commentFocus() }, click: submitComment, disabled: loading">Post comment</button>
                                </td>
                            </tr>
                            <!-- ko foreach: item().comments -->
                                <tr>
                                    <td class="info-container-icon">
                                        <span class="picture" style="width: 36px; height: 36px;" data-bind="picture: { userId: $data.added._by, width: 80, height: 80, square: 1 }"></span>
                                    </td>
                                    <td style="white-space: pre-line;" data-bind="html: $data.text"></td>
                                </tr>
                                <tr class="info-container-data-row">
                                    <td>&nbsp;</td>
                                    <td>
                                        <small class="text-muted" >
                                            <i class="fa fa-comment fa-fw"></i>
                                            <span data-bind="datetimeAgo: $data.added.timestamp"></span> by <span data-bind="textUserAttribute: [ $data.added._by, 'name' ]">
                                        </small>
                                    </td>
                                </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                    <button data-bind="click: regenerate">Regenerate</button>
                </div>
            </div>
            <div class="info-container-map" data-bind="map: { resize: false, where: item().where }"></div>

        </div>
    </div>
</div>
