<div class="animated fadeInRight">
    <div class="page-header">
        <h1>Recent</h1>
    </div>

    <div class="media bottom-border" style="padding-bottom: 15px;">
        <a class="pull-left" href="#">
            <img class="media-object profile-img" src="http://lorempixel.com/80/80" alt="...">
        </a>
        <div class="media-body clearfix">
            <h4 class="media-heading" style="margin-bottom: 10px; font-size: 14px;">Mattias Runge <span class="text-muted">added files to</span> <a href="#">Segling 2013</a></h4>


            <a href="#" class="pull-left" style="margin-right: 2px; margin-bottom: 2px;">
                <img src="http://lorempixel.com/160/160" alt="...">
            </a>
            <a href="#" class="pull-left" style="margin-right: 2px; margin-bottom: 2px;">
                <img src="http://lorempixel.com/160/160" alt="...">
            </a>
            <a href="#" class="pull-left" style="margin-right: 2px; margin-bottom: 2px;">
                <img src="http://lorempixel.com/160/160" alt="...">
            </a>
            <a href="#" class="pull-left" style="margin-right: 2px; margin-bottom: 2px;">
                <img src="http://lorempixel.com/160/160" alt="...">
            </a>

        </div>
    </div>

</div>
