<div class="navbar navbar-fixed-top navbar-inverse navbar-background" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="material-icons md-20">home</i>
            </a>
            <div class="navbar-form navbar-left">
                <div class="form-group header-search" style="width: 600px; position: relative;">
                    <input type="text" class="form-control" placeholder="Search for anything" data-bind="nodeselect: { root: searchPaths, path: path }" style="width: 100%;">
                    <a class="star" href="#" data-bind=", attr: { title: starred() ? 'Click to unstar' : 'Click to star' }, click: toggleStar, visible: loggedIn() && path() !== ''">
                        <i class="material-icons md-24" data-bind="visible: starred">star</i>
                        <i class="material-icons md-24" data-bind="visible: !starred()">star_border</i>
                    </a>
                </div>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right" data-bind="component: 'auth-navbar-user'"></ul>

        <ul class="nav navbar-nav navbar-right" data-bind="visible: user() !== false">
            <li>
                <a href="#" data-bind="click: random, visible: loggedIn()">
                    <i class="material-icons md-20">explore</i>
                </a>
            </li>
            <li class="dropdown" data-bind="visible: stars().length > 0 && loggedIn()">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="material-icons md-20">star</i>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: stars">
                    <li>
                        <a href="#" data-bind="location: { page: 'node', path: $data.path, section: null }">
                            <file-profile-picture params="{ size: 16, path: $data.path, nolazyload: true }"></file-profile-picture>
                            &nbsp;&nbsp;
                            <span data-bind="nodename: $data.path"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="material-icons md-20">add</i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <i class="material-icons">photo_album</i>
                            &nbsp;&nbsp;
                            Album
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">person</i>
                            &nbsp;&nbsp;
                            Person
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">location_on</i>
                            &nbsp;&nbsp;
                            Location
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">photo_camera</i>
                            &nbsp;&nbsp;
                            Camera
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
