<file-profile-picture params="{ size: 184, path: nodepath().path }"></file-profile-picture>

<div data-bind="if: type() === 'p'">
    <people-sidebar params="{ nodepath: nodepath, section: section }"></people-sidebar>
</div>
<div data-bind="if: type() === 'a'">
    <album-sidebar params="{ nodepath: nodepath, section: section }"></album-sidebar>
</div>
<div data-bind="if: type() === 'l'">
    <location-sidebar params="{ nodepath: nodepath, section: section }"></location-sidebar>
</div>
<div data-bind="if: type() === 'c'">
    <camera-sidebar params="{ nodepath: nodepath, section: section }"></camera-sidebar>
</div>
<!--<div class="top-border text-muted" data-bind="if: node, visible: node" style="margin-top: 15px; padding-top: 15px; font-size: 10px;">
    <div>
        Modified <span data-bind="datetimeAgo: node().properties.mtime"></span>
    </div>
    <div>
        Created <span data-bind="datetimeAgo: node().properties.birthtime"></span>
    </div>
    <div class="hide">
        <a href="#" data-bind="location: { section: 'history' }">Full history</a>
    </div>
</div>-->
<ul class="nav">
    <li class="header">Comments</li>
</ul>
<div data-bind="if: nodepath">
    <comment-widget-comments style="display: block; padding-bottom: 30px;" params="{ path: nodepath().path }"></comment-widget-comments>
</div>
