<div data-bind="if: type() === 'p'">
    <people-sidebar-person params="{ node: node, section: section }"></people-sidebar-person>
</div>

<div class="top-border text-muted" data-bind="if: node, visible: node" style="margin-top: 15px; padding-top: 15px; font-size: 10px;">
    <div>
        Modified <span data-bind="datetimeAgo: node().properties.mtime"></span>
    </div>
    <div>
        Created <span data-bind="datetimeAgo: node().properties.birthtime"></span>
    </div>
    <div>
        <a href="#" data-bind="location: { section: 'history' }">Full history</a>
    </div>
</div>
