<div class="main-overlay-big" data-bind="fadeVisible: searchModel.show">
  <div class="main-overlay-content">
    <div class="page-header">
      <a class="btn btn-primary pull-right" href="#">Close</a>

      <h1>Search</h1>
    </div>

    <form class="well form-search" data-bind="submit: searchModel.searchSubmit">
      <div class="input-append">
        <input class="input-xxlarge search-query" type="text" data-bind="value: searchModel.queryInput"><button class="btn" type="submit">Search</button>
      </div>
    </form>

    <h6 data-bind="text: searchModel.resultIds().length == 1 ? '1 match found.' : searchModel.resultIds().length + ' matches found.'"></h6>
    
    <div class="pagination" data-bind="visible: searchModel.pages().length > 1">
      <ul>

        <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == 0 }"><a href="#" data-bind="click: searchModel.previousPageClicked"><i class="icon-step-backward"></i></a></li>

        <!-- ko foreach: searchModel.pages -->
          <li data-bind="css: { active: $parent.searchModel.currentPage() == $data }"><a href="#" data-bind="text: $data + 1, click: $parent.searchModel.pageClicked"></a></li>
        <!-- /ko -->

        <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == searchModel.pages().length - 1 }"><a href="#" data-bind="click: searchModel.nextPageClicked"><i class="icon-step-forward"></i></a></li>

      </ul>
    </div>

    <p>
      <div data-bind="foreach: searchModel.results">
        <div>
          <a data-bind="attr: { href: '#node:' + $data.id }, text: $data.name"></a>
        </div>
      </div>
    </p>

    <div class="pagination" data-bind="visible: searchModel.pages().length > 1">
      <ul>

        <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == 0 }"><a href="#" data-bind="click: searchModel.previousPageClicked"><i class="icon-step-backward"></i></a></li>

        <!-- ko foreach: searchModel.pages -->
          <li data-bind="css: { active: $parent.searchModel.currentPage() == $data }"><a href="#" data-bind="text: $data + 1, click: $parent.searchModel.pageClicked"></a></li>
        <!-- /ko -->

        <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == searchModel.pages().length - 1 }"><a href="#" data-bind="click: searchModel.nextPageClicked"><i class="icon-step-forward"></i></a></li>

      </ul>
    </div>
    
  </div>
  <div class="well sidebar-nav-background"></div>
</div>

