<div class="fix-max rightsbar rightsbar-shadow" data-bind="slideVisible: nodeModel.accessesModel.show()">
  <div class="fix-max rightsbar-content">

    <button type="button" class="close" aria-hidden="true" data-bind="toggle: nodeModel.accessesModel.show">&times;</button>

    <h2 class="page-header">Access rights</h2>

    <h4 class="page-header">Public <small>Make node readable to users that have not signed in</small></h4>

    <div data-bind="ifnotset: nodeModel.node().public">
      <button class="btn btn-success btn-xs btn-public" data-bind="click: nodeModel.accessesModel.changePublic.bind($data, true)">
        <i class="icon-unlock icon-fixed"></i>
        Make public
      </button>
    </div>

    <div data-bind="ifset: nodeModel.node().public">
      <button class="btn btn-danger btn-xs btn-public" data-bind="click: nodeModel.accessesModel.changePublic.bind($data, false)">
        <i class="icon-lock icon-fixed"></i>
        Make private
      </button>
    </div>


    <h4 class="page-header">Administrators <small>Groups that can read and edit this node</small></h4>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Read access</th>
          <th>Admin access</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: nodeModel.accessesModel.admins">
        <tr>
          <td>
            <i style="vertical-align: center;" class="icon-group"></i>
            <span data-bind="text: $data.name, attr: { title: $data.name }"></span>
          </td>
          <td class="clearfix access-column">
            <button type="button" class="btn btn-danger btn-xs pull-right" data-bind="click: $parent.nodeModel.accessesModel.remove">Revoke</button>
          </td>
          <td class="clearfix access-column">
            <button type="button" class="btn btn-danger btn-xs pull-right" data-bind="click: $parent.nodeModel.accessesModel.makeReader">Revoke</button>
          </td>
        </tr>
      </tbody>
    </table>


    <h4 class="page-header">Readers <small>Groups that can read this node</small></h4>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Read access</th>
          <th>Admin access</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: nodeModel.accessesModel.readers">
        <tr>
          <td>
            <i style="vertical-align: center;" class="icon-group"></i>
            <span data-bind="text: $data.name, attr: { title: $data.name }"></span>
          </td>
          <td class="clearfix access-column">
            <button type="button" class="btn btn-danger btn-xs pull-right" data-bind="click: $parent.nodeModel.accessesModel.remove">Revoke</button>
          </td>
          <td class="clearfix access-column">
            <button type="button" class="btn btn-success btn-xs pull-right" data-bind="click: $parent.nodeModel.accessesModel.makeAdmin">Grant</button>
          </td>
        </tr>
      </tbody>
    </table>


    <h4 class="page-header">Others <small>Groups without any rights this node</small></h4>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Read access</th>
          <th>Admin access</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: nodeModel.accessesModel.others">
        <tr>
          <td>
            <i style="vertical-align: center;" class="icon-group"></i>
            <span data-bind="text: $data.name, attr: { title: $data.name }"></span>
          </td>
          <td class="clearfix access-column">
            <button type="button" class="btn btn-success btn-xs pull-right" data-bind="click: $parent.nodeModel.accessesModel.makeReader">Grant</button>
          </td>
          <td class="clearfix access-column">
            <button type="button" class="btn btn-success btn-xs pull-right" data-bind="click: $parent.nodeModel.accessesModel.makeAdmin">Grant</button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="fix-max rightsbar-background"></div>
</div>
