<div data-bind="if: nodepath">
    <div data-bind="if: type() === 'p'">
        <people-page params="{ nodepath: nodepath, section: section }"></people-page>
    </div>
    <div data-bind="if: type() === 'a'">
        <album-page params="{ nodepath: nodepath, section: section }"></album-page>
    </div>
    <div data-bind="if: type() === 'l'">
        <location-page params="{ nodepath: nodepath, section: section }"></location-page>
    </div>
    <div data-bind="if: type() === 'c'">
        <camera-page params="{ nodepath: nodepath, section: section }"></camera-page>
    </div>

</div>
<div data-bind="if: !nodepath() && !nodeLoading()">
    Invalid path
</div>
