<div data-bind="if: nodepath">
    <div data-bind="if: showPath">
        <widget-fullscreen-node params="{ nodepath: nodepath, showPath: showPath }"></widget-fullscreen-node>
    </div>
    <div data-bind="if: type() === 'p'">
        <people-page params="{ nodepath: nodepath, section: section }"></people-page>
    </div>
    <div data-bind="if: type() === 'a'">
        <album-page params="{ nodepath: nodepath, section: section }"></album-page>
    </div>
    <div data-bind="if: type() === 'l'">
        <location-page params="{ nodepath: nodepath, section: section }"></location-page>
    </div>
</div>
<div data-bind="if: !nodepath() && !loading()">
    Invalid path
</div>
