<div>
    <auth-sidebar-user></auth-sidebar-user>

    <ul class="nav nav-pills nav-stacked" data-bind="visible: loggedIn, if: loggedIn">
        <li class="header">Search</li>
        <li data-bind="css: { active: page() === 'recent' }">
            <a data-bind="location: { page: 'recent' }">
                <i class="material-icons md-18">home</i>
                Recent
            </a>
        </li>
        <li data-bind="css: { active: page() === 'search' }">
            <a data-bind="location: { page: 'search' }">
                <i class="material-icons md-18">search</i>
                Search by name
            </a>
        </li>
        <li data-bind="css: { active: page() === 'year' }">
            <a data-bind="location: { page: 'year' }">
                <i class="material-icons md-18">date_range</i>
                Search by year
            </a>
        </li>
    </ul>

    <div data-bind="visible: loggedIn, if: loggedIn">
        <ul class="nav">
            <li class="header">Featured</li>
        </ul>

    </div>
</div>
