<div class="modal-backdrop" style="opacity: 1; background-color: whiteSmoke;" data-bind="fadeVisible: nodeModel.overlayModel.show() && nodeModel.show(), if: nodeModel.overlayModel.show"></div>
<div style="position: absolute; top: 0px; left: 0px; right: 0px; z-index: 2050; background-color: black;" data-bind="fadeVisible: nodeModel.overlayModel.show, if: nodeModel.overlayModel.show">
  <div style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 350px; text-align: center; background-color: black;">

    <div id="overlayCarousel">
      <!-- Carousel items -->
      <div class="carousel-inner">

        <div class="item">
          <div class="imgContainer" style="position: relative; display: inline-block;">
            <img class="" style="display: inline-block; height: auto; max-height: 100%; max-width: 100%; vertical-align: middle; width: auto;" data-bind="attr: { src: nodeModel.overlayModel.itemPictureUrl }" src="" alt="">
          </div>
        </div>

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#" data-bind="click: nodeModel.overlayModel.carouselLeft">&lsaquo;</a>
      <a class="carousel-control right" href="#" data-bind="click: nodeModel.overlayModel.carouselRight">&rsaquo;</a>
    </div>

  </div>
  <div style="position: absolute; top: 0px; width: 350px; right: 0px; margin: 0px; padding: 0px; background-color: whiteSmoke;">
    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.editType() === 'showing'">
      <a class="pull-right close" data-bind="click: nodeModel.overlayModel.editFinishClicked" style="font-size: 30px">×</a>

      <h3>Tags</h3>
      <p class="muted" style="font-size: 12px;">
        <i>Tag people or things on this item e.g. who is visible on this picture.</i>
      </p>

      <h5>Current tags</h5>
      <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item() !== false">
        <tbody data-bind="foreach: nodeModel.overlayModel.item().showing">
          <tr data-bind="css: { info:  nodeModel.overlayModel.showingId() === $data._id() }, event: { mouseover: nodeModel.overlayModel.showingItemOver, mouseout: nodeModel.overlayModel.showingItemOut }">
            <td data-bind="click: nodeModel.overlayModel.showingItemClicked" style="cursor: pointer;">
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data._id(), 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ $data._id(), 'name' ]" style="margin: 0px;"></h5>
              <small data-bind="visible: !$data.x">Not marked on the picture</small>
              <small data-bind="visible: $data.x">Marked on the picture</small>
            </td>
            <td>
              <button title="Remove" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.editLoading, click: $parent.nodeModel.overlayModel.showingRemove" class="btn pull-right"><i class="icon-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <h5>Tag someone or something</h5>
      <div class="alert alert-error" data-bind="visible: nodeModel.overlayModel.editErrorText() != '', text: nodeModel.overlayModel.editErrorText"></div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Enter search query..." type="text" id="showingInput" name="showingInput" data-bind="disable: nodeModel.overlayModel.editLoading" data-provide="typesearch"/>
      </form>

      <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item()">
        <tbody data-bind="foreach: nodeModel.overlayModel.showingOther">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data._id(), 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ $data._id(), 'name' ]"></h5>
            </td>
            <td>
              <button title="Add" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.editLoading, click: $parent.nodeModel.overlayModel.showingAdd" class="btn pull-right"><i class="icon-plus"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.editType() === 'who'">
      <a class="pull-right close" data-bind="click: nodeModel.overlayModel.editFinishClicked" style="font-size: 30px">×</a>

      <h3>Select a person</h3>
      <p class="muted" style="font-size: 12px;">
        <i>Select the person who created this item e.g. who took this picture.</i>
      </p>

      <h5>Currently selected person</h5>
      <table class="table table-condensed">
        <tbody data-bind="if: nodeModel.overlayModel.item()._who">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._who, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._who, 'name' ]" style="margin: 0px;"></h5>
            </td>
            <td>
              <button title="Remove" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.editLoading, click: nodeModel.overlayModel.whoRemove" class="btn pull-right"><i class="icon-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <h5>Select a person</h5>
      <div class="alert alert-error" data-bind="visible: nodeModel.overlayModel.editErrorText() != '', text: nodeModel.overlayModel.editErrorText"></div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Enter search query..." type="text" id="whoInput" name="whoInput" data-bind="disable: nodeModel.overlayModel.editLoading" data-provide="typesearch"/>
      </form>

      <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item()">
        <tbody data-bind="foreach: nodeModel.overlayModel.whoOther">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ $data, 'name' ]"></h5>
            </td>
            <td>
              <button title="Set" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.editLoading, click: $parent.nodeModel.overlayModel.whoSet" class="btn pull-right"><i class="icon-plus"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.editType() === 'with'">
      <a class="pull-right close" data-bind="click: nodeModel.overlayModel.editFinishClicked" style="font-size: 30px">×</a>

      <h3>Select device</h3>
      <p class="muted" style="font-size: 12px;">
        <i>Select which device this item was created with e.g. what camera was used to take this picture.</i>
      </p>

      <h5>Currently selected device</h5>
      <table class="table table-condensed">
        <tbody data-bind="if: nodeModel.overlayModel.item()._with">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._with, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._with, 'name' ]" style="margin: 0px;"></h5>
            </td>
            <td>
              <button title="Remove" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.editLoading, click: nodeModel.overlayModel.withRemove" class="btn pull-right"><i class="icon-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div data-bind="if: nodeModel.overlayModel.item().specific.exif">
        <h5>File information</h5>
        <table class="table table-condensed" style="font-size: 12px;">
          <tbody>
            <tr>
              <td>
                Camera make
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().specific.exif.Make"></td>
            </tr>
            <tr>
              <td>
                Camera model
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().specific.exif.Model"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>Select a device</h5>
      <div class="alert alert-error" data-bind="visible: nodeModel.overlayModel.editErrorText() != '', text: nodeModel.overlayModel.editErrorText"></div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Enter search query..." type="text" id="withInput" name="withInput" data-bind="disable: nodeModel.overlayModel.editLoading" data-provide="typesearch"/>
      </form>

      <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item()">
        <tbody data-bind="foreach: nodeModel.overlayModel.withOther">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ $data, 'name' ]"></h5>
            </td>
            <td>
              <button title="Set" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.editLoading, click: $parent.nodeModel.overlayModel.withSet" class="btn pull-right"><i class="icon-plus"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.editType() === 'when'">
      <a class="pull-right close" data-bind="click: nodeModel.overlayModel.editFinishClicked" style="font-size: 30px">×</a>

      <h3>Set date and time</h3>
      <p class="muted" style="font-size: 12px;">
        <i>Select date and time when item was created e.g. when was this picture taken. All times are stored in UTC, be sure that timezone information is correct.</i>
      </p>

      <div data-bind="if: nodeModel.overlayModel.item().when && nodeModel.overlayModel.item().when.source() === 'exif'">
        <h5>Exif information</h5>
        <table class="table table-condensed" style="font-size: 12px;">
          <tbody>
            <tr>
              <td>
                Timestamp
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().when.timestamp"></td>
            </tr>
            <tr>
              <td>
                Formated
              </td>
              <td data-bind="htmlTimestamp: nodeModel.overlayModel.item().when.timestamp"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div data-bind="if: nodeModel.overlayModel.item().when && nodeModel.overlayModel.item().when.source() === 'synced'">
        <h5>Synced exif information</h5>
        <table class="table table-condensed" style="font-size: 12px;">
          <tbody>
            <tr>
              <td>
                Timestamp
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().when.timestamp"></td>
            </tr>
            <tr>
              <td>
                Formated
              </td>
              <td data-bind="htmlTimestamp: nodeModel.overlayModel.item().when.timestamp"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div data-bind="if: nodeModel.overlayModel.item().when">
        <h5>Manual information</h5>
        <table class="table table-condensed" style="font-size: 12px;">
          <tbody>
            <tr>
              <td>
                Timestamp
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().when.timestamp"></td>
            </tr>
            <tr>
              <td>
                Formated
              </td>
              <td data-bind="htmlTimestamp: nodeModel.overlayModel.item().when.timestamp"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.editType() === 'who'">
      <a class="pull-right close" data-bind="click: nodeModel.overlayModel.editFinishClicked" style="font-size: 30px">×</a>

      <h3>Select a person</h3>
      <p class="muted" style="font-size: 12px;">
        <i>Select the person who created this item e.g. who took this picture.</i>
      </p>

      <h5>Currently selected person</h5>
      <table class="table table-condensed">
        <tbody data-bind="if: nodeModel.overlayModel.item()._who">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._who, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._who, 'name' ]" style="margin: 0px;"></h5>
            </td>
            <td>
              <button title="Remove" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.editLoading, click: nodeModel.overlayModel.whoRemove" class="btn pull-right"><i class="icon-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <h5>Select a person</h5>
      <div class="alert alert-error" data-bind="visible: nodeModel.overlayModel.editErrorText() != '', text: nodeModel.overlayModel.editErrorText"></div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Enter search query..." type="text" id="whoInput" name="whoInput" data-bind="disable: nodeModel.overlayModel.editLoading" data-provide="typesearch"/>
      </form>

      <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item()">
        <tbody data-bind="foreach: nodeModel.overlayModel.whoOther">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ $data, 'name' ]"></h5>
            </td>
            <td>
              <button title="Set" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.editLoading, click: $parent.nodeModel.overlayModel.whoSet" class="btn pull-right"><i class="icon-plus"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.editType() === 'where'">
      <a class="pull-right close" data-bind="click: nodeModel.overlayModel.editFinishClicked" style="font-size: 30px">×</a>

      <h3>Select a position/location</h3>
      <p class="muted" style="font-size: 12px;">
        <i>Select a position or location where this item was created e.g. where this picture was taken. Setting a position is the preferred way since it is more accurate, but a location can be selected directly if the exact position is uncertain.</i>
      </p>

      <div data-bind="if: nodeModel.overlayModel.item().where">
        <div data-bind="if: nodeModel.overlayModel.item().where._id">
          <h5>Currently selected location</h5>
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td>
                  <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item().where._id, 44, 44, 1 ]"/>
                  <h5 data-bind="textNodeAttribute: [ nodeModel.overlayModel.item().where._id, 'name' ]" style="margin: 0px;"></h5>
                </td>
                <td>
                  <button title="Remove" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.editLoading, click: nodeModel.overlayModel.whereRemove" class="btn pull-right"><i class="icon-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div data-bind="if: !nodeModel.overlayModel.item().where._id || nodeModel.overlayModel.item().where._id() === false">
          <h5>Currently selected position</h5>
          <div class="overlayWhereMap" style="width: 330px; height: 200px; position: relative;"></div>
          <table class="table table-condensed" style="font-size: 12px;">
            <tbody>
              <tr>
                <td>
                  Latitude
                </td>
                <td>
                  <input type="text" style="margin: 0px; font-size: 11px; padding: 0px 5px 0px 5px;" placeholder="Latitude" data-bind="value: nodeModel.overlayModel.whereLatitude">
                </td>
              </tr>
              <tr>
                <td>
                  Longitude
                </td>
                <td>
                  <input type="text" style="margin: 0px; font-size: 11px; padding: 0px 5px 0px 5px;" placeholder="Longitude" data-bind="value: nodeModel.overlayModel.whereLongitude">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div data-bind="if: nodeModel.overlayModel.item().specific.exif && nodeModel.overlayModel.item().specific.exif.GPSLatitude">
        <h5>
          File information
          <button title="Set" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.editLoading, click: nodeModel.overlayModel.whereFileSet" class="btn btn-mini btn-link pull-right">Set file position</button>
        </h5>
        <table class="table table-condensed" style="font-size: 12px;">
          <tbody>
            <tr>
              <td>
                Latitude
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().specific.exif.GPSLatitude"></td>
            </tr>
            <tr>
              <td>
                Longitude
              </td>
              <td data-bind="text: nodeModel.overlayModel.item().specific.exif.GPSLongitude"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>Select a location</h5>
      <div class="alert alert-error" data-bind="visible: nodeModel.overlayModel.editErrorText() != '', text: nodeModel.overlayModel.editErrorText"></div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Enter search query..." type="text" id="whereInput" name="whereInput" data-bind="disable: nodeModel.overlayModel.editLoading" data-provide="typesearch"/>
      </form>

      <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item()">
        <tbody data-bind="foreach: nodeModel.overlayModel.whereOther">
          <tr>
            <td>
              <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data, 44, 44, 1 ]"/>
              <h5 data-bind="textNodeAttribute: [ $data, 'name' ]"></h5>
            </td>
            <td>
              <button title="Set" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.editLoading, click: $parent.nodeModel.overlayModel.whereSet" class="btn pull-right"><i class="icon-plus"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div data-bind="visible: nodeModel.overlayModel.editType() === ''">
      <div style="padding: 10px;">
        <a class="pull-right close" data-bind="hrefSecondSecondary: ''" style="font-size: 30px">×</a>
        <h3 data-bind="text: nodeModel.node().name"></h3>

        <div>
          <span class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._who, 'name' ]" href="#" style="font-size: 10px;"></a>
            <ul class="dropdown-menu" role="menu" style="width: 250px; right: 0px; left: auto;">
              <li class="clearfix" style="margin: 10px; margin-top: 5px; margin-bottom: 5px;">
                <a class="btn btn-mini btn-link pull-right" style="padding: 0px; height: 20px; width: 20px;" data-bind="click: nodeModel.overlayModel.whoEditClicked, visible: nodeModel.node().hasAdminAccess()"><i class="icon-pencil" style="margin: 0px;"></i></a>
                <img class="pull-left" draggable="false" src="" alt="" style="width: 22px; height: 22px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._who, 22, 22, 1 ]"/>
                <h5 style="margin: 0px;" data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._who, 'name' ]"></h5>
                <div class="muted" style="font-size: 10px; margin-left: 32px;">
                  <a class="btn btn-mini btn-link" style="padding: 0px;" href="#" data-bind="hrefFirst: [ 'node', nodeModel.overlayModel.item()._who ]">Goto</a>
                </div>
              </li>
            </ul>
          </span>
          <span style="font-size: 10px">
            created this item with
          </span>
          <span class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._with, 'name' ]" href="#" style="font-size: 10px;"></a>
            <ul class="dropdown-menu" role="menu" style="width: 250px; right: 0px; left: auto;">
              <li class="clearfix" style="margin: 10px; margin-top: 5px; margin-bottom: 5px;">
                <a class="btn btn-mini btn-link pull-right" style="padding: 0px; height: 20px; width: 20px;" data-bind="click: nodeModel.overlayModel.withEditClicked, visible: nodeModel.node().hasAdminAccess()"><i class="icon-pencil" style="margin: 0px;"></i></a>
                <img class="pull-left" draggable="false" src="" alt="" style="width: 22px; height: 22px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._with, 22, 22, 1 ]"/>
                <h5 style="margin: 0px;" data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._with, 'name' ]"></h5>
                <div class="muted" style="font-size: 10px; margin-left: 32px;">
                  <a class="btn btn-mini btn-link" style="padding: 0px;" href="#" data-bind="hrefFirst: [ 'node', nodeModel.overlayModel.item()._with ]">Goto</a>
                </div>
                <div class="muted" style="font-size: 10px; margin-top: 5px; margin-left: 32px;">
                  Owner: <span>Unknown</span><br/>
                  Type: <span data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._with, 'type' ]"></span>
                </div>
              </li>
            </ul>
          </span>
          <span style="font-size: 10px">
            at
          </span>
          <span class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" data-bind="htmlTimestamp: nodeModel.overlayModel.item().when.timestamp()" href="#" style="font-size: 10px;"></a>
            <ul class="dropdown-menu" role="menu" style="width: 250px; right: 0px; left: auto;">
              <li class="clearfix" style="margin: 10px; margin-top: 5px; margin-bottom: 5px;">
                <a class="btn btn-mini btn-link pull-right" style="padding: 0px; height: 20px; width: 20px;" data-bind="click: nodeModel.overlayModel.whenEditClicked, visible: nodeModel.node().hasAdminAccess() && nodeModel.overlayModel.item().when.source() !== 'gps'"><i class="icon-pencil" style="margin: 0px;"></i></a>
                <h5 style="margin: 0px;" data-bind="htmlTimestamp: nodeModel.overlayModel.item().when.timestamp()"></h5>
                <div class="muted" style="font-size: 10px; margin-top: 5px;">
                  Timestamp: <span data-bind="text: nodeModel.overlayModel.item().when.timestamp()"></span><br/>
                  Source: <span data-bind="text: nodeModel.overlayModel.item().when.source()"></span>
                </div>
              </li>
            </ul>
          </span>
          <span style="font-size: 10px">
            near
          </span>
          <span class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" data-bind="htmlPrintWhere: nodeModel.overlayModel.item().where" href="#" style="font-size: 10px;"></a>.
            <ul class="dropdown-menu" role="menu" style="width: 250px; right: 0px; left: auto;">
              <li class="clearfix" style="margin: 10px; margin-top: 5px; margin-bottom: 5px;">
                <a class="btn btn-mini btn-link pull-right" style="padding: 0px; height: 20px; width: 20px;" data-bind="click: nodeModel.overlayModel.whereEditClicked, visible: nodeModel.node().hasAdminAccess()"><i class="icon-pencil" style="margin: 0px;"></i></a>
                <h5 style="margin: 0px;" data-bind="htmlPrintWhere: nodeModel.overlayModel.item().where"></h5>
                <div class="muted" style="font-size: 10px; margin-top: 5px;" data-bind="if: nodeModel.overlayModel.item().where">
                  Latitude: <span data-bind="text: nodeModel.overlayModel.item().where.latitude">Unknown</span><br/>
                  Longitude: <span data-bind="text: nodeModel.overlayModel.item().where.longitude">Unknown</span><br/>
                  Source: <span data-bind="text: nodeModel.overlayModel.item().where.source">Unknown</span>
                </div>
              </li>
            </ul>
          </span>
        </div>
        <div style="font-size: 10px;">
          <span data-bind="visible: !nodeModel.overlayModel.item().showing || nodeModel.overlayModel.item().showing().length === 0">
            <button class="btn btn-mini btn-link" style="padding: 0px; font-size: 10px;" data-bind="click: nodeModel.overlayModel.showingEditClicked">Tag something or someone</button>.
          </span>
          <span data-bind="if: nodeModel.overlayModel.item().showing && nodeModel.overlayModel.item().showing().length > 0">
            <span data-bind="foreach: nodeModel.overlayModel.item().showing">
              <span class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" data-bind="textNodeAttribute: [ $data._id, 'name' ], event: { mouseover: nodeModel.overlayModel.showingItemOver, mouseout: nodeModel.overlayModel.showingItemOut }" href="#" style="font-size: 10px;"></a><!--
             --><ul class="dropdown-menu" role="menu" style="width: 250px; right: 0px; left: auto;">
                  <li class="clearfix" style="margin: 10px; margin-top: 5px; margin-bottom: 5px;">
                    <a class="btn btn-mini btn-link pull-right" style="padding: 0px; height: 20px; width: 20px;" data-bind="click: nodeModel.overlayModel.showingEditClicked, visible: nodeModel.node().hasAdminAccess()"><i class="icon-pencil" style="margin: 0px;"></i></a>
                    <img class="pull-left" draggable="false" src="" alt="" style="width: 22px; height: 22px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data._id, 22, 22, 1 ]"/>

                    <h5 style="margin: 0px;" data-bind="textNodeAttribute: [ $data._id, 'name' ]"></h5>
                    <div class="muted" style="font-size: 10px; margin-left: 32px;">
                      <a class="btn btn-mini btn-link" style="padding: 0px;" href="#" data-bind="hrefFirst: [ 'node', $data._id ]">Goto</a>
                    </div>
                  </li>
                </ul><!--
           --></span><!--
           --><span data-bind="if: $index() + 2 === $parent.nodeModel.overlayModel.item().showing().length"> and</span><!--
           --><span data-bind="if: $index() + 2 < $parent.nodeModel.overlayModel.item().showing().length">, </span>
            </span>
            <span data-bind="if: nodeModel.overlayModel.item().showing().length === 1">is</span>
            <span data-bind="if: nodeModel.overlayModel.item().showing().length > 1">are</span>
            tagged on this item.
          </span>
        </div>
      </div>

      <div class="accordion" id="overlayAccordion" style="height: 100%;">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#overlayAccordion" href="#overlayCollapseDetails">
              Details
            </a>
          </div>
          <div id="overlayCollapseDetails" class="accordion-body collapse">
            <div class="accordion-inner" style="padding: 10px;">

              <table class="table table-striped table-condensed">
                  <tr>
                    <td>Filename</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.name()"></td>
                  </tr>
                  <tr>
                    <td>File size</td>
                    <td data-bind="htmlSize: nodeModel.overlayModel.item().specific.exif.FileSize()"></td>
                  </tr>
                  <tr>
                    <td>Resolution</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ImageWidth() + 'x' + nodeModel.overlayModel.item().specific.exif.ImageHeight()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.Model">
                    <td>Camera model</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.Model()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.Orientation">
                    <td>Orientation</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.Orientation()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.angle">
                    <td>Angle</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.angle()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.mirror">
                    <td>Mirror</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.mirror()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.MIMEType">
                    <td>MIME type</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.MIMEType()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.ISO">
                    <td>ISO</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ISO()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.FocalLength">
                    <td>Focal length</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.FocalLength()"></td>
                  </tr>
                   <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.ResolutionUnit">
                    <td>Resolution unit</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ResolutionUnit()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.Compression">
                    <td>Compression</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.Compression()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.ColorSpace">
                    <td>Color space</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ColorSpace()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.ColorComponents">
                    <td>Color components</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ColorComponents()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.BitsPerSample">
                    <td>Bits per sample</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.BitsPerSample()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.ComponentsConfiguration">
                    <td>Components configuration</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ComponentsConfiguration()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.EncodingProcess">
                    <td>Encoding process</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.EncodingProcess()"></td>
                  </tr>
              </table>

            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#overlayAccordion" href="#overlayCollapseComments">
              Comments<span data-bind="visible: nodeModel.overlayModel.item().comments().length > 0"> (<span data-bind="text: nodeModel.overlayModel.item().comments().length"></span>)</span>
            </a>
          </div>
          <div id="overlayCollapseComments" class="accordion-body collapse in">
            <div class="accordion-inner">

              <div class="row-fluid">
                <div class="span2">
                  <img src="" alt="" style="width: 40px; height: 40px;" data-bind="srcUserProfilePicture: [ currentUser()._id(), 40, 40, 1 ]"/>
                </div>
                <blockquote class="span10">
                  <form style="margin-bottom: 0px;" data-bind="submit: nodeModel.overlayModel.commentSubmit">
                    <textarea style="width: 230px; height: 60px;" placeholder="Write a comment..." data-bind="hasfocus: true, disable: nodeModel.overlayModel.commentLoading, value: nodeModel.overlayModel.commentText"></textarea>
                    <span class="text-error pull-left" data-bind="disable: nodeModel.overlayModel.commentLoading, text: nodeModel.overlayModel.commentErrorText"></span>
                    <button type="submit" class="btn btn-mini btn-primary pull-right">Comment</button>
                  </form>

                </blockquote>
              </div>

              <!-- ko foreach: nodeModel.overlayModel.item().comments -->

              <div class="row-fluid">
                <div class="span2">
                  <img src="" alt="" style="width: 40px; height: 40px;" data-bind="srcUserProfilePicture: [ $data.added._by(), 40, 40, 1 ]"/>
                </div>
                <blockquote class="span10">
                  <div style="padding-bottom: 5px;" data-bind="text: $data.text"></div>
                  <small><span data-bind="htmlTimeAgo: $data.added.timestamp"></span> by <a data-bind="textUserAttribute: [ $data.added._by(), 'name' ]"></a></small>
                </blockquote>
              </div>

              <!-- /ko -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

