<div class="modal-backdrop" data-bind="fadeVisible: nodeModel.overlayModel.show() && nodeModel.show(), if: nodeModel.overlayModel.show"></div>
<div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 2050; background-color: black;" data-bind="fadeVisible: nodeModel.overlayModel.show, if: nodeModel.overlayModel.show">
  <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 350px; text-align: center;">

    <div id="overlayCarousel">
      <!-- Carousel items -->
      <div class="carousel-inner">

        <div class="item">
          <div class="imgContainer" style="position: relative; display: inline-block;">
            <img class="" style="display: inline-block; height: auto; max-height: 100%; max-width: 100%; vertical-align: middle; width: auto;" data-bind="attr: { src: nodeModel.overlayModel.itemPictureUrl }" src="" alt="">
          </div>
        </div>

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#" data-bind="click: nodeModel.overlayModel.carouselLeft">&lsaquo;</a>
      <a class="carousel-control right" href="#" data-bind="click: nodeModel.overlayModel.carouselRight">&rsaquo;</a>
    </div>

  </div>
  <div style="position: absolute; top: 0px; width: 350px; bottom: 0px; right: 0px; margin: 0px; padding: 0px; overflow: auto; background-color: whiteSmoke;">
    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.showingEditing">

      <div style="position: relative; height: 40px;">
        <button rel="tooltip" title="Go back" class="btn btn-primary" href="#" style="left: 0px; right: 0px; position: absolute; margin-bottom: 10px;" data-bind="click: nodeModel.overlayModel.showingFinishClicked"><i class="icon-chevron-left icon-white"></i> Go back</button>
      </div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Search for who or what" type="text" id="showingInput" name="showingInput" data-bind="disable: nodeModel.overlayModel.showingLoading" data-provide="typesearch"/>
      </form>
      <div style="overflow: auto;">
        <table class="table table-condensed table-hover" data-bind="if: nodeModel.overlayModel.item() !== false">
          <tbody data-bind="foreach: nodeModel.overlayModel.item().showing">
            <tr data-bind="css: { info:  nodeModel.overlayModel.showingId() === $data._id() }, event: { mouseover: nodeModel.overlayModel.showingItemOver, mouseout: nodeModel.overlayModel.showingItemOut }">
              <td data-bind="click: nodeModel.overlayModel.showingItemClicked" style="cursor: pointer;">
                <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data._id(), 44, 44, 1 ]"/>
                <h5 data-bind="textNodeAttribute: [ $data._id(), 'name' ]" style="margin: 0px;"></h5>
                <small data-bind="visible: !$data.x">Not marked on the picture</small>
                <small data-bind="visible: $data.x">Marked on the picture</small>
              </td>
              <td>
                <button title="Remove" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.showingLoading, click: $parent.nodeModel.overlayModel.showingRemove" class="btn pull-right"><i class="icon-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div data-bind="if: nodeModel.overlayModel.item()">
          <h4>Suggestions</h4>
          <table class="table table-condensed table-hover">
            <tbody data-bind="foreach: nodeModel.overlayModel.showingOther">
              <tr>
                <td>
                  <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data._id(), 44, 44, 1 ]"/>
                  <h5 data-bind="textNodeAttribute: [ $data._id(), 'name' ]"></h5>
                </td>
                <td>
                  <button title="Add" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.showingLoading, click: $parent.nodeModel.overlayModel.showingAdd" class="btn pull-right"><i class="icon-plus"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.whoEditing">

      <div style="position: relative; height: 40px;">
        <button rel="tooltip" title="Go back" class="btn btn-primary" href="#" style="left: 0px; right: 0px; position: absolute; margin-bottom: 10px;" data-bind="click: nodeModel.overlayModel.whoFinishClicked"><i class="icon-chevron-left icon-white"></i> Go back</button>
      </div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Search for who" type="text" id="whoInput" name="whoInput" data-bind="disable: nodeModel.overlayModel.whoLoading" data-provide="typesearch"/>
      </form>
      <div style="overflow: auto;">
        <table class="table table-condensed">
          <tbody data-bind="if: nodeModel.overlayModel.item()._who">
            <tr>
              <td>
                <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._who(), 44, 44, 1 ]"/>
                <h5 data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._who(), 'name' ]" style="margin: 0px;"></h5>
              </td>
              <td>
                <button title="Remove" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.whoLoading, click: nodeModel.overlayModel.whoRemove" class="btn pull-right"><i class="icon-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div data-bind="if: nodeModel.overlayModel.item()">
          <h4>Suggestions</h4>
          <table class="table table-condensed table-hover">
            <tbody data-bind="foreach: nodeModel.overlayModel.whoOther">
              <tr>
                <td>
                  <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data, 44, 44, 1 ]"/>
                  <h5 data-bind="textNodeAttribute: [ $data, 'name' ]"></h5>
                </td>
                <td>
                  <button title="Set" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.whoLoading, click: $parent.nodeModel.overlayModel.whoSet" class="btn pull-right"><i class="icon-plus"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div style="padding: 10px;" data-bind="visible: nodeModel.overlayModel.withEditing">

      <div style="position: relative; height: 40px;">
        <button rel="tooltip" title="Go back" class="btn btn-primary" href="#" style="left: 0px; right: 0px; position: absolute; margin-bottom: 10px;" data-bind="click: nodeModel.overlayModel.withFinishClicked"><i class="icon-chevron-left icon-white"></i> Go back</button>
      </div>
      <form data-bind="submit: dummySubmit" style="margin: 0px; position: relative; height: 40px;">
        <input class="overlayNodeQuery" style="left: 0px; right: 0px; position: absolute;" placeholder="Search for with" type="text" id="withInput" name="withInput" data-bind="disable: nodeModel.overlayModel.withLoading" data-provide="typesearch"/>
      </form>
      <div style="overflow: auto;">
        <table class="table table-condensed">
          <tbody data-bind="if: nodeModel.overlayModel.item()._with">
            <tr>
              <td>
                <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ nodeModel.overlayModel.item()._with(), 44, 44, 1 ]"/>
                <h5 data-bind="textNodeAttribute: [ nodeModel.overlayModel.item()._with(), 'name' ]" style="margin: 0px;"></h5>
              </td>
              <td>
                <button title="Remove" style="margin-top: 7px;" data-bind="disable: nodeModel.overlayModel.withLoading, click: nodeModel.overlayModel.withRemove" class="btn pull-right"><i class="icon-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div data-bind="if: nodeModel.overlayModel.item()">
          <h4>Suggestions</h4>
          <table class="table table-condensed table-hover">
            <tbody data-bind="foreach: nodeModel.overlayModel.withOther">
              <tr>
                <td>
                  <img class="pull-left" draggable="false" src="" alt="" style="width: 44px; height: 44px; margin-right: 10px;" data-bind="srcNodeProfilePicture: [ $data, 44, 44, 1 ]"/>
                  <h5 data-bind="textNodeAttribute: [ $data, 'name' ]"></h5>
                </td>
                <td>
                  <button title="Set" style="margin-top: 7px;" data-bind="disable: $parent.nodeModel.overlayModel.withLoading, click: $parent.nodeModel.overlayModel.withSet" class="btn pull-right"><i class="icon-plus"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div data-bind="visible: !nodeModel.overlayModel.showingEditing() && !nodeModel.overlayModel.whoEditing() && !nodeModel.overlayModel.withEditing()">
      <div style="padding: 10px;">
        <a class="pull-right close" data-bind="hrefSecondSecondary: ''" style="font-size: 30px">×</a>
        <h3 data-bind="text: nodeModel.node().name"></h3>
  <!--       <button data-bind="click: nodeModel.overlayModel.detectFaces">Detect faces</button> -->

        <table class="table table-condensed" style="font-size: 10px;">
          <tr>
            <td>
              <button class="btn btn-mini btn-link pull-right" style="padding: 0px;">Edit</button>
              <span data-bind="if: !nodeModel.overlayModel.item().when">
                <i class="muted">When was this item created?</i>
              </span>
              <span data-bind="if: nodeModel.overlayModel.item().when">
                <span data-bind="htmlTimestamp: nodeModel.overlayModel.item().when.timestamp()"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-mini btn-link pull-right" style="padding: 0px;">Edit</button>
              <span data-bind="htmlReverseGeocoding: nodeModel.overlayModel.item().where"></span>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-mini btn-link pull-right" style="padding: 0px;" data-bind="click: nodeModel.overlayModel.withEditClicked">Edit</button>
              <span data-bind="if: !nodeModel.overlayModel.item()._with || !nodeModel.overlayModel.item()._with()">
                <i class="muted">What was used to create this item?</i>
              </span>
              <span data-bind="if: nodeModel.overlayModel.item()._with && nodeModel.overlayModel.item()._with()">
              <span data-bind="if: nodeModel.overlayModel.item()._with && nodeModel.overlayModel.item()._with()">
                <a data-bind="hrefFirst: [ 'node', nodeModel.overlayModel.item()._with() ], textNodeAttribute: [ nodeModel.overlayModel.item()._with(), 'name' ]"></a> was used to create this item.
              </span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-mini btn-link pull-right" style="padding: 0px;" data-bind="click: nodeModel.overlayModel.whoEditClicked">Edit</button>
              <span data-bind="if: !nodeModel.overlayModel.item()._who || !nodeModel.overlayModel.item()._who()">
                <i class="muted">Who created this item?</i>
              </span>
              <span data-bind="if: nodeModel.overlayModel.item()._who && nodeModel.overlayModel.item()._who()">
                <a data-bind="hrefFirst: [ 'node', nodeModel.overlayModel.item()._who() ], textNodeAttribute: [ nodeModel.overlayModel.item()._who(), 'name' ]"></a> created this item.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-mini btn-link pull-right" style="padding: 0px;" data-bind="click: nodeModel.overlayModel.showingEditClicked">Edit</button>
              <span data-bind="visible: !nodeModel.overlayModel.item().showing || nodeModel.overlayModel.item().showing().length === 0">
                <i class="muted">Nothing is tagged on this item.</i>
              </span>
              <span data-bind="visible: nodeModel.overlayModel.item().showing && nodeModel.overlayModel.item().showing().length > 0">
                Showing
                <span data-bind="foreach: nodeModel.overlayModel.item().showing">
                  <a href="#" data-bind="hrefFirst: [ 'node', $data._id() ], textNodeAttribute: [ $data._id(), 'name' ], event: { mouseover: nodeModel.overlayModel.showingItemOver, mouseout: nodeModel.overlayModel.showingItemOut }"></a><span data-bind="if: $index() + 2 === $parent.nodeModel.overlayModel.item().showing().length"> and</span><span data-bind="if: $index() + 2 < $parent.nodeModel.overlayModel.item().showing().length">, </span><span data-bind="if: $index() + 1 === $parent.nodeModel.overlayModel.item().showing().length">.</span>
                </span>
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div class="accordion" id="overlayAccordion" style="height: 100%;">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#overlayAccordion" href="#overlayCollapseDetails">
              Details
            </a>
          </div>
          <div id="overlayCollapseDetails" class="accordion-body collapse">
            <div class="accordion-inner" style="padding: 10px;">

              <table class="table table-striped table-condensed">
                  <tr>
                    <td>Filename</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.name()"></td>
                  </tr>
                  <tr>
                    <td>File size</td>
                    <td data-bind="htmlSize: nodeModel.overlayModel.item().specific.exif.FileSize()"></td>
                  </tr>
                  <tr>
                    <td>Image size</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.ImageWidth() + 'x' + nodeModel.overlayModel.item().specific.exif.ImageHeight()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.CameraModelName">
                    <td>Camera model</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.CameraModelName()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.exif.Orientation">
                    <td>Orientation</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.exif.Orientation()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.angle">
                    <td>Angle</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.angle()"></td>
                  </tr>
                  <tr data-bind="if: nodeModel.overlayModel.item().specific.mirror">
                    <td>Mirror</td>
                    <td data-bind="text: nodeModel.overlayModel.item().specific.mirror()"></td>
                  </tr>

              </table>

            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#overlayAccordion" href="#overlayCollapseComments">
              Comments<span data-bind="visible: nodeModel.overlayModel.item().comments().length > 0"> (<span data-bind="text: nodeModel.overlayModel.item().comments().length"></span>)</span>
            </a>
          </div>
          <div id="overlayCollapseComments" class="accordion-body collapse in">
            <div class="accordion-inner">

              <div class="row-fluid">
                <div class="span2">
                  <img src="" alt="" style="width: 40px; height: 40px;" data-bind="srcUserProfilePicture: [ currentUser()._id(), 40, 40, 1 ]"/>
                </div>
                <blockquote class="span10">
                  <form style="margin-bottom: 0px;" data-bind="submit: nodeModel.overlayModel.commentSubmit">
                    <textarea style="width: 218px; height: 60px;" placeholder="Write a comment..." data-bind="hasfocus: true, disable: nodeModel.overlayModel.commentLoading, value: nodeModel.overlayModel.commentText"></textarea>
                    <span class="text-error pull-left" data-bind="disable: nodeModel.overlayModel.commentLoading, text: nodeModel.overlayModel.commentErrorText"></span>
                    <button type="submit" class="btn btn-mini btn-primary pull-right">Comment</button>
                  </form>

                </blockquote>
              </div>

              <!-- ko foreach: nodeModel.overlayModel.item().comments -->

              <div class="row-fluid">
                <div class="span2">
                  <img src="" alt="" style="width: 40px; height: 40px;" data-bind="srcUserProfilePicture: [ $data.added._by(), 40, 40, 1 ]"/>
                </div>
                <blockquote class="span10">
                  <div style="padding-bottom: 5px;" data-bind="text: $data.text"></div>
                  <small><span data-bind="htmlTimeAgo: $data.added.timestamp"></span> by <a data-bind="textUserAttribute: [ $data.added._by(), 'name' ]"></a></small>
                </blockquote>
              </div>

              <!-- /ko -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

