<div class="fullscreen animated zoomIn" data-bind="css: { showsidebar: sidebarView }, if: nodepath">
    <div class="sidebar" data-bind="visible: sidebarView() === 'main', if: sidebarView() === 'main'">
        <h2 style="margin-top: 0;">
            Information
        </h2>

        <table class="text-muted list">
            <tbody>
                <tr>
                    <td style="width: 44px;">
                        <i class="material-icons" title="Description">description</i>
                    </td>
                    <td style="padding-top: 1px;">
                        <widget-node-text-attribute params="{ nodepath: nodepath, name: 'description', html: true }"></widget-node-text-attribute>
                    </td>
                </tr>
                <tr>
                    <td style="width: 44px;">
                        <i class="material-icons" title="Created by">person</i>
                    </td>

                    <td style="padding-top: 1px;">
                        <widget-node-link-node params="{ nodepath: nodepath, name: 'createdBy', placeholder: 'Select who created this file', searchPaths: [ '/people' ] }"></widget-node-link-node>
                    </td>
                </tr>
                <tr>
                    <td style="width: 44px;">
                        <i class="material-icons" title="Created with">camera</i>
                    </td>

                    <td style="padding-top: 1px;">
                        <widget-node-link-node params="{ nodepath: nodepath, name: 'createdWith', placeholder: 'Select what camera was used', searchPaths: [ '/cameras' ], initial: initialCameraName }"></widget-node-link-node>
                    </td>
                </tr>

                <tr data-bind="visible: nodepath().node().attributes.fileinfo.width">
                    <td style="width: 44px;">
                        <i class="material-icons" title="Resolution">photo_size_select_large</i>
                    </td>

                    <td style="padding-top: 1px;">
                        <span data-bind="text: nodepath().node().attributes.fileinfo.width"></span>x<span data-bind="text: nodepath().node().attributes.fileinfo.height"></span>
                    </td>
                </tr>

                <tr data-bind="visible: nodepath().node().attributes.fileinfo.duration">
                    <td style="width: 44px;">
                        <i class="material-icons" title="Duration">timelapse</i>
                    </td>

                    <td style="padding-top: 1px;">
                        <span data-bind="duration: nodepath().node().attributes.fileinfo.duration"></span>
                    </td>
                </tr>

                <tr>
                    <td style="width: 44px;">
                        <i class="material-icons" title="File">file_download</i>
                    </td>

                    <td style="padding-top: 1px;">
                        <a href="#" data-bind="text: nodepath().node().attributes.name, attr: { href: 'file/download/' + nodepath().node().attributes.diskfilename + '/' + nodepath().node().attributes.name }"></a>
                        (<span data-bind="htmlSize: nodepath().node().attributes.size"></span>)
                        <div data-bind="if: nodepath().versions.length > 0">
                            <small data-bind="foreach: nodepath().versions" style="font-size: 80%;">
                                <a style="color: #999;" href="#" data-bind="text: $data.node.attributes.name, attr: { href: 'file/download/' + $data.node.attributes.diskfilename + '/' + $data.node.attributes.name }"></a>
                                (<span data-bind="htmlSize: $data.node.attributes.size"></span>)
                            </small>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div data-bind="text: JSON.stringify(nodepath().node().attributes.exif, null, 2)"></div>

        <h3>Comments</h3>

        <comment-widget-comments params="{ path: showPath }"></comment-widget-comments>
    </div>

    <div class="sidebar" data-bind="visible: sidebarView() === 'tag', if: sidebarView() === 'tag'">
        <h2 style="margin: 0;">
            Tags
        </h2>

        <input type="text" class="form-control" style="margin-top: 15px;" placeholder="Add a person" data-bind="nodeselect: { root: '/people', path: personPath }, visible: nodepath().editable, disable: selectedTag">

        <div data-bind="foreach: tags">
            <div class="tag-item">
                <div class="clearfix">
                    <div class="btn-group btn-group-sm pull-right" role="group" data-bind="visible: $component.nodepath().editable">
                        <button type="button" class="btn btn-primary" data-bind="click: $component.selectedTag.bind($data, $data), visible: !$component.selectedTag() && $component.nodepath().node().attributes.type === 'image'">Edit</button>
                        <button type="button" class="btn btn-success" data-bind="click: $component.selectDone, visible: $component.selectedTag() === $data && $component.nodepath().node().attributes.type === 'image'">Done</button>
                        <button type="button" class="btn btn-danger" data-bind="click: $component.removeTag.bind($data, $data), disable: $component.selectedTag">Remove</button>
                    </div>
                    <file-widget-profile-picture class="pull-left" style="margin-right: 15px;" params="{ size: 32, path: $data.path }"></file-widget-profile-picture>
                    <div class="title" data-bind="text: $data.node.attributes.name"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar" data-bind="visible: sidebarView() === 'position', if: sidebarView() === 'position'">
        <h2 style="margin: 0;">
            Location
        </h2>

        <table class="text-muted list" style="margin-top: 30px;">
            <tbody>
                <tr>
                    <td style="width: 44px;">
                        <i class="material-icons" title="Location">place</i>
                    </td>
                    <td style="padding-top: 1px;">
                        <widget-node-link-node params="{ nodepath: nodepath, name: 'location', placeholder: 'Select location', searchPaths: [ '/locations' ], input: true }"></widget-node-link-node>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="position: absolute; top: 160px; left: 0; right: 0; bottom: 0;" data-bind="map: { position: position, zoom: position() ? 15 : 10, editable: nodepath().editable }"></div>
    </div>

    <div class="sidebar" data-bind="visible: sidebarView() === 'time', if: sidebarView() === 'time'">
        <h2 style="margin: 0;">
            Set time
        </h2>

        <p class="text-muted" style="font-size: 12px;">
            Here it is possible to specifiy the time for when the content in this file was created, e.g. the time when a picture was taken. Dates can end after any part when the maximum know accuracy is reached. It is also possible to specify ranges when information is uncertain.
        </p>
        <p class="text-muted" style="font-size: 12px;">
            Some examples:
            <table class="table table-condensed" style="font-size: 10px;">
                <tbody>
                    <tr>
                        <td>2002-03-04 13:45:03+01:00</td>
                        <td>Exact time</td>
                    </tr>
                    <tr>
                        <td>2002-03-04 13:45:03</td>
                        <td>Exact local time</td>
                    </tr>
                    <tr>
                        <td>2002-03-04 13</td>
                        <td>Exact date with hour</td>
                    </tr>
                    <tr>
                        <td>2002-03</td>
                        <td>Exact year and month</td>
                    </tr>
                    <tr>
                        <td>2002-03|04</td>
                        <td>Exact year but month range</td>
                    </tr>
                </tbody>
            </table>
        </p>

        <widget-node-when-attribute params="{ nodepath: nodepath }"></widget-node-when-attribute>
    </div>

    <div class="maincontainer animated fadeIn" data-bind="if: filename">
        <div data-bind="visible: nodepath().node().attributes.type === 'image', if: nodepath().node().attributes.type === 'image'">
            <div data-bind="picture: { item: nodepath, filename: filename, tags: tags, height: $component.height, classes: 'resize-fit-center', nolazyload: true, selectTag: selectTag }" class="resize-fit-container"></div>
        </div>
        <div data-bind="visible: nodepath().node().attributes.type === 'video', if: nodepath().node().attributes.type === 'video'" class="resize-fit-container">
            <video autoplay controls preload="metadata" class="resize-fit-center">
                <source src="" type="video/webm" data-bind="attr: { src: filename() }">
                Your browser does not support the video tag.
            </video>
        </div>
        <div data-bind="visible: nodepath().node().attributes.type === 'audio', if: nodepath().node().attributes.type === 'audio'" style="position: absolute; left: 0; right: 0; bottom: 0;">
            <audio autoplay controls preload="metadata" style="width: 100%;">
                <source src="" type="video/webm" data-bind="attr: { src: filename() }">
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>

    <div class="bottombar">
        <a href="#" data-bind="location: { showPath: previousPath }, visible: previousPath() !== false">
            <i class="material-icons md-48 pull-left">arrow_back</i>
        </a>

        <span class="middle">
            <span data-bind="click: sidebarView.bind($data, 'time')" style="cursor: pointer;">
                <i class="material-icons md-18">access_time</i>
                <span data-bind="datetimeUtc: nodepath().node().attributes.time.timestamp"></span>
            </span>

            <span data-bind="click: sidebarView.bind($data, 'position')" style="cursor: pointer;">
                <i class="material-icons md-18">place</i>
                <span data-bind="if: location">
                    <span data-bind="text: location().attributes.name"></span>
                </span>
                <span data-bind="if: !location()">
                    <span data-bind="positionAddress: position"></span>
                </span>
            </span>

            <span data-bind="tooltip: tagNames, click: sidebarView.bind($data, 'tag')" style="cursor: pointer;">
                <i class="material-icons md-18">face</i>
                <span data-bind="text: tags().length"></span>
            </span>
        </span>

        <a href="#" data-bind="location: { showPath: nextPath }, visible: nextPath() !== false">
            <i class="material-icons md-48 pull-right">arrow_forward</i>
        </a>
    </div>

    <a href="#" class="information" data-bind="click: sidebarView.bind($data, 'main'), visible: !sidebarView()">
        <i class="material-icons">info</i>
    </a>

    <a href="#" class="hideinformation" data-bind="click: sidebarView.bind($data, false), visible: sidebarView">
        <i class="material-icons">forward</i>
    </a>

    <div class="btn-group menu" data-bind="visible: nodepath().editable && sidebarView() === 'main'">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" data-bind="click: rotate.bind($data, 90)">
                <i class="material-icons">rotate_left</i>
                Rotate left
            </a></li>
            <li><a href="#" data-bind="click: rotate.bind($data, -90)">
                <i class="material-icons">rotate_right</i>
                Rotate right
            </a></li>
            <li><a href="#" data-bind="click: mirror">
                <i class="material-icons">flip</i>
                Mirror
            </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" data-bind="click: sidebarView.bind($data, 'tag')">
                <i class="material-icons">face</i>
                Tag people
            </a></li>
            <li><a href="#" data-bind="click: sidebarView.bind($data, 'position')">
                <i class="material-icons">place</i>
                Set location
            </a></li>
            <li><a href="#" data-bind="click: sidebarView.bind($data, 'time')">
                <i class="material-icons">access_time</i>
                Set time
            </a></li>
        </ul>
    </div>

    <a href="#" class="exit" data-bind="click: exit">
        <i class="material-icons">close</i>
    </a>
</div>
