<div class="main-overlay" data-bind="slideVisible: searchModel.show">
  <div class="main-overlay-content">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-search icon-white"></i> Search</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefFirstPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>


    <div class="well" style="padding-bottom: 0px; text-align: center;">
      <div style="margin-bottom: 30px; font-size: 20px;">

        <div data-bind="visible: searchModel.queryInput() === '' && !searchModel.loading()">
          Please enter a search query.
        </div>

        <div data-bind="visible: searchModel.queryInput() !== '' && !searchModel.loading()">
          Showing results of search for <span class="muted" data-bind="text: searchModel.queryInput"></span>, <span data-bind="text: searchModel.resultCount"></span> nodes found.
        </div>

        <div data-bind="visible: searchModel.loading">
          Searching for <span class="muted" data-bind="text: searchModel.queryInput"></span>...
        </div>

      </div>

      <div style="margin-bottom: 25px;">
       <form class="form-search" data-bind="submit: searchModel.searchSubmit">
          <div class="input-append">
            <input style="padding-left: 15px;" class="input-xxlarge search-query" type="text" data-bind="value: searchModel.queryInput, disable: searchModel.loading"><button class="btn" type="submit" data-bind="disable: searchModel.loading">Search</button>
          </div>
          <div style="margin-top: 10px;">
            <div class="btn-group">
              <button type="button" class="btn" data-bind="click: searchModel.searchTypeAlbumClicked, css: { active: searchModel.searchTypeAlbum }, disable: searchModel.loading"><i style="vertical-align: center;" class="icon-book"></i> Album</button>
              <button type="button" class="btn" data-bind="click: searchModel.searchTypePersonClicked, css: { active: searchModel.searchTypePerson }, disable: searchModel.loading"><i style="vertical-align: center;" class="icon-user"></i> Person</button>
              <button type="button" class="btn" data-bind="click: searchModel.searchTypeLocationClicked, css: { active: searchModel.searchTypeLocation }, disable: searchModel.loading"><i style="vertical-align: center;" class="icon-flag"></i> Location</button>
              <button type="button" class="btn" data-bind="click: searchModel.searchTypeCameraClicked, css: { active: searchModel.searchTypeCamera }, disable: searchModel.loading"><i style="vertical-align: center;" class="icon-camera"></i> Camera</button>
              <button type="button" class="btn" data-bind="click: searchModel.searchTypeVehicleClicked, css: { active: searchModel.searchTypeVehicle }, disable: searchModel.loading"><i style="vertical-align: center;" class="icon-truck"></i> Vehicle</button>
            </div>

          </div>
        </form>
      </div>

      <div class="alert alert-error" data-bind="visible: searchModel.errorText() !== '', text: searchModel.errorText"></div>
    </div>

    <div style="text-align: center;">
      <div class="pagination" data-bind="visible: searchModel.pages().length > 1" style="margin-top: 0px;">
        <ul>

          <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == 0 }"><a href="#" data-bind="click: searchModel.previousPageClicked">&laquo;</a></li>

          <!-- ko foreach: searchModel.pages -->
            <li data-bind="css: { active: $parent.searchModel.currentPage() == $data }"><a href="#" data-bind="text: $data + 1, click: $parent.searchModel.pageClicked"></a></li>
          <!-- /ko -->

          <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == searchModel.pages().length - 1 }"><a href="#" data-bind="click: searchModel.nextPageClicked">&raquo;</a></li>

        </ul>
      </div>
    </div>

    <div class="clearfix" data-bind="template: { name: 'nodeBoxTemplate', foreach: searchModel.results }"></div>


    <div style="text-align: center;">
      <div class="pagination" data-bind="visible: searchModel.pages().length > 1" style="margin-top: 0px;">
        <ul>

          <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == 0 }"><a href="#" data-bind="click: searchModel.previousPageClicked">&laquo;</a></li>

          <!-- ko foreach: searchModel.pages -->
            <li data-bind="css: { active: $parent.searchModel.currentPage() == $data }"><a href="#" data-bind="text: $data + 1, click: $parent.searchModel.pageClicked"></a></li>
          <!-- /ko -->

          <li data-bind="if: searchModel.pages().length > 1, css: { disabled: searchModel.currentPage() == searchModel.pages().length - 1 }"><a href="#" data-bind="click: searchModel.nextPageClicked">&raquo;</a></li>

        </ul>
      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>
