<div class="main-overlay-big" data-bind="fadeVisible: home.show">
  <div class="main-overlay-content">
    <div class="page-header">
      <button class="btn btn-primary pull-right" data-bind="click: home.hideClicked">Close</button>

      <h1>Welcome to www.runge.se</h1>
    </div>

    <a href="#node/5962">Fortissimo</a><br/>
    <a href="#node/28">Golf II</a><br/>
    <a href="#node/5964">Fredriks Volvo</a><br/>
    <a href="#node/5966">Testobjekt</a><br/>
  </div>
  <div class="well sidebar-nav-background"></div>
</div>

