
<div style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 5000; display: none;" >
  <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: black; opacity: 0.8;"></div>

  <div style="position: absolute; top: 50px; left: 50px; bottom: 50px; right: 50px; width: auto; margin: 0px;" class="modal">
    <div class="modal-header" style="padding: 0px; border-bottom-width: 0px; padding-top: 10px;">
      <button type="button" style="margin-top: 3px; margin-right: 15px;" class="close" data-dismiss="modal" aria-hidden="true">×</button>

      <ul class="nav nav-tabs" style="font-size: 10px; margin: 0px;">
        <li class="active" style="margin-left: 10px;">
          <a href="#whenTabGps" data-toggle="tab">Gps</a>
        </li>
        <li>
          <a href="#whenTabExif" data-toggle="tab">Exif</a>
        </li>
        <li>
          <a href="#whenTabManual" data-toggle="tab">Manual</a>
        </li>
        <li>
          <a href="#whenTabUncertain" data-toggle="tab">Uncertain</a>
        </li>
      </ul>
    </div>

    <div class="model-body" style="position: absolute; top: 49px; left: 0px; right: 0px; bottom: 56px; overflow: auto;">
      <div style="padding: 20px; padding-top: 0px;">

        <div class="row-fluid">
          <div class="span8">

            <div class="tab-content">
              <div class="tab-pane active" id="whenTabGps">

                <h3>Enter information</h3>
                <p class="muted" style="padding-bottom: 10px;">
                  <i>
                    There is a timestamp from a GPS encoded in this file. It is the best quality time that can be achived and thus no manual time information needs to be entered.
                  </i>
                </p>

                <div class="alert alert-info">
                  <h5>Information from file</h5>
                  <p class="muted" style="padding-left: 10px;">
                    2011-07-01 14:17:24Z
                  </p>
                </div>
              </div>

              <div class="tab-pane" id="whenTabExif">

                <h3>Enter information</h3>
                <p class="muted" style="padding-bottom: 10px;">
                  <i>
                    There is a date and time encoded in this file. This time is based on the date and time of the camera at the moment the file was created. Unfortunately this information does not contain any timezone information which therefore must be entered manually. Daylight savings must also be considered, if the camera automatically adjusts it's time during the daylight savings period.
                  </i>
                </p>

                <div class="alert alert-info">
                  <h5>Information from file</h5>
                  <p class="muted" style="padding-left: 10px;">
                    2011-07-01 14:17:24
                  </p>

                  <h5>Enter the timezone information from the camera</h5>
                  <p class="muted">
                    <i>
                      If this file has a defined camera and that camera has a set timezone that information will be used. But if not it must be entered manually here.
                    </i>
                  </p>
                  <p>
                    <select data-bind="foreach: timezones, value: nodeModel.overlayModel.whenManualTimezone" style="width: 100%;">
                      <option data-bind="attr: { value: $data.offset }, text: $data.name"></option>
                    </select>
                  </p>

                  <h5>Enter daylight savings information for the camera</h5>
                  <p class="muted">
                    <i>
                      If this file has a defined camera and that camera has a flag that states if the camera adjust automatically or not that information will be used. But if not it must be entered manually here.
                    </i>
                  </p>
                  <p>
                    <label class="checkbox">
                      <input type="checkbox"> Camera adjusts for daylight savings automatically
                    </label>
                  </p>
                </div>

              </div>

              <div class="tab-pane" id="whenTabManual">

                <h3>Enter information</h3>
                <p class="muted" style="padding-bottom: 10px;">
                  <i>
                    There is no information about when this file was created which means that you have to enter all information manually. Daylight savings are assumed to be in affect if the date is in the summer period.
                  </i>
                </p>

                <div class="alert alert-info">
                  <h5>Select date</h5>
                  <p class="muted">
                    <input type="date" style="width: 100%">
                  </p>

                  <h5>Select time</h5>
                  <p class="muted">
                    <input type="time" style="width: 100%">
                  </p>

                  <h5>Select timezone</h5>
                  <p>
                    <select data-bind="foreach: timezones, value: nodeModel.overlayModel.whenManualTimezone" style="width: 100%;">
                      <option data-bind="attr: { value: $data.offset }, text: $data.name"></option>
                    </select>
                  </p>
                </div>

              </div>

              <div class="tab-pane" id="whenTabUncertain">

              </div>
            </div>

          </div>
          <div class="span4">

            <h3>Presentation</h3>
            <p class="muted">
              <i>
                To be able to display the the time in local time where the item was created you must select the timezone where this item was created. If this item has a position set that will be used to determine the timezone automatically.
              </i>
            </p>
            <p style="padding-bottom: 10px;">
              <select data-bind="foreach: timezones, value: nodeModel.overlayModel.whenManualTimezone" style="width: 100%;">
                <option data-bind="attr: { value: $data.offset }, text: $data.name"></option>
              </select>
            </p>

            <h4>Resulting date and time</h4>
            <div class="alert alert-success" style="margin-bottom: 0px;">
              <h5>UTC Timestamp</h5>
              <p class="muted" style="padding-left: 10px;">
                1234567890123
              </p>
              <h5>Formated time UTC</h5>
              <p class="muted" style="padding-left: 10px;">
                Monday, April 25th 2011 08:02:40 +00:00
              </p>
              <h5>Formated time where you are now</h5>
              <p class="muted" style="padding-left: 10px;">
                Monday, April 25th 2011 08:01:40 +01:00
              </p>
              <h5>Formated time where item was created</h5>
              <p class="muted" style="padding-left: 10px;">
                Monday, April 25th 2011 08:01:40 +01:00
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer" style="position: absolute; bottom: 0px; left: 0px; right: 0px;">
      <p class="pull-left text-error" data-bind="visible: nodeModel.groupAccessErrorText() != '', text: nodeModel.groupAccessErrorText"></p>
      <button dclass="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

</div>
