<span class="dropdown">
    <span data-toggle="dropdown" data-bind="css: { 'dropdown-toggle': editable }">
        <i class="material-icons" style="margin-right: -1px; margin-bottom: -1px;" data-bind="visible: icon, text: icon"></i>
        <span data-bind="visible: !onlyicon(), text: nicevalue"></span>
    </span>

    <span class="dropdown-select-empty" data-toggle="dropdown" data-bind="text: 'Select ' + nicename(), css: { 'dropdown-toggle': editable }, visible: value() === '' && editable()"></span>

    <span class="dropdown-select-empty" data-bind="text: 'No ' + nicename(), visible: value() === '' && !editable()"></span>

    <ul class="dropdown-menu" data-bind="foreach: options">
        <li>
            <a href="#" data-bind="click: $component.change.bind($data, $data.name)">
                <i class="material-icons" data-bind="visible: $data.icon, text: $data.icon" style="margin-right: 10px;"></i>
                <span data-bind="text: $data.title"></span>
            </a>
        </li>
    </ul>
</span>
