<div class="animated fadeInRight">
  <div class="page-header">
    <h1>Search by name <i class="fa fa-spinner fa-spin" data-bind="visible: loading"></i></h1>
  </div>

  <div class="name-search">
    <form class="form" role="search" data-bind="submit: submit">
      <div class="input-group">
        <input name="query" type="search" class="form-control" placeholder="Enter name to search for" data-bind="textInput: queryString, disable: loading">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" data-bind="disable: loading">Search</button>
        </span>
      </div>
    </form>
  </div>

  <node_list params="{ type: type, list: list }"></node_list>
</div>
