<div class="main-overlay" data-bind="slideVisible: nodeModel.relationsModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-retweet icon-white"></i> Relations</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>
