<script type="text/html" id="personRelationsTemplate">
  <div style="display: table-row">
    <!-- ko foreach: $data.family.parentList -->
      <div style="text-align: center; display: table-cell;">
        <div data-bind="template: { name: 'personRelationsTemplate', data: $data }"></div>
      </div>
    <!-- /ko -->
  </div>

  <div style="display: table-row">
    <div class="well" style="width: 25px; height: 25px; margin: auto; margin-bottom: 10px; display-table: cell;" data-bind="textNodeAttribute: [ $data._id(), 'name' ]"></div>
  </div>
</script>

<div class="main-overlay" data-bind="slideVisible: nodeModel.relationsModel.show">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-retweet icon-white"></i> Relations</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

   <!-- <div data-bind="if: nodeModel.node().type() === 'person'" style="display: table;">
      <div data-bind="template: { name: 'personRelationsTemplate', data: nodeModel.node }" style="text-align: center;"></div>
    </div>-->

  </div>
  <div class="main-overlay-background"></div>
</div>
