<div data-bind="fadeVisible: tagsModel.show">
  <div class="abs-max content">
    <div class="page-header">
      <h1>Browsing tags <small>Shows all tags and their usage</small></h1>
    </div>

    <div class="alert alert-error" data-bind="visible: tagsModel.error() !== '', text: tagsModel.error"></div>

    <ul class="list-group">
      <!-- ko foreach: tagsModel.data -->
        <li class="list-group-item">
          <span class="badge" data-bind="text: $data.count"></span>
          <a href="#" data-bind="text: $data.name, attr: { href: '#search:tag=' + $data.name }"></a>
        </li>
      <!-- /ko -->
    </ul>

  </div>

  <div class="abs-max background"></div>
</div>
