
<div id="dialogDownload" class="modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" aria-hidden="true" data-bind="disable: dialogModel.downloadModel.loading, click: dialogModel.downloadModel.hide">&times;</button>
        <h4 class="modal-titel">Download archive <small>Create and download all files</small></h4>
      </div>

      <div class="modal-body" style="text-align: center;">
        <button class="btn btn-primary btn-lg" data-bind="click: dialogModel.downloadModel.create, disable: dialogModel.downloadModel.loading, visible: dialogModel.downloadModel.archiveId() === false, text: dialogModel.downloadModel.loading() ? 'Creating archive...' : 'Create archive'"></button>

        <a class="btn btn-success btn-lg" data-bind="disable: dialogModel.downloadModel.loading, visible: dialogModel.downloadModel.archiveId() !== false, attr: { href: '/download?id=' + dialogModel.downloadModel.archiveId() }" href="#">Download archive</a>
      </div>

      <div class="modal-footer">
        <p class="pull-left text-danger" data-bind="visible: dialogModel.downloadModel.errorText() != '', text: dialogModel.downloadModel.errorText"></p>
        <button class="btn btn-default" data-bind="disable: dialogModel.downloadModel.loading, click: dialogModel.downloadModel.hide">Close</button>
      </div>
    </div>
  </div>
</div>
