<div>
    <div class="loader" data-bind="visible: loading"></div>
    <default-navbar></default-navbar>

    <div data-bind="if: showPath">
        <node-fullscreen params="{ showPath: showPath, list: list }"></node-fullscreen>
    </div>

    <div class="page-container" data-bind="lazyload: true">
        <div class="container">
            <div class="row" data-bind="if: page() !== 'node', visible: page() !== 'node'">
                <div data-bind="if: loggedIn">
                    <div class="col-md-2 sidebar">
                        <div data-bind="if: page() !== 'node'">
                            <default-sidebar></default-sidebar>
                        </div>
                    </div>
                    <div class="col-md-10 main">
                        <div data-bind="if: page() === 'news' || page() === 'default'">
                            <feed-page></feed-page>
                        </div>
                        <div data-bind="if: page() === 'search'">
                            <search-page-search></search-page-search>
                        </div>
                        <div data-bind="if: page() === 'year'">
                            <search-page-year></search-page-year>
                        </div>
                        <div data-bind="if: page() === 'labels'">
                            <search-page-labels></search-page-labels>
                        </div>
                        <div data-bind="if: page() === 'charts'">
                            <statistics-page-charts></statistics-page-charts>
                        </div>
                        <div data-bind="if: page() === 'login'">
                            <auth-page-login></auth-page-login>
                        </div>
                        <div data-bind="if: page() === 'profile'">
                            <auth-page-profile></auth-page-profile>
                        </div>
                        <div data-bind="if: page() === 'reset'">
                            <auth-page-reset></auth-page-reset>
                        </div>
                    </div>
                </div>
                <div data-bind="if: !loggedIn()">
                    <div class="col-md-12">
                        <div data-bind="if: page() === 'reset'">
                            <auth-page-reset></auth-page-reset>
                        </div>
                        <div data-bind="if: page() !== 'reset'">
                            <auth-page-login></auth-page-login>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-bind="if: page() === 'node', visible: page() === 'node'">
                <div class="col-md-12 page-node">
                    <node-page></node-page>
                </div>
            </div>
        </div>
    </div>
</div>
