


<script type="text/html" id="dialogComponentTagsTemplate">
  <div>
    <form data-bind="submit: $data.submitHandler" style="margin: 0px; margin-right: 10px;">
      <input class="input-large" placeholder="Write tag name..." type="text" data-bind="disable: $data.disabled, value: $data.tagName" style="width: 100%;"/>
    </form>

    <div data-bind="foreach: $data.value">
      <span class="label label-success">
        <span data-bind="text: $data"></span>
        &nbsp;
        <a href="#" style="color: white;" data-bind="click: $parent.removeHandler">×</a>
      </span>
    </div>
  </div>
</script>
