<form id="dialogAlbumNode" class="modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-titel" data-bind="visible: dialogModel.albumNodeModel.id() === false">Create an album</h4>
        <h4 class="modal-titel" data-bind="visible: dialogModel.albumNodeModel.id() !== false">Edit album</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <input class="form-control" placeholder="Write a name..." type="text" data-bind="disable: dialogModel.albumNodeModel.disabled, value: dialogModel.albumNodeModel.name"/>
        </div>

        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#dialogAlbumNodeTabDescription" data-toggle="tab">About</a></li>
            <li><a href="#dialogAlbumNodeTabTrackedBy" data-toggle="tab">Tracked By</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="dialogAlbumNodeTabDescription">
              <div class="form-group">
                <div data-bind="template: { name: dialogModel.albumNodeModel.descriptionModel.template(), data: dialogModel.albumNodeModel.descriptionModel }"></div>
              </div>
            </div>
            <div class="tab-pane active" id="dialogAlbumNodeTabTrackedBy">
              <div class="form-group">
                <div data-bind="template: { name: dialogModel.albumNodeModel.trackedByModel.template(), data: dialogModel.albumNodeModel.trackedByModel }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="pull-left text-danger" data-bind="visible: dialogModel.albumNodeModel.errorText() != '', text: dialogModel.albumNodeModel.errorText"></p>
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" data-bind="click: dialogModel.albumNodeModel.saveHandler">Save</a>
      </div>
    </div>
  </div>
</form>
