
<script type="text/html" id="organizeItemsListTemplate">
  <div data-bind="foreach: $data">
    <div class="media itemLine" draggable="true" style="margin-top: 1px;" data-bind="style: { backgroundColor: ($index() % 2 === 0 ? 'white' : 'transparent') }, event: { dragstart : organizeModel.dragStart, dragend: organizeModel.dragEnd }">
      <img style="width: 40px; height: 40px;" class="media-object pull-left" data-bind="srcPicture: [ $data._id, 40, 40, 1, $data.modified.timestamp ]">
      <div class="media-body">
        <h6 class="media-heading" style="margin: 0px;" data-bind="text: $data.name()"></h6>
        <div class="muted" style="font-size: 10px;">
          -
          <span data-bind="visible: $data.added.timestamp() === $data.modified.timestamp()">
            added
          </span>
          <span data-bind="visible: $data.added.timestamp() !== $data.modified.timestamp()">
            last modified
          </span>
          <span data-bind="htmlTimeAgo: $data.modified.timestamp()"></span> by <span data-bind="textUserAttribute: [ $data.modified._by(), 'name' ]"></span>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="organizeItemsIconsTemplate">
  <div data-bind="foreach: $data">
    <div class="thumbnail pull-left" style="margin-right: 10px; margin-bottom: 10px; background-color: white;" draggable="true" data-bind="event: { dragstart : organizeModel.dragStart, dragend: organizeModel.dragEnd }">
      <img draggable="false" style="width: 80px; height: 80px; margin-top: 10px;" class="imgRounded" data-bind="srcPicture: [ $data._id, 80, 80, 1, $data.modified.timestamp ]">
      <div class="caption" style="text-align: center; font-size: 10px; font-weight: bold; white-space: nowrap; width: 80px; overflow: hidden; text-overflow: ellipsis;" data-bind="text: $data.name(), attr: { title: $data.name() }"></div>
    </div>
  </div>
</script>

<div data-bind="fadeVisible: organizeModel.show">
  <div class="abs-max content">
    <div class="page-header">
      <h1>Organize <small>Move or link items between nodes</small></h1>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <input placeholder="Search for node..." type="text" style="width: 150px; margin-bottom: 7px;" class="pull-right" data-bind="disable: organizeModel.loading, typeahead: { items: 10, source: nodeModel.nodeTypeaheadSource, matcher: nodeModel.nodeTypeaheadMatcher, highlighter: nodeModel.nodeTypeaheadHighlighter, updater: organizeModel.leftPaneTypeaheadUpdater }" data-provide="typeahead"/>

        <ul class="nav nav-tabs" style="font-size: 10px; margin-bottom: 10px;" data-bind="foreach: organizeModel.leftNodes">
          <li data-bind="css: { active: organizeModel.leftActiveNode() !== false && organizeModel.leftActiveNode()._id() === $data._id() }">
            <a href="#" data-bind="text: $data.name, click: organizeModel.leftSetActiveNode.bind($data, $data)"></a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active clearfix" style="min-height: 100000px;" data-bind="event: { drop: organizeModel.dragDropLeft, dragover: organizeModel.dragOver }">

            <div class="navbar" style="margin-bottom: 10px;" data-bind="if: organizeModel.leftActiveNode() !== false">
              <div class="navbar-inner">
                <ul class="nav">
                  <li data-bind="css: { active: organizeModel.mode() === 'move' }">
                    <a href="#" title="Move mode" data-bind="click: organizeModel.setMoveMode"><i class="icon-move"></i></a>
                  </li>
                  <li data-bind="css: { active: organizeModel.mode() === 'link' }">
                    <a href="#" title="Link mode" data-bind="click: organizeModel.setLinkMode"><i class="icon-link"></i></a>
                  </li>
                  <li class="divider-vertical"></li>
                  <li data-bind="css: { active: organizeModel.display() === 'organizeItemsListTemplate' }">
                    <a href="#" title="Link mode" data-bind="click: organizeModel.setDisplayList"><i class="icon-th-list"></i></a>
                  </li>
                  <li data-bind="css: { active: organizeModel.display() === 'organizeItemsIconsTemplate' }">
                    <a href="#" title="Link mode" data-bind="click: organizeModel.setDisplayIcons"><i class="icon-th-large"></i></a>
                  </li>
                </ul>
                <ul class="nav pull-right">
                  <li><a href="#" title="Goto" data-bind="hrefFirst: [ 'node', organizeModel.leftActiveNode()._id() ]"><i class="icon-share-alt"></i></a></li>
                  <li><a href="#" title="Close" data-bind="click: organizeModel.leftCloseActive">×</a></li>
                </ul>
              </div>
            </div>

            <div data-bind="template: { name: organizeModel.display(), data: organizeModel.leftNodeItems }"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <input placeholder="Search for node..." type="text" style="width: 150px; margin-bottom: 7px;" class="pull-right" data-bind="disable: organizeModel.loading, typeahead: { items: 10, source: nodeModel.nodeTypeaheadSource, matcher: nodeModel.nodeTypeaheadMatcher, highlighter: nodeModel.nodeTypeaheadHighlighter, updater: organizeModel.rightPaneTypeaheadUpdater }" data-provide="typeahead"/>

        <ul class="nav nav-tabs" style="font-size: 10px; margin-bottom: 10px;" data-bind="foreach: organizeModel.rightNodes">
          <li data-bind="css: { active: organizeModel.rightActiveNode() !== false && organizeModel.rightActiveNode()._id() === $data._id() }">
            <a href="#" data-bind="text: $data.name, click: organizeModel.rightSetActiveNode.bind($data, $data)"></a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active clearfix" style="min-height: 100000px;" data-bind="event: { drop: organizeModel.dragDropRight, dragover: organizeModel.dragOver }">

            <div class="navbar" style="margin-bottom: 10px;" data-bind="if: organizeModel.rightActiveNode() !== false">
              <div class="navbar-inner">
                <ul class="nav">
                  <li data-bind="css: { active: organizeModel.mode() === 'move' }">
                    <a href="#" title="Move mode" data-bind="click: organizeModel.setMoveMode"><i class="icon-move"></i></a>
                  </li>
                  <li data-bind="css: { active: organizeModel.mode() === 'link' }">
                    <a href="#" title="Link mode" data-bind="click: organizeModel.setLinkMode"><i class="icon-link"></i></a>
                  </li>
                  <li class="divider-vertical"></li>
                  <li data-bind="css: { active: organizeModel.display() === 'organizeItemsListTemplate' }">
                    <a href="#" title="Link mode" data-bind="click: organizeModel.setDisplayList"><i class="icon-th-list"></i></a>
                  </li>
                  <li data-bind="css: { active: organizeModel.display() === 'organizeItemsIconsTemplate' }">
                    <a href="#" title="Link mode" data-bind="click: organizeModel.setDisplayIcons"><i class="icon-th-large"></i></a>
                  </li>
                </ul>
                <ul class="nav pull-right">
                  <li><a href="#" title="Goto" data-bind="hrefFirst: [ 'node', organizeModel.rightActiveNode()._id() ]"><i class="icon-share-alt"></i></a></li>
                  <li><a href="#" title="Close" data-bind="click: organizeModel.rightCloseActive">×</a></li>
                </ul>
              </div>
            </div>

            <div data-bind="template: { name: organizeModel.display(), data: organizeModel.rightNodeItems }"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="abs-max background"></div>
</div>
