<div data-bind="fadeVisible: nodeModel.toolsModel.show() && nodeModel.node() !== false">
  <div class="abs-max content" data-bind="if: nodeModel.node() !== false">
    <div class="page-header">
      <h1>Tools <small>Batch tools for working on a large number of items</small></h1>
    </div>

     <ul class="nav nav-tabs" style="margin-bottom: 20px;">
      <li data-bind="css: { active: nodeModel.toolsModel.tool() === 'set_camera' }">
        <a href="#" data-bind="hrefSecondSecondary: 'set_camera'">Set Camera</a>
      </li>
      <li data-bind="css: { active: nodeModel.toolsModel.tool() === 'hide_raw' }">
        <a href="#" data-bind="hrefSecondSecondary: 'hide_raw'">Hide Raw</a>
      </li>
    </ul>

    <div style="margin-bottom: 30px;" data-bind="visible: nodeModel.toolsModel.tool() === 'hide_raw'">

      <p class="page-description">
        The number of raw images which are not hidden behind another image are stated below. It is possible to hide them all in one go if a suitable parent can be found. Matching is done on name e.g. IMG123.CR2 will be hidden behind IMG123.JPG.
      </p>

      <div data-bind="visible: nodeModel.toolsModel.rawLoading" class="panel panel-loading">
        <i class="icon-spinner icon-spin icon-large"></i> Loading...
      </div>

      <table class="table table-condensed table-striped" data-bind="visible: !nodeModel.toolsModel.rawLoading()">
        <thead>
          <tr>
            <th>Not&nbsp;possible&nbsp;to&nbsp;hide</th>
            <th>Possible&nbsp;to&nbsp;hide</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-bind="text: nodeModel.toolsModel.rawCannotHide().length"></td>
            <td data-bind="text: nodeModel.toolsModel.rawCanHide().length"></td>
            <td>
              <button class="btn btn-xs btn-primary" data-bind="click: nodeModel.toolsModel.hideRaw, disable: nodeModel.toolsModel.rawLoading">Hide all possible</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="margin-bottom: 30px;" data-bind="visible: nodeModel.toolsModel.tool() === 'set_camera'">

      <p class="page-description">
        Below is a list of items grouped by camera identifiers such as serial number or model name read from the images exif data. If there is a camera found that matches the serial number or name it's name will be listed in the suggestion column. Under actions there is a button to set the suggested camera on all the images with matching exif data. Note that it will overwrite any previously set camera. If no suggested camera can be identified a button to create one based on the exif data is presented.
      </p>

      <div data-bind="visible: nodeModel.toolsModel.cameraIdentifiersLoading" class="panel panel-loading">
        <i class="icon-spinner icon-spin icon-large"></i> Loading...
      </div>

      <table class="table table-condensed table-striped" data-bind="visible: !nodeModel.toolsModel.cameraIdentifiersLoading()">
        <thead>
          <tr>
            <th>Count</th>
            <th>Type</th>
            <th>Identifier</th>
            <th>Matched&nbsp;Camera</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: nodeModel.toolsModel.cameraIdentifiers">
          <tr>
            <td data-bind="text: $data._itemIds.length"></td>
            <td data-bind="text: $data.type"></td>
            <td data-bind="text: $data.unique"></td>
            <td>
              <span data-bind="if: $data._with !== false">
                <span data-bind="popoverNode: $data._with, textNodeAttribute: [ $data._with, 'name' ]"></span>
              </span>
              <span data-bind="if: $data._with === false">
                <i>No suggestion</i>
              </span>
            </td>
            <td>
              <button class="btn btn-xs btn-primary" data-bind="click: nodeModel.toolsModel.setCamera, visible: $data._with !== false, disable: nodeModel.toolsModel.cameraIdentifiersLoading">Set camera</button>
              <button class="btn btn-xs btn-primary" data-bind="click: nodeModel.toolsModel.withCreateFromExif, visible: $data._with === false && $data.type !== 'none', disable: nodeModel.toolsModel.cameraIdentifiersLoading">Create camera</button>
            </td>
          </tr>
        </tbody>
      </table>


      <!--<table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>File</th>
            <th>Exif</th>
            <th>Suggestion</th>
            <th>Current</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: nodeModel.toolsModel.items">
          <tr>
            <td>
              <img data-bind="srcPicture: [ $data.item._id, 250, 250, 1, $data.item.cacheId ], attr: { title: $data.item.name }" src="" alt="" style="width: 80px; height: 80px;">
            </td>
            <td>
              <span data-bind="if: $data.item.exif.Model">
                <span data-bind="text: $data.item.exif.Model"></span>
              </span>
            </td>
            <td>
              <span data-bind="if: $data._with() !== false">
                <span data-bind="popoverNode: $data._with(), textNodeAttribute: [ $data._with(), 'name' ]"></span>
              </span>
              <span data-bind="if: $data._with() === false">
                <i>No suggestion</i>
              </span>
            </td>
            <td>
              <span data-bind="if: $data.item.with() !== false">
                <span data-bind="popoverNode: $data.item.with()._id, text: $data.item.with().name"></span>
              </span>
              <span data-bind="if: $data.item.with() === false">
                <i>No camera set</i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>-->

    </div>

  </div>
  <div class="abs-max background"></div>
</div>
