
<style tyoe="text/css">
  .dialogComponentNodeListBox {
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: whiteSmoke;
  }

  .dialogComponentNodeListBoxSelected {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }
</style>


<script type="text/html" id="dialogComponentNodeListItemTemplate">
  <div data-bind="foreach: $data.nodes">
    <div class="media nodeBox dialogComponentNodeListBox" style="margin-top: 10px;" data-bind="click: $parent.model.selectHandler, css: { dialogComponentNodeListBoxSelected: $parent.model.selected() === $data._id() && $parent.type === 'main' }, style: { cursor: ($parent.model.selectable() && $parent.type === 'main') || (!$parent.model.disabledSearch() && $parent.type === 'suggestion') ? 'pointer' : 'auto' }">
      <img style="width: 80px; height: 80px;" class="media-object pull-left" data-bind="srcNodeProfilePicture: [ $data._id, 80, 80, 1 ]">
      <div class="media-body" style="margin-top: 5px; padding: 5px;">
        <a class="pull-right" style="margin-right: 5px; text-decoration: none;" href="#" data-bind="click: $parent.model.removeHandler, visible: !$parent.model.disabledRemove() && $parent.type === 'main'"><i class="icon-trash"></i></a>
<!--         <a class="pull-right" style="margin-right: 5px; text-decoration: none;" href="#" data-bind="click: $parent.model.addHandler, visible: !$parent.model.disabledSearch() && $parent.type === 'suggestion'"><i class="icon-plus"></i></a>-->
        <span class="pull-left">
          <i style="vertical-align: center;" class="icon-book" data-bind="visible: $data.type() === 'album'"></i>
          <i style="vertical-align: center;" class="icon-user" data-bind="visible: $data.type() === 'person'"></i>
          <i style="vertical-align: center;" class="icon-camera" data-bind="visible: $data.type() === 'camera'"></i>
          <i style="vertical-align: center;" class="icon-truck" data-bind="visible: $data.type() === 'vehicle'"></i>
          <i style="vertical-align: center;" class="icon-flag" data-bind="visible: $data.type() === 'location'"></i>
        </span>
        <h6 class="media-heading" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0px;" data-bind="text: $data.name()"></h6>
        <div class="muted" style="font-size: 10px;">
          -
          <span data-bind="visible: $data.added.timestamp() === $data.modified.timestamp()">
            added
            </span>
          <span data-bind="visible: $data.added.timestamp() !== $data.modified.timestamp()">
            last modified
            </span>
          <span data-bind="htmlTimeAgo: $data.modified.timestamp()"></span> by <span data-bind="textUserAttribute: [ $data.modified._by, 'name' ]"></span>
        </div>
        <div data-bind="foreach: $data.tags" style="white-space: nowrap; width: 240px; overflow: hidden; text-overflow: ellipsis;">
          <span class="label label-success" style="font-size: 9px;" data-bind="text: $data"></span>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="dialogComponentNodeListTemplate">
  <div style="margin-right: 10px;">
    <input placeholder="Search..." type="text" style="width: 100%; margin-bottom: 0px;" data-bind="disable: $data.disabledSearch, typeahead: { items: 10, source: $data.typeaheadSource, matcher: $data.typeaheadMatcher, highlighter: $data.typeaheadHighlighter, updater: $data.typeaheadUpdater }" data-provide="typeahead"/>
  </div>
  <div data-bind="template: { name: 'dialogComponentNodeListItemTemplate', data: { nodes: $data.nodes, model: $data, type: 'main' } }"></div>

  <div data-bind="visible:  $data.suggestionsNodes().length > 0">
    <h4>Suggestions</h4>
    <div data-bind="template: { name: 'dialogComponentNodeListItemTemplate', data: { nodes: $data.suggestionsNodes, model: $data, type: 'suggestion' } }"></div>
  </div>
</script>
