<div title="Enter login information">
  <form>
    <div class="popup-form-section">
      <label class="popup-form-section-label" for="username">Username</label>
      <input class="popup-form-input popup-form-section-input ui-corner-all" type="text" name="username" value=""/>
    </div>
    
    <div class="popup-form-section">
      <label class="popup-form-section-label" for="password">Password</label>
      <input class="popup-form-input popup-form-section-input ui-corner-all" type="password" name="password" value=""/>
    </div>
  </form>
</div>