<div class="main-overlay" data-bind="slideVisible: todoModel.show">
  <div class="main-overlay-content">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-check icon-white"></i> Tags</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefFirstPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="well" style="padding-bottom: 0px;">
      <p>
        Here is a list of things that are note completed yet and might give a lesser user experience or missing functionallity. Items marked in green are complete and the red ones are not yet done. If you have suggestions for improvements please send them to the administrator and they might be added to this list.
      </p>
      <div data-bind="foreach: todoModel.items">
        <div class="alert alert-block" data-bind="css: { 'alert-error': !$data.done, 'alert-success': $data.done }">
          <h4 class="alert-heading" data-bind="text: ($index() + 1) + '. ' + $data.title"></h4>
          <p data-bind="html: $data.description"></p>
        </div>
      </div>
    </div>

  </div>

  <div class="main-overlay-background"></div>
</div>
