<div class="main-overlay" data-bind="slideVisible: adminModel.show">
  <div class="main-overlay-content">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand" style="padding-left: 35px;">Administration</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefFirstPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="well">
      <div class="row-fluid">
        <div class="span6">
          <h4>Groups <button rel="tooltip" title="Create group" class="btn btn-link btn-mini" href="#saveGroupModal" data-toggle="modal">Create</button></h4>

          <!-- ko foreach: adminModel.groups -->

          <div class="well" draggable="true" style="padding: 10px">
            <div style="font-weight: bold;" data-bind="text: $data.name"></div>
            <div data-bind="text: $data.description"></div>
          </div>

          <!-- /ko -->
        </div>

        <div class="span6">
          <h4>Users <button rel="tooltip" title="Create user" class="btn btn-link btn-mini" href="#saveUserModal" data-toggle="modal">Create</button></h4>

          <!-- ko foreach: adminModel.users -->

          <div class="well" draggable="true" style="padding: 10px">
            <div class="pull-right">
              <button rel="tooltip" title="Change password" class="btn btn-mini pull-right" href="#userChangePasswordModal" data-toggle="modal">Change password</button>
              <br/>
              <button rel="tooltip" title="Connect person" class="btn btn-mini pull-right" href="#userFindPersonModal" data-toggle="modal">Connect person</button>
            </div>
            <img draggable="false" src="" alt="" style="width: 40px; height: 40px;" class="pull-left" data-bind="srcNodeProfilePicture: [ $data._person(), 40, 40, 1 ]"/>
            <div style="padding-left: 50px; font-weight: bold;" data-bind="text: $data.name"></div>
            <div style="padding-left: 50px;" data-bind="text: $data.username"></div>
          </div>

          <!-- /ko -->
          
        </div>
      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>

<form class="modal" id="saveGroupModal" tabindex="-1" role="dialog" aria-labelledby="saveGroupModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: adminModel.groupSaveSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="saveGroupModalLabel" data-bind="text: adminModel.groupSaveId() === false ? 'Create group' : 'Edit group'"></h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="groupSaveName" style="width: 515px;" data-bind="disable: adminModel.groupSaveLoading, value: adminModel.groupSaveName"/>
      <textarea placeholder="Description" name="groupSaveDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: adminModel.groupSaveLoading, value: adminModel.groupSaveDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: adminModel.groupSaveErrorText() != '', text: adminModel.groupSaveErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<form class="modal" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="saveUserModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: adminModel.userSaveSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="saveUserModalLabel" data-bind="text: adminModel.userSaveId() === false ? 'Create user' : 'Edit user'"></h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="userSaveName" style="width: 515px;" data-bind="disable: adminModel.userSaveLoading, value: adminModel.userSaveName"/>
      <input placeholder="Username" type="text" name="userSaveUsername" style="width: 515px;" data-bind="disable: adminModel.userSaveLoading, value: adminModel.userSaveUsername"/>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: adminModel.userSaveErrorText() != '', text: adminModel.userSaveErrorText"></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
