<div class="main-overlay" data-bind="slideVisible: adminModel.show() && currentUser() && currentUser().admin()">
  <div class="main-overlay-content">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand" style="padding-left: 35px;">Administration</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefFirstPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="well">
      <div class="row-fluid">
        <div class="span7">
          <h4>Groups <button rel="tooltip" title="Create group" class="btn btn-link btn-mini" href="#saveGroupModal" data-toggle="modal">Create</button></h4>

          <table class="table table-condensed table-hover">
            <tbody>

            <!-- ko foreach: adminModel.groups -->
              <tr>
                <td>
                  <blockquote style="margin-bottom: 0px;">
                    <p>
                      <span data-bind="text: $data.name"></span>
                      <button rel="tooltip" title="Edit" class="btn btn-mini btn-link pull-right" href="#saveGroupModal" data-toggle="modal" data-bind="click: adminModel.groupEditClicked">Edit</button>
                      <button rel="tooltip" title="Edit" class="btn btn-mini btn-link pull-right" data-bind="click: adminModel.groupRemoveClicked">Remove</button>
                    </p>
                    <small data-bind="text: $data.description"></small>
                  </blockquote>
                </td>
                <td data-bind="event: { dragenter: murrix.dragNoopHandler, dragexit: murrix.dragNoopHandler, dragover: murrix.dragNoopHandler, drop: adminModel.groupDropUserHandler }" style="width: 250px;">

                  <div class="well" style="margin-bottom: 0px; overflow: auto; max-height: 200px; background-color: #F9F9F9">

                    <!-- ko if: adminModel.groupMarkDropZone() || adminModel.groupUsers($data)().length === 0 -->
                    <div class="text-warning" style="text-align: center;"><strong>Drop user here!</strong></div>
                    <!-- /ko -->

                    <!-- ko if: !adminModel.groupMarkDropZone() -->
                      <!-- ko foreach: adminModel.groupUsers($data) -->
                        <div><i style="cursor: pointer;" title="Remove user from group" data-bind="click: adminModel.groupRemoveUserHandler.bind($data, $parent)" class="icon-remove"></i>&nbsp;<span data-bind="text: $data.name"></span></div>
                        <!-- /ko --> <!-- /ko -->
                    <!-- /ko -->
                  </div>
                  
                </td>
              </tr>
            <!-- /ko -->

            </tbody>
          </table>

        </div>

        <div class="span5">
          <h4>Users <button rel="tooltip" title="Create user" class="btn btn-link btn-mini" href="#saveUserModal" data-toggle="modal">Create</button></h4>

          <table class="table table-condensed table-striped table-hover">
            <tbody>

            <!-- ko foreach: adminModel.users -->
              <tr data-bind="css: { info: $data.admin }">
                <td>
                  <img draggable="false" src="" alt="" style="width: 44px; height: 44px;" class="pull-left" data-bind="srcUserProfilePicture: [ $data._id(), 44, 44, 1 ]"/>
                  <blockquote style="margin-left: 52px; margin-bottom: 0px;" draggable="true" data-bind="event: { dragstart : $parent.adminModel.userDragStart, dragend: $parent.adminModel.userDragEnd }">
                    <p>
                      <span data-bind="text: $data.name"></span>
                      <button rel="tooltip" title="Change password" class="btn btn-mini btn-link pull-right" href="#adminChangePasswordModal" data-toggle="modal" data-bind="click: adminModel.changePasswordClicked.bind($data, $data._id)">Password</button>
                      <button rel="tooltip" title="Edit" class="btn btn-mini btn-link pull-right" href="#saveUserModal" data-toggle="modal" data-bind="click: adminModel.userEditClicked"">Edit</button>
                      <button rel="tooltip" title="Edit" class="btn btn-mini btn-link pull-right" data-bind="click: adminModel.userRemoveClicked">Remove</button>
                    </p>
                    <p style="color: #999; font-size: 11px; padding-right: 8px;" class="pull-right" data-bind="visible: !$data.lastLogin()">User has never logged in<p>
                    <p style="color: #999; font-size: 11px; padding-right: 8px;" class="pull-right" data-bind="visible: $data.lastLogin()">User logged in <span data-bind="htmlTimeAgo: $data.lastLogin()"></span></p>
                    <small data-bind="text: $data.username"></small>
                  </blockquote>
              </tr>
            <!-- /ko -->

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>

<form class="modal" id="adminChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="adminChangePasswordModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: adminModel.changePasswordSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="adminChangePasswordModalLabel">Change password</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Password" type="password" name="password1" style="width: 515px;" data-bind="disable: adminModel.changePasswordLoading, value: adminModel.changePasswordPassword1"/>
      <input placeholder="Repeat password" type="password" name="password2" style="width: 515px;" data-bind="disable: adminModel.changePasswordLoading, value: adminModel.changePasswordPassword2"/>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: adminModel.changePasswordErrorText() != '', text: adminModel.changePasswordErrorText"></p>
    <button data-bind="disable: adminModel.changePasswordLoading" type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: adminModel.changePasswordLoading" type="submit" class="btn btn-primary">Change</button>
  </div>
</form>

<form class="modal" id="saveGroupModal" tabindex="-1" role="dialog" aria-labelledby="saveGroupModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: adminModel.groupSaveSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="saveGroupModalLabel" data-bind="text: adminModel.groupSaveId() === false ? 'Create group' : 'Edit group'"></h3>
  </div>
  <div class="modal-body">
      <input placeholder="Name" type="text" name="groupSaveName" style="width: 515px;" data-bind="disable: adminModel.groupSaveLoading, value: adminModel.groupSaveName"/>
      <textarea placeholder="Description" name="groupSaveDescription" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="disable: adminModel.groupSaveLoading, value: adminModel.groupSaveDescription"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: adminModel.groupSaveErrorText() != '', text: adminModel.groupSaveErrorText"></p>
    <button data-bind="disable: adminModel.groupSaveLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: adminModel.groupSaveLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<form class="modal" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="saveUserModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: adminModel.userSaveSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="saveUserModalLabel" data-bind="text: adminModel.userSaveId() === false ? 'Create user' : 'Edit user'"></h3>
  </div>
  <div class="modal-body">
    <input placeholder="Name" type="text" name="userSaveName" style="width: 515px;" data-bind="disable: adminModel.userSaveLoading, value: adminModel.userSaveName"/>
    <input placeholder="Username" type="text" name="userSaveUsername" style="width: 515px;" data-bind="disable: adminModel.userSaveLoading, value: adminModel.userSaveUsername"/>

    <input placeholder="Search for person" type="text" id="adminUserPersonInput" name="adminUserPersonInput" style="width: 515px;" data-bind="disable: adminModel.userSaveLoading" data-provide="typesearch"/>

    <div data-bind="if: adminModel.userSavePerson() !== false">
      <img class="pull-left img-polaroid" draggable="false" src="" alt="" style="width: 44px; height: 44px;" data-bind="srcNodeProfilePicture: [ adminModel.userSavePerson(), 44, 44, 1 ]"/>
      <h5 style="padding-left: 60px"><span data-bind="textNodeAttribute: [ adminModel.userSavePerson(), 'name' ]"></span>&nbsp;<i style="cursor: pointer;" title="Disconnect person" data-bind="click: adminModel.userSaveClearPerson" class="icon-remove"></i></h5>
    </div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: adminModel.userSaveErrorText() != '', text: adminModel.userSaveErrorText"></p>
    <button data-bind="disable: adminModel.userSaveLoading" class="btn" data-dismiss="modal" type="button" aria-hidden="true">Cancel</button>
    <button data-bind="disable: adminModel.userSaveLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
