<form class="ui-form murrix-menu-form murrix-menu-column-content">
  {{if result_code}}
    <div class="murrix-menu-account-user-text">
      Sign in failed with error <span class="murrix-menu-highlight">{{:result_code}}</span>!
    </div>
    
    <br/>
    
    <input class="ui-button" type="submit" name="submit" value="Try again"/>
  {{else}}
    {{if user}}
      <div class="murrix-menu-account-user-text">
        You are <span class="murrix-menu-highlight">{{:user.name}}</span>!
      </div>
      
      <br/>

      <input class="ui-button" type="submit" name="submit" value="Sign out"/>
    {{else}}
      <label class="murrix-menu-subtitle" for="murrix-menu-account-form-username">Username</label>
      <input class="murrix-menu-input ui-corner-all" type="text" id="murrix-menu-account-form-username" name="murrix-menu-account-form-username" value=""/>
      
      <label class="murrix-menu-subtitle" for="murrix-menu-account-form-password">Password</label>
      <input class="murrix-menu-input ui-corner-all" type="password" id="murrix-menu-account-form-password" name="murrix-menu-account-form-password" value=""/>

      <br/>
      
      <input class="ui-button" type="submit" name="submit" value="Sign in"/>
    {{/if}}
  {{/if}}
</form>