<div class="main-overlay" data-bind="slideVisible: newsModel.show">
  <div class="main-overlay-content">

<!--    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-bullhorn icon-white"></i> News</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefFirstPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>-->

    <div class="clearfix" data-bind="template: { name: 'nodeBoxTemplate', foreach: newsModel.nodes }"></div>

  </div>
  <div class="main-overlay-background"></div>
</div>
