
@import "pages/default/styles/theme.css";

.nodeContainer {
    margin-top: var(--navbar-height);
}

.pageContainer {
    border-left: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;

    & .pageColumn {
        padding-bottom: 0 !important;
    }

    & .pageSidebar {
        padding: var(--spacing);
        border-left: 1px solid #d4d4d5;

        & .sidebarHeader {
            color: #2185d0;
        }

        & .sidebarInformationTable {
            font-size: 0.8em !important;
        }
    }
}
