
@import "pages/default/styles/theme.css";

.nodeContainer {
    margin-top: var(--navbar-height);
}

.pageContainer {
    border-left: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;
    border-bottom: 1px solid #d4d4d5;
    display: flex;
    /* padding: var(--spacing); */

    & .pageColumn {
        padding-bottom: 0 !important;
    }

    & .pageSidebar {
        padding: var(--spacing);
        padding-bottom: calc(var(--spacing) - 10px);
        border-right: 1px solid #d4d4d5;

        & .sidebarHeader {
            color: #2185d0;
        }

        & .sidebarInformationTable {
            font-size: 0.8em !important;
        }
    }

    & .pageMain {
        padding: var(--spacing);
        flex-grow: 1;
    }
}

.accessText {
    font-size: 0.8em;
}

.editTableHeader {
    font-size: 0.9em;
}

.userAvatar {
    float: left;
}

.shareUsersToggle {
    float: right;
    padding-top: 2.2em;
}
