<div class="main-overlay" data-bind="slideVisible: nodeModel.commentsModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="if: nodeModel.node() !== false">

    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-comment icon-white"></i> Comments</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="well" style="padding-bottom: 0px;">
      <table class="table table-condensed table-striped table-hover">
        <tbody>

          <tr>
            <td class="media">
              <a class="pull-left" href="#">
                <span data-bind="if: currentUser() !== false">
                  <img class="media-object img-polaroid" src="" alt="" style="width: 123px; height: 123px;" data-bind="srcUserProfilePicture: [ currentUser()._id(), 123, 123, 1 ]"/>
                </span>
                <span data-bind="if: currentUser() === false">
                  <img class="media-object img-polaroid" src="" alt="" style="width: 123px; height: 123px;" data-bind="srcUserProfilePicture: [ false, 123, 123, 1 ]"/>
                </span>
              </a>
              <div class="media-body">
                <blockquote style="margin-bottom: 0px; min-height: 133px;">
                  <form style="margin-bottom: 0px; position: relative;" data-bind="submit: nodeModel.commentsModel.commentSubmit">
                    <textarea style="position: absolute; left: 0px; right: 0px; height: 80px;" placeholder="Write a comment..." data-bind="hasfocus: true, disable: nodeModel.commentsModel.commentLoading, value: nodeModel.commentsModel.commentText"></textarea>
                    <div style="position: absolute; left: 0px; right: 0px; top: 100px;">
                      <span class="text-error pull-left" data-bind="disable: nodeModel.commentsModel.commentLoading, text: nodeModel.commentsModel.commentErrorText"></span>
                      <button type="submit" class="btn btn-primary pull-right">Comment</button>
                    </div>
                  </form>
                </blockquote>
              </div>
            </td>
          </tr>

          <!-- ko foreach: nodeModel.node().comments -->
            <tr>
              <td class="media">
                <a class="pull-left" href="#">
                  <img class="media-object img-polaroid" src="" alt="" style="width: 123px; height: 123px;" data-bind="srcUserProfilePicture: [ $data.added._by(), 123, 123, 1 ]"/>
                </a>
                <div class="media-body">
                  <blockquote style="margin-bottom: 0px; min-height: 133px;">
                    <div style="padding-bottom: 5px; min-height: 100px;" data-bind="text: $data.text"></div>
                    <small><span data-bind="htmlTimeAgo: $data.added.timestamp()"></span> by <span data-bind="textUserAttribute: [ $data.added._by(), 'name' ]"></span></small>
                  </blockquote>
                </div>
              </td>
            </tr>
          <!-- /ko -->

        </tbody>
      </table>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>
