<div class="main-overlay" data-bind="slideVisible: nodeModel.commentsModel.show">
  <div class="main-overlay-content" data-bind="if: nodeModel.node">
  
    <div class="navbar navbar-color navbar-inverse">
      <div class="navbar-inner">
        <span class="brand" style="padding-left: 35px;">Comments</span>
        <ul class="nav pull-right">
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid well" style="width: auto;">
      <div class="span2">
        <img src="" alt="" style="width: 133px; height: 133px;" data-bind="if: userModel.currentUserNode(), srcNodeProfilePicture: [ userModel.currentUserNode()._id(), 133, 133, 1 ]"/>
      </div>
      <blockquote class="span8" style="margin-bottom: 0px">
        <form style="margin-bottom: 0px;" data-bind="submit: nodeModel.commentsModel.commentSubmit">
          <textarea style="width: 572px; height: 80px;" placeholder="Write a comment..." data-bind="hasfocus: true, disable: nodeModel.commentsModel.commentLoading, value: nodeModel.commentsModel.commentText"></textarea><br/>
          <span class="text-error pull-left" data-bind="disable: nodeModel.commentsModel.commentLoading, text: nodeModel.commentsModel.commentErrorText"></span>
          <button type="submit" class="btn btn-primary pull-right">Comment</button>
        </form>
      </blockquote>
    </div>

    <!-- ko foreach: nodeModel.node().comments -->

    <div class="row-fluid well" style="width: auto;">
      <div class="span2">
        <img src="" alt="" style="width: 133px; height: 133px;" data-bind="srcNodeProfilePicture: [ $data._addedBy(), 133, 133, 1 ]"/>
      </div>
      <blockquote class="span8" style="margin-bottom: 0px">
        <div style="padding-bottom: 5px;" data-bind="text: $data.text"></div>
        <small><span data-bind="htmlTimeAgo: $data.addedDatetime"></span> by <a data-bind="textNodeAttribute: [ $data._addedBy(), 'name' ]"></a></small>
      </blockquote>
    </div>

    <!-- /ko --> 

  </div>
  <div class="main-overlay-background"></div>
</div>
