<div data-bind="fadeVisible: nodeModel.commentsModel.show() && nodeModel.node() !== false">
  <div class="abs-max content" data-bind="if: nodeModel.node() !== false">
    <div class="page-header">
      <h1>Comments <small>Please write something</small></h1>
    </div>

    <div style="margin-bottom: 50px; margin-top: 20px;">

      <form class="panel panel-primary" data-bind="submit: nodeModel.commentsModel.commentSubmit">
        <div class="panel-heading">
          <h3 class="panel-title">Write a comment</h3>
        </div>

        <div class="media-body clearfix" style="margin-bottom: -5px; height: 130px; position: relative;">
          <img class="img-thumbnail" src="" style="width: 125px; height: 125px; position: absolute; top: 0px; left: 0px;" data-bind="srcUserProfilePicture: [ currentUser() !== false ? currentUser()._id() : false, 250, 250, 1 ]">

          <div style="position: absolute; top: 0px; left: 140px; right: 0px; bottom: 0px;">
            <textarea style="height: 125px;" class="form-control" placeholder="Write a comment..." data-bind="hasfocus: true, disable: nodeModel.commentsModel.commentLoading, value: nodeModel.commentsModel.commentText"></textarea>
          </div>
        </div>

        <div class="panel-footer clearfix">
          <button type="submit" class="btn btn-primary btn-small pull-right">Comment</button>
        </div>

      </form>

      <!-- ko foreach: nodeModel.node().comments -->
        <div class="panel">
          <div class="panel-heading">

            <h3 class="panel-title">
              <span data-bind="textUserAttribute: [ $data.added._by(), 'name' ]"></span> wrote...
            </h3>

          </div>

          <div class="media-body clearfix" style="margin-bottom: -5px;">
            <img class="img-thumbnail pull-left" src="" style="width: 125px; height: 125px; margin-right: 15px; margin-bottom: 5px;" data-bind="srcUserProfilePicture: [ $data.added._by(), 250, 250, 1 ]">

            <div data-bind="text: $data.text"></div>
          </div>

          <div class="panel-footer">
            <span data-bind="htmlTimestamp: $data.added.timestamp()"></span>
          </div>

        </div>

      <!-- /ko -->
    </div>



<!--
              <a class="pull-left" href="#">
                <span data-bind="if: currentUser() !== false">
                  <img class="media-object img-polaroid" src="" alt="" style="width: 123px; height: 123px;" data-bind="srcUserProfilePicture: [ currentUser()._id(), 123, 123, 1 ]"/>
                </span>
                <span data-bind="if: currentUser() === false">
                  <img class="media-object img-polaroid" src="" alt="" style="width: 123px; height: 123px;" data-bind="srcUserProfilePicture: [ false, 123, 123, 1 ]"/>
                </span>
              </a>
              <div class="media-body">
                <blockquote style="margin-bottom: 0px; min-height: 133px;">
                  <form style="margin-bottom: 0px; position: relative;" data-bind="submit: nodeModel.commentsModel.commentSubmit">
                    <textarea style="position: absolute; left: 0px; right: 0px; height: 80px;" placeholder="Write a comment..." data-bind="hasfocus: true, disable: nodeModel.commentsModel.commentLoading, value: nodeModel.commentsModel.commentText"></textarea>
                    <div style="position: absolute; left: 0px; right: 0px; top: 100px;">
                      <span class="text-error pull-left" data-bind="disable: nodeModel.commentsModel.commentLoading, text: nodeModel.commentsModel.commentErrorText"></span>
                      <button type="submit" class="btn btn-primary pull-right">Comment</button>
                    </div>
                  </form>
                </blockquote>
              </div>-->




  </div>
  <div class="abs-max background"></div>
</div>
