
@import "./fonts.css";

:root {
    --navbar-height: 54px;
    --spacing: 20px;
    --spacing-small: 10px;
    --secondary-color: #636c72;
}

body {
    overflow-y: scroll;
}

body.fullscreen {
    overflow: hidden !important;
}

small {
    font-style: italic;
    color: #888;
}
