
<form id="dialogVehicleNode" class="modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-titel" data-bind="visible: dialogModel.vehicleNodeModel.id() === false">Create a vehicle</h4>
        <h4 class="modal-titel" data-bind="visible: dialogModel.vehicleNodeModel.id() !== false">Edit vehicle</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <input class="form-control" placeholder="Write a name..." type="text" data-bind="disable: dialogModel.vehicleNodeModel.disabled, value: dialogModel.vehicleNodeModel.name"/>
        </div>

        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#dialogVehicleNodeTabDescription" data-toggle="tab">About</a></li>
            <li><a href="#dialogVehicleNodeTabOwners" data-toggle="tab">Owners</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="dialogVehicleNodeTabDescription">
              <div class="form-group">
                <div data-bind="template: { name: dialogModel.vehicleNodeModel.descriptionModel.template(), data: dialogModel.vehicleNodeModel.descriptionModel }"></div>
              </div>
            </div>
            <div class="tab-pane" id="dialogVehicleNodeTabOwners">
              <div class="form-group">
                <div data-bind="template: { name: dialogModel.vehicleNodeModel.ownersModel.template(), data: dialogModel.vehicleNodeModel.ownersModel }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="pull-left text-danger" data-bind="visible: dialogModel.vehicleNodeModel.errorText() != '', text: dialogModel.vehicleNodeModel.errorText"></p>
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" data-bind="click: dialogModel.vehicleNodeModel.saveHandler">Save</a>
      </div>
    </div>
  </div>
</form>
