<div class="main-overlay" data-bind="slideVisible: nodeModel.contentModel.show() && nodeModel.node()">
  <div class="main-overlay-content" data-bind="event: { dragenter: murrix.dragNoopHandler, dragexit: murrix.dragNoopHandler, dragover: murrix.dragNoopHandler, drop: nodeModel.contentModel.dragDropHandler }">

    <div class="navbar navbar-inverse navbar-color">
      <div class="navbar-inner">
        <span class="brand" style="padding-left: 35px;">Content</span>
        <ul class="nav pull-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Menu
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="margin-right: 46px;">
              <li><a href="#">Create text</a></li>
              <li class="divider"></li>
              <li><h5 style="margin-left: 20px;">View mode</h5></li>
              <li><a href="#">Thumbnails</a></li>
              <li><a href="#">Document</a></li>
              <li><a href="#">List</a></li>
            </ul>
          </li>
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <ul class="thumbnails" data-bind="foreach: nodeModel.items">
      <li class="">
        <a href="#" draggable="true" class="thumbnail-picture" data-bind="hrefSecondSecondary: $data._id(), event: { dragstart : $parent.nodeModel.dragStart, dragend: $parent.nodeModel.dragEnd }">
          <img data-bind="attr: { src: '/preview?id=' + $data._id() + '&amp;width=120&amp;height=120&amp;square=1', title: $data.name }" src="img/120x120_spinner.gif" alt="">
        </a>
      </li>
    </ul>

  </div>
  <div class="main-overlay-background"></div>
</div>

<div class="modal" id="itemUploadModal" tabindex="-1" role="dialog" aria-labelledby="itemUploadModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button data-bind="fadeVisible: nodeModel.contentModel.uploadComplete" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="itemUploadModalLabel">Upload</h3>
  </div>
  <div class="modal-body">
    <table class="table table-condensed table-striped">
      <thead>
        <th>Filename</th>
        <th>Filesize</th>
        <th>Progress</th>
      </thead>
      <tbody>

      <!-- ko foreach: nodeModel.contentModel.uploadFiles -->
        <tr>
          <td data-bind="text: $data.name"></td>
          <td data-bind="htmlSize: $data.size"></td>
          <td class="progress" style="width: 300px" data-bind="css: { 'progress-success': $data.progress() === 100 && !$data.failed(), 'progress-striped': $data.progress() !== 100 && !$data.failed(), 'progress-danger': $data.failed(), active: $data.progress() !== 100 && !$data.failed() }">
            <div class="bar" data-bind="style: { width: $data.progress() + '%' }, text: $data.statusText() === '' ? $data.progress() + '%' : $data.statusText()" style="width: 0%;"></div>
          </td>
        </tr>
      <!-- /ko -->

      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.contentModel.uploadErrorText() != '', text: nodeModel.contentModel.uploadErrorText"></p>
    <button data-bind="enable: nodeModel.contentModel.uploadComplete" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
