<div class="main-overlay" data-bind="slideVisible: nodeModel.contentModel.show() && nodeModel.node(), if: nodeModel.node() !== false">
  <div class="main-overlay-content" data-bind="event: { dragenter: murrix.dragNoopHandler, dragexit: murrix.dragNoopHandler, dragover: murrix.dragNoopHandler, drop: nodeModel.contentModel.dragDropHandler }">

    <div class="navbar navbar-inverse navbar-color">
      <div class="navbar-inner">
        <span class="brand"><i style="vertical-align: baseline;" class="icon-th icon-white"></i> Content</span>
        <ul class="nav pull-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Menu
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="margin-right: 46px;">
              <li data-bind="visible: nodeModel.node().hasAdminAccess()">
                <a style="padding-left: 25px;" rel="tooltip" title="Create text" href="#textItemEditModal" data-toggle="modal">Create text</a>
              </li>
              <li data-bind="visible: nodeModel.node().hasAdminAccess()" class="divider"></li>
              <li>
                <h5 style="margin-left: 25px;">View mode</h5>
              </li>
              <li>
                <a style="padding-left: 25px;" href="#" data-bind="style: { paddingLeft: nodeModel.contentModel.viewMode() === 'thumbnail' ? '5px' : '25px' }, click: nodeModel.contentModel.setViewMode.bind($data, 'thumbnail')">
                  <i class="icon-ok" data-bind="visible: nodeModel.contentModel.viewMode() === 'thumbnail'"></i> Thumbnail
                </a>
                </li>
              <li>
                <a style="padding-left: 25px;" href="#" data-bind="style: { paddingLeft: nodeModel.contentModel.viewMode() === 'log' ? '5px' : '25px' }, click: nodeModel.contentModel.setViewMode.bind($data, 'log')">
                  <i class="icon-ok" data-bind="visible: nodeModel.contentModel.viewMode() === 'log'"></i> Log
                </a>
              </li>
              <li>
                <a style="padding-left: 25px;" href="#" data-bind="style: { paddingLeft: nodeModel.contentModel.viewMode() === 'list' ? '5px' : '25px' }, click: nodeModel.contentModel.setViewMode.bind($data, 'list')">
                  <i class="icon-ok" data-bind="visible: nodeModel.contentModel.viewMode() === 'list'"></i> List
                </a>
              </li>
            </ul>
          </li>
          <li><a class="pull-right close" data-bind="hrefSecondPrimary: ''" style="font-size: 30px">×</a></li>
        </ul>
      </div>
    </div>

    <div data-bind="if: nodeModel.contentModel.viewMode() === 'thumbnail'">
      <ul class="thumbnails" data-bind="foreach: nodeModel.items">
        <li class="">
          <a href="#" draggable="true" style="color: white;" class="thumbnail-picture" data-bind="hrefSecondSecondary: $data._id(), event: { dragstart : $parent.nodeModel.dragStart, dragend: $parent.nodeModel.dragEnd }">
            <span data-bind="if: $data.whatDetailed() === 'imageFile' || $data.whatDetailed() === 'videoFile'">
              <img data-bind="srcPicture: [ $data._id, 250, 250, 1 ], attr: { title: $data.name }" src="" alt="">
            </span>
            <span data-bind="if: $data.whatDetailed() === 'audioFile'">
              <div style="width: 248px; height: 248px; background-color: black; border: 1px solid whiteSmoke;">
                <div style="padding: 10px;">
                  <span data-bind="text: $data.name" style="width: 100%; overflow: hidden; text-overflow: ellipsis; display: inline-block;"></span>
                </div>
              </div>
            </span>
            <span data-bind="if: $data.whatDetailed() === 'text'">
              <div style="width: 248px; height: 248px; background-color: black; border: 1px solid whiteSmoke;">
                <div style="padding: 10px;">
                  <span data-bind="text: $data.name" style="width: 100%; overflow: hidden; text-overflow: ellipsis; display: inline-block;"></span>
                </div>
              </div>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div data-bind="if: nodeModel.contentModel.viewMode() === 'log'">
      <div data-bind="foreach: nodeModel.logItems" style="margin: 10px;">
        <div class="" style="padding-bottom: 0px; padding-top: 0px; color: white;">
          <h4 data-bind="htmlTimestampToDate: $data.datestamp" style="border-bottom: 1px solid white;"></h4>

          <div data-bind="foreach: $data.texts">
            <div style="font-weight: bold; margin-bottom: 5px;">
              <a style="color: white;" href="#" data-bind="hrefSecondSecondary: $data._id()">
                <i class="icon-time icon-white"></i>
                <span data-bind="htmlTimestampToTime: $data.whenTimestamp"></span>
                -
                <span data-bind="text: $data.name"></span>
              </a>
              <a href="#" data-bind="visible: nodeModel.node().hasAdminAccess(), click: nodeModel.contentModel.textItemEditOpen"><i class="icon-pencil icon-white"></i></a>
            </div>
            <p data-bind="html: $data.text"></p>
          </div>

          <div data-bind="foreach: $data.audio">
            <div style="font-weight: bold; margin-bottom: 5px;">
              <a style="color: white;" href="#" data-bind="hrefSecondSecondary: $data._id()">
                <i class="icon-headphones icon-white"></i>
                <span data-bind="text: $data.name"></span>
              </a>
            </div>
          </div>

          <ul class="thumbnails" data-bind="foreach: $data.media">
            <li class="">
              <a href="#" draggable="true" class="thumbnail-picture" data-bind="hrefSecondSecondary: $data._id()">
                <img data-bind="srcPicture: [ $data._id, 80, 80, 1 ], attr: { title: $data.name }" src="" alt="" style="width: 80px; height: 80px;">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div data-bind="if: nodeModel.contentModel.viewMode() === 'list'">
      <div class="well">
        <table class="table table-hover">
          <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Created on</th>
            <th>Created by</th>
            <th>Created with</th>
          </thead>
          <tbody data-bind="foreach: nodeModel.items">
            <tr>
              <td>
                <a style="cursor: pointer;" data-bind="text: $data.name, hrefSecondSecondary: $data._id"></a>
              </td>
              <td data-bind="text: $data.what"></td>
              <td data-bind="htmlTimestampToDate: $data.whenTimestamp"></td>
              <td>
                <a style="cursor: pointer;" data-bind="text: $data.who().name, hrefFirst: [ 'node', $data.who()._id ]"></a>
              </td>
              <td>
                <a style="cursor: pointer;" data-bind="text: $data.with().name, hrefFirst: [ 'node', $data.with()._id ]"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="main-overlay-background"></div>
</div>

<div class="modal" id="itemUploadModal" tabindex="-1" role="dialog" aria-labelledby="itemUploadModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button data-bind="fadeVisible: nodeModel.contentModel.uploadComplete" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="itemUploadModalLabel">Upload</h3>
  </div>
  <div class="modal-body">
    <table class="table table-condensed table-striped">
      <thead>
        <th>Filename</th>
        <th>Filesize</th>
        <th>Progress</th>
      </thead>
      <tbody>

      <!-- ko foreach: nodeModel.contentModel.uploadFiles -->
        <tr>
          <td data-bind="text: $data.name"></td>
          <td data-bind="htmlSize: $data.size"></td>
          <td class="progress" style="width: 300px" data-bind="css: { 'progress-success': $data.progress() === 100 && !$data.failed(), 'progress-striped': $data.progress() !== 100 && !$data.failed(), 'progress-danger': $data.failed(), active: $data.progress() !== 100 && !$data.failed() }">
            <div class="bar" data-bind="style: { width: $data.progress() + '%' }, text: $data.statusText() === '' ? $data.progress() + '%' : $data.statusText()" style="width: 0%;"></div>
          </td>
        </tr>
      <!-- /ko -->

      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.contentModel.uploadErrorText() != '', text: nodeModel.contentModel.uploadErrorText"></p>
    <button data-bind="enable: nodeModel.contentModel.uploadComplete" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<form class="modal" id="textItemEditModal" tabindex="-1" role="dialog" aria-labelledby="textItemEditModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: nodeModel.contentModel.textItemEditSubmit">
  <div class="modal-header">
    <button data-bind="disable: nodeModel.contentModel.textItemEditLoading" type="textItemEditModalLabel" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="textItemEditModalLabel">Text details</h3>
  </div>
  <div class="modal-body">
    <input placeholder="Name" type="text" name="name" style="width: 515px;" data-bind="value: nodeModel.contentModel.textItemEditName, disable: nodeModel.contentModel.textItemEditLoading"/>
     <textarea placeholder="Text" name="text" style="width: 515px; height: 200px; margin-bottom: 0px" data-bind="value: nodeModel.contentModel.textItemEditText, disable: nodeModel.contentModel.textItemEditLoading"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: nodeModel.contentModel.textItemEditErrorText() != '', text: nodeModel.contentModel.textItemEditErrorText"></p>
    <button data-bind="disable: nodeModel.contentModel.textItemEditLoading" class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: nodeModel.contentModel.textItemEditLoading" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
