
@import "pages/default/styles/theme.css";

.navbar {
    height: var(--navbar-height);
}

.navbarStarIcon {
    position: absolute;
    right: 22px;
    top: 13px;

    & i {
        outline-color: transparent;
    }
}

.starMenuText {
    text-overflow: ellipsis;
    overflow: hidden;
}
