<div class="main-overlay-big" data-bind="fadeVisible: userModel.show, if: userModel.currentUserNode">
  <div class="main-overlay-content">
    <div class="page-header">
      <a class="btn btn-primary pull-right" href="#">Close</a>

      <h1>Profile</h1>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <h2>Information</h2>
        <p>
           
        </p>
      </div>
      <div class="span6">
        <h2>Group memberships</h2>
        <ul data-bind="foreach: userModel.groupNodeList">
          <li data-bind="text: name"></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="well sidebar-nav-background"></div>
</div>

<form class="modal" id="userChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="userChangePasswordModalLabel" aria-hidden="true" style="display: none;" data-bind="submit: userModel.changePasswordSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="userChangePasswordModalLabel">Change password</h3>
  </div>
  <div class="modal-body">
      <input placeholder="Password" type="text" name="password1" style="width: 515px;" data-bind="hasfocus: true, disable: userModel.changePasswordLoading, value: userModel.changePasswordPassword1"/>
      <input placeholder="Repeat password" type="text" name="password2" style="width: 515px;" data-bind="disable: userModel.changePasswordLoading, value: userModel.changePasswordPassword2"/>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: userModel.changePasswordErrorText() != '', text: userModel.changePasswordErrorText"></p>
    <button data-bind="disable: userModel.changePasswordLoading" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button data-bind="disable: userModel.changePasswordLoading" class="btn btn-primary">Change</button>
  </div>
</form>